.search
  &-results
    .profile 
      padding: 0 $baseUnit*1.7 $baseUnit*1.7

    .teaser
      padding: $baseUnit*1.7
      border-top: $baseUnit*0.1 solid $colourGreyLighter

      &-body
        p
          margin-bottom: $baseUnit*0.5
          word-wrap: break-word

          a
            text-decoration: none

      &:last-of-type
        border-bottom: $baseUnit*0.1 solid $colourGreyLighter

      &.best-bet 
        background: $colourLinkWater
        padding: 0 $baseUnit*1.7 $baseUnit*1.7 $baseUnit*1.7

        .teaser-body 
          h1 
            &.teaser-title 
              margin-top: $baseUnit*1.5
            
      &.teaser-curation
        border: solid $baseUnit*0.2 $colourGallery
        padding: $baseUnit*1.5            

    .search-result-url
      color: $colourGreyDarkest

      &:hover 
        color: $colourLinkHover

    &-count
      font-size: 0.875rem
      font-family: $brandFamily
    
    .accordion
      .accordion-toggle
        font-family: $brandFamily
        font-size: 1.6875rem
        line-height: map-get($font34, 'line-height')
        color: $colourRed
        padding: 0

        .icon
          @include square(map-get($svgWidths, 'md'))
          fill: $colourRed
          margin: 0 0 0 $baseUnit

      .accordion-inner 
        padding: 0
          
  &-facet
    margin-bottom: $baseUnit*2

    h4 
      cursor: pointer
      margin-bottom: $baseUnit

    ul 
      padding: 0
      margin: 0
      float: left
      width: 100%

      li 
        margin: 0
        padding: 0
        list-style: none
        width: 100%
        float: left

        a 
          margin: 0
          list-style: none
          width: auto
          border-bottom: solid $baseUnit*0.1 $colourWhite
          padding: $baseUnit
          display: block
          text-decoration: none

          &:hover 
            background: $colourSilver
          
        &.selected 
          background: $colourMercury

          a 
            background: $colourMercury

            &:hover 
              background: $colourWhite
        
        .icon 
          @include square(map-get($svgWidths, 'sm'))
          float: left
          margin: $baseUnit*0.4 $baseUnit 0 0 

@import 'search-lg-up'