@media #{$breakpoint-lg-up}
  .search
    &-results 
      .teaser 
        a 
          &:focus 
            background-color: $colourSweetCorn
            text-decoration: none

            img 
              outline: $baseUnit*0.3 solid $colourSweetCorn
          
    &-facet 
      .main-facet 
        a 
          &:focus 
            background-color: $colourTransparent