$downloadImageWidth: 100px

.download 
  @include clearfix()
  margin: 0 0 $baseUnit 0
  padding: 0 0 ($baseUnit*2) 0
  border-bottom: ($baseUnit*0.2) solid $colourTintLightest

  &-link,
  &-description,
  &-date
    margin-bottom: $baseUnit

  .download-title
    margin-bottom: 0
    font-family: $boldFontFamily
    font-size: map-get($font25, 'size')
    line-height: map-get($font25, 'line-height')
  
    a 
      color: $colourRed

    &:hover
      color: $colourRed

    &:after
      content: ""

  &-image
    margin: 0
    padding: 0
    float: left
    width: $downloadImageWidth

  &-date
    color: $colourGrey
    font-family: $TeeFranklinGothicLightOblFamily
    font-style: normal

    em
      font-style: normal

  &.with-image
    .download
      &-image 
        img
          width: $downloadImageWidth
          position: relative
          margin: 0

      &-title,
      &-date,
      &-description,
      &-actions,
      &-category
        margin-left: calc(#{$downloadImageWidth} + #{$baseUnit*2})

      &-category
        margin-bottom: 0
        
  &-actions
    margin-bottom: 0