@media #{$breakpoint-md-up}
  .box
    &.box-calltoaction
      &.with-icon
        .box-header
          .icon
            @include square(map-get($svgWidths, 'xl'))

    &.box-inverse
      display: block

		&.box-feature
      &-large
        .box-body 
          .box-body
            &-title
              font-size: map-get($font28, 'size')
              line-height: map-get($font28, 'line-height')