.box
  @include border-radius(0)
  @include clearfix()
  padding: 0
  margin-bottom: $baseUnit*2
  display: block

  &.fill-height
    height: calc(100% - #{$baseUnit*2})

  &-header 
    @include clearfix()
    margin-top: 0
    margin-bottom: $baseUnit

    & + .box-body
      padding: 0

    .box-title 
      padding: $baseUnit*2 0 0 0
      font-family: $headingsFontFamilyLight
      font-size: map-get($font29, 'size')
      line-height: map-get($font29, 'line-height')
      margin-bottom: $baseUnit*0.5
      color: $colourRed

      a
        &:after
          content: ''
  
  &:first-child:not(.box-event)
    border-top: none
    
    .box-title
      padding: 0
    
    .icon
      margin-top: -$baseUnit*0.2

  &.with-icon 
    .icon
      @include square(24px)
      float: left
      position: relative
      top: $baseUnit*2.3
      left: 0
      margin-right: $baseUnit*0.2
      fill: $colourRed
      padding-right: $baseUnit*0.5
    
    .box-title 
      margin-left: $baseUnit*2.4

  &-body 
    padding: 0

    h3
      margin-bottom: $baseUnit*1.6

    p:last-of-type 
      margin-bottom: 0
    
    table:last-of-type 
      margin-bottom: 0

    .list,
    .list-links 
      margin-bottom: 0
    
    .form-actions 
      padding: 0
      background-color: transparent
      border-top: none
      margin-top: 0

    .form-inline,
    .form-horizontal
      margin-bottom: 0

      input,
      textarea,
      select
        margin-bottom: $baseUnit
    
    .lead
      font-family: $TeeFranklinGothicLightOblFamily
      font-style: italic
      font-size: map-get($font20, 'size')
      line-height: map-get($font17, 'line-height')
  
  .box-footer
    & > * 
      margin-bottom: 0

    a
      font-family: $TeeFranklinGothicLightOblFamily

      &.btn
        font-family: $baseFontFamily
        font-style: normal

        &:after
          content: ''
          margin-left: 0

  &-event
    padding: $baseUnit*1.5
    background-color: $colourWhite
    border: $baseUnit*0.1 solid $colourMercury
    margin-bottom: $baseUnit*2
    margin-right: 0
    position: relative
    
    &-date
      display: inline-block
      width: 40px
      color: $colourSolidBlack
      text-align: center
      vertical-align: top

      & > time
        display: block
        line-height: 1
      
      &-day
        font-family: $boldFontFamily
        font-size: 2.375rem

      &-month
        font-size: map-get($font20, 'size')
        margin-bottom: $baseUnit*0.5
      
      &-year
        font-size: map-get($font15, 'size')

    .box-body
      display: inline-block
      width: calc(100% - 60px)
      margin-left: $baseUnit*1.5
      vertical-align: top

      .box-title
        font-family: $headingsFontFamilyLight
        font-size: map-get($font18, 'size')
        line-height: map-get($font18, 'line-height')
        display: block
        margin-bottom: $baseUnit*0.5
        word-break: break-word
        overflow: hidden
        
        a
          color: $colourScienceBlue
          
          &:hover
            color: $colourLinkHover
      
      .list
        margin-bottom: 0

        .icon
          margin-top: -$baseUnit*0.4

      &-location,
      &-time
        color: $colourSolidBlack
        text-indent: -$baseUnit*2.4
        padding-left: $baseUnit*2.4

        a,
        span
          font-size: map-get($font14, 'size')
          text-decoration: none
          
        a
          color: $colourScienceBlue

          &:hover
            text-decoration: underline
            color: $colourLinkHover

  &.box-files
    .list-icons
      li 
        margin-bottom: $baseUnit*0.5

      .icon
        fill: $colourRed

  &-inverse
    background: $colourGallery
    display: none
    padding: $baseUnit*3 $baseUnit*2 $baseUnit*3.5

    .box-header
      .box-title
        font-size: map-get($font24, 'size')
        line-height: map-get($font24, 'line-height')
        font-family: $headingsFontFamilyLight
        letter-spacing: 0

    .box-body
      font-size: 1.125rem
      line-height: 1.625rem

  &.box-calltoaction
    border-top: $baseUnit*0.3 solid $colourGreyLighter

    &.with-image 
      border-top: none

    &.with-icon
      .box-header
        .box-title
          margin-left: 0

        .icon
          @include square(map-get($svgWidths, 'md'))
          margin-top: 0
          float: right
        
        .icon-siarad-cymraeg
          color: $colourEcstasy

    .box-footer
      margin-top: $baseUnit

  &-feature
    background-color: $colourSmoky
    position: relative
    padding: $baseUnit*2.5 $baseUnit*3 $baseUnit*3
    border-top: 0

    .box-header
      margin-bottom: $baseUnit*0.3

      .icon
        @include square(20px)
        vertical-align: text-top

        path
          fill: $colourWhite
          cursor: default

      .box-title
        font-family: $headingsFontFamilyLight
        display: inline-block
        font-size: map-get($font18, 'size')
        line-height: map-get($font18, 'line-height')
        color: $colourWhite
        padding: 0

        &:hover
          color: white

    .box-body 
      color: $colourWhite
      font-size: map-get($font15, 'size')
      line-height: map-get($font17, 'line-height')

      .box-body
        &-title
          font-family: $headingsFontFamilyLight
          color: $colourWhite
          font-size: 1.875rem
          line-height: 2.125rem
          margin-bottom: $baseUnit*1.5
      
      a:hover 
        color: $colourWhite

@import 'box-md-up'
@import 'box-lg-up'