<section class="content-group" aria-labelledby="homepage-events-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="content-group-title" id="homepage-events-title">Events</h2>
      </div>
      <div class="col-md-6 col-lg-3">${require('..//box/variations/box-event.html')}</div>
      <div class="col-md-6 col-lg-3">${require('..//box/variations/box-event.html')}</div>
      <div class="col-md-6 col-lg-3">${require('..//box/variations/box-event.html')}</div>
      <div class="col-md-6 col-lg-3">${require('..//box/variations/box-event.html')}</div>
      <div class="col-md-12 text-lg-right">
        <a href="https://intranet.cardiff.ac.uk/staff/get-involved/events"
          class="btn btn-more mt-20">View more events${require-svg('chevron-right')}</a>
      </div>
    </div>
  </div>
</section>