<div class="row">
  <div class="col-md-12">
    <div class="event-header" id="content-body">
      <p class="event-header-date">${require-svg('calendar')}<span class="sr-only">Price: </span> Tuesday 1 October
        2019</p>
      <h1>Transforming Professional Services - Research Support Workshop</h1>
    </div>
  </div>
</div>