<ul class="list list-steps-small">
    <li class="list-steps-small-item"><a href="#">List item</a></li>
    <li class="list-steps-small-item"><a href="#">List item two</a></li>
    <li class="list-steps-small-item"><a href="#">List item three</a></li>
</ul>