<ul class="list list-icons">
  <li><a href="#" title="Facebook">${require-svg('facebook')}Facebook</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}Twitter</a></li>
</ul>

<h2>List icons mini</h2>
<ul class="list list-icons icons-mini">
  <li><a href="#" title="Facebook">${require-svg('facebook')}Facebook</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}Twitter</a></li>
</ul>

<h2>List icons medium</h2>
<ul class="list list-icons icons-medium">
  <li><a href="#" title="Facebook">${require-svg('facebook')}Facebook</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}Twitter</a></li>
</ul>

<h2>List icons large</h2>
<ul class="list list-icons icons-large">
  <li><a href="#" title="Facebook">${require-svg('facebook')}Facebook</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}Twitter</a></li>
</ul>

<h2>List icons contact details</h2>
<ul class="list list-icons">
  <li>${require-svg('telephone')}+44 (0)29 2064 4900</li>
  <li><a href="mailto:info@feetinfocus.com" title="Email">${require-svg('email')}info@feetinfocus.com</a></li>
  <li><a href="http://www.feetinfocus.com" title="Website">${require-svg('globe')}Website</a></li>
  <li>${require-svg('lift-share')}20 Churchill Way Cardiff CF10 2DY</li>
</ul>