<ul class="list list-links" list-="">
  <li><a href="#">List item</a></li>
  <li><a href="#">List item two</a></li>
  <li><a href="#">List item three</a></li>
</ul>

<h2>Nested list links</h2>
<ul class="list list-links" list-="">
    <li><a href="#">List item</a></li>
    <li><a href="#">List item two</a></li>
    <li><a href="#">List item three</a></li>
    <ul class="list-links">
      <li><a href="#">List item</a></li>
      <li><a href="#">List item two</a></li>
      <li><a href="#">List item three</a></li>
    </ul>
  </ul>