.image
  margin: 0 0 ($baseUnit*2)
  display: block

  .caption
    background: $colourTintLightest
    padding: $baseUnit
    font-size: map-get($font17, "size")
    font-style: normal
    display: block
    caption-side: bottom 
    width: 100%
    color: $colourTintDarker

    span
      padding: 0 $baseUnit
      display: block

  img
    display: block
    max-width: 100%

    & + br
      display: none

  &.float-left
    margin: 0 ($baseUnit*2) ($baseUnit*2) 0

  &.float-right
    margin: 0 0 ($baseUnit*2) ($baseUnit*2)

img
  max-width: 100%
  height: auto
  vertical-align: middle
  border: 0