.list
  &.list-links
    margin: 0 0 ($baseUnit) 0
    padding: 0
    list-style: none
    
    li
      margin: 0 0 ($baseUnit / 2) 0
      
      a
        font-style: normal
        text-decoration: none

        &:hover
          text-decoration: underline

    .list-links
      margin-left: ($baseUnit*2)
      margin-top: ($baseUnit/2)

  &.list-horizontal
    @include clearfix()   
    list-style: none
    margin: 0 0 ($baseUnit*2) 0
    padding: 0
    
    li,
    dd,
    dt
      display: block
      float: left
      margin-right: ($baseUnit*2)

      a 
        text-decoration: none

        &:hover
          text-decoration: underline
    dt
      clear: left
  
  &.list-icons
    margin: 0
    
    li
      margin-right: $baseUnit
      list-style: none

      .icon
        fill: $colourRed
        margin: 0 $baseUnit $baseUnit*0.3 0
        padding-right: 0

      a 
        display: inline-block
        text-decoration: none

        &:hover
          text-decoration: underline

    &.icons-
      &medium
        li
          .icon
            @include square(map-get($svgWidths, 'md'))
            margin-right: ($baseUnit*2)
      
      &large
        li
          .icon
            @include square(map-get($svgWidths, 'lg'))
            margin-right: ($baseUnit*2.5)

      &mini
        li
          .icon
            @include square(map-get($svgWidths, 'sm'))
    
    .icon-tile
      @include square(map-get($svgWidths, 'md'))
      margin-right: ($baseUnit)

  &-contact
    list-style: none
    margin: 0 0 ($baseUnit*2) 0
    padding: 0
    font-family: $headingsFontFamily
    font-size: map-get($font15, 'size')
    line-height: map-get($font15, 'line-height')

    li
      margin-bottom: ($baseUnit / 2)
      clear: left

      a 
        text-decoration: none

        &:hover
          text-decoration: underline

    .icon
      float: left
      display: block
  
  &-event  
    &-details
      font-size: map-get($font16, "size")
      margin: 0 0 ($baseUnit) 0

    &-details,
    &-calendar
      padding: 0
      list-style: none

      li 
        margin: 0 0 ($baseUnit / 2) 0

        a
          font-style: normal
    
    &-calendar
      margin: 0 0 ($baseUnit*3) 0
      
  &-tags
    @include clearfix()
    list-style: none
    margin: 0 0 $baseUnit*1.5 0
    padding: 0

    &.teaser-tags 
      margin-top: $baseUnit
      margin-bottom: 0

  &-steps-small 
    list-style: none
    counter-reset: li
    margin-left: 0
    
    &-item 
      counter-increment: li
      position: relative
      padding: 0 0 0 ($baseUnit * 3)
      list-style: none
      min-height: ($baseUnit * 4)

      &:before
        content: counter(li) " "
        position: absolute
        top: 0
        left: 0
        width: ($baseUnit * 2)
        height: ($baseUnit * 2)
        border-radius: ($baseUnit * 2)
        line-height: ($baseUnit * 2)
        margin-right: ($baseUnit)
        color: $colourWhite
        background: $colourRed
        font-family: $boldFontFamily
        text-align: center
        font-size: map-get($font12, 'size')
        
  &-profiles
    @include clearfix()
    margin: 0
    padding: 0
    list-style: none
    
    .profile
      margin-bottom: $baseUnit

      a
        text-decoration: none

  &-teasers 
    @include clearfix()
    margin: 0 0 0 (-($baseUnit*2))
    padding: 0
    list-style: none

    .teaser 
      margin-bottom: $baseUnit

.form-new
  .list
    &.list-icons   
      li
        position: relative
        padding-left: ($baseUnit * 3)
        margin-bottom: ($baseUnit)

        .icon
          position: absolute
          top: 0
          left: 0

          &.colour-success
            color: $colourSuccess
            fill: $colourSuccess

@import list-lg-up