.nav.nav-tabs
  border-bottom: ($baseUnit * 0.1) solid $colourGreyLight
  margin-left: 0

  .nav-item
    font-family: $brandFamily
    margin: 0 ($baseUnit * 0.3) (-$baseUnit * 0.1) 0
  
    .nav-link
      @include border-radius(0)
      color: $colourBlack
      margin-top: ($baseUnit * 0.3)
      text-decoration: none
      padding: $baseUnit*0.8 $baseUnit*1.2
  
      &.active
        font-family: $boldFontFamily
        outline: 0
        border-top-width: ($baseUnit * 0.4)
        border-top-color: $colourRed
        margin: 0
        
      &:not(.active):hover
        border-top-width: ($baseUnit * 0.4)
        background: $colourGreyLighter
        margin: 0 
        border-top-color: $colourGreyLight

    &:last-child
      margin-right: 0

.tabbable.tabs-left
  .nav
    &.nav-tabs
      border-bottom: none
      border-right: $baseUnit*0.1 solid $colourGreyLight
      float: left
      margin-right: $baseUnit*1.9

      .nav-item
        margin: #{($baseUnit * 0.2)} #{(-$baseUnit * 0.1)} 0 0

        &:first-child
          margin: 0 (-$baseUnit*0.1) 0 0
        
        &:hover
          border-right: none 
          border-left: none

          .nav-link
            border-top: none
            border-bottom: none
  
        .nav-link
          margin: 0 0 0 $baseUnit*0.3

          &:hover
            border-left: $baseUnit*0.4 solid $colourGreyLight

          &:hover,
          &.active
            margin: 0
            border-top: $baseUnit*0.1 solid $colourGreyLight
            border-bottom: $baseUnit*0.1 solid $colourGreyLight
            border-right: $baseUnit*0.1 solid transparent

          &.active
            border-left: $baseUnit*0.4 solid $colourRed

.tab-content
  max-width: 100%
  
  > .tab-pane
    display: block

.js-loaded
  .tab-content
    > .tab-pane
      display: none

      &.active
        display: block

@import 'tab-sm-up'
@import 'tab-md-up'
@import 'tab-lg-up'