@media #{$breakpoint-md-up}
  .pagination
    .page-item
      .page-link
        padding: 0 ($baseUnit*1.2)

        &:focus

          outline: #{$baseUnit * 0.3} solid $colourSweetCorn

      &:first-child,
      &:last-child
        .page-link
          padding: 0
          
          &:focus
            outline: none
            box-shadow: 0 0 0 ($baseUnit * 0.3) $colourSweetCorn