.pagination
  @extend .justify-content-center
  @include box-shadow(none)
  margin: ($baseUnit*2.4) 0
  
  .icon
    @include square($baseUnit*3)  
    padding: ($baseUnit*0.7)
    fill: $colourGreyLight
    background: $colourGreyLighter
    margin-right: 0
    
  .page-item
    display: none

    &.active,
    &:first-child,
    &:last-child
      display: inline

    &:first-child,
    &:last-child
      .page-link
        @include border-radius(0)
        padding: 0
         
        &:hover
          background: $colourTransparent

        .icon
          margin-right: 0

          &:hover 
            background: $paginationIconHover

    &:first-child
      margin-right: ($baseUnit*2)

    &:last-child
      margin-left: ($baseUnit*2)
      
      .page-link  
        .icon
          margin-left: 0       
    
    &.active .page-link
      color: $colourWhite

      &:focus
        background-color: $colourBlack
        color: $colourWhite
    
    > .page-link:hover 
      color: $colourGreyDarker
      background-color: $colourPrimeGrey

    .page-link 
      text-decoration: none
      margin-left: 0

      .icon
        fill: $colourWhite
        background-color: $colourBtnLinkColour
   
@import 'pagination-xs-up'
@import 'pagination-md-up'  
@import 'pagination-lg-up'