<nav class="nav-global nav-homepage-primary d-none d-lg-block" aria-label="Primary navigation homepage">
  <div class="navbar">
    <ul class="nav nav-global-links d-md-flex">
      <li class="nav-item">
        <a class="nav-link with-dropdown text-wrap" href="#" aria-label="Support for your work">Support for your work</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Manage people and projects</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Line management guidance</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Project management</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Recruit new staff</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Employing and paying students</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Offering school work experience</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Internal audit</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Manage your office or lab</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Sending and receiving mail</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Portering services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Disposing of and recycling waste</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Requesting minor work</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Reporting a fault</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Cleaning services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Controlling heating and cooling</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Health, safety and environment</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Organise an event or meeting</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Find a room or learning space</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Videoconferencing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Catering and hospitality</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Planning an event</a></li>
                  </ul>
                </li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Research support</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Teach and support students</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Purchase services and goods</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">IT Support</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Honorary Fellows</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Our location</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown text-wrap" aria-label="Training and careers">Training and careers</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Courses and programmes for staff</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Staff courses</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Improve your Welsh</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Professorial Leadership Programme</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Cardiff futures</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Other development opportunities</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Workplace apprenticeships</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Mentoring</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Work abroad (Erasmus+)</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Civic engagement opportunities</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Your performance</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">About the PDR scheme</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Who PDR applies to</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Completing your PDR </a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Clinical academic appraisal and PDR</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Help for PDR reviewers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Performance expectations</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">For new staff</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Your first day</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Training for new starters</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Probation</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">How we support you</a></li>
                  </ul>
                </li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">How we support you</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Job Vacancies</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <section class="box box-inverse">
                <header class="box-header">
                  <h1 class="box-title"><a href="#">Complete your PDR</a></h1>
                </header>
                <div class="box-body">
                  <p>PDRs should be completed between 1 February - 31 May.</p>
                </div>
              </section>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="Leave and working hours">Leave and working hours</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Annual and special</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Annual leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Bereavement leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Study leave and leave of absence</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Emergency leave to support dependants</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Parental leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Time off for commitments and duties</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Time off for fertility treatment</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Career break</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Maternity, paternity and adoption leave</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Pregnancy and planning an adoption</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Maternity and adoption leave and pay</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Shared parental leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Paternity leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Keep in touch days</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Returning to work after maternity or adoption leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Surrogacy leave</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Sick leave</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Reporting sickness absence</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sick pay</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Returning to work after sickness</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">GP reports and medical examinations</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sickness absence and annual leave</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Monitoring levels of absence</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Long term sickness</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Being referred to Occupational Health</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Disability related sickness</a></li>
                  </ul>
                </li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Adverse weather conditions</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Flexible working</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Medical and dental appointments</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <section class="box box-inverse">
                <header class="box-header">
                  <h1 class="box-title"><a href="#">Mobilised Volunteer Reservists</a></h1>
                </header>
                <div class="box-body">
                  <p>
                    We are delighted to have signed the Armed Forces Covenant. Find out about what you need to do in work if you are a Volunteer
                    Reservist who is mobilised.
                  </p>
                </div>
              </section>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="Pay, perks and contracts">Pay, perks and contracts</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Your pay</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Personal /payroll details</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Timesheets</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Tax and other deductions</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Pay scales</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Senior staff pay</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Contracts and leaving the University</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Fixed terms contracts</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Clinical contracts</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Studentship contracts (PGR)</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Resignation</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Retirement</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Voluntary severance</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Perks and pensions</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Pensions</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Annual travel Loans</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">International staff loan scheme</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Cycle to work scheme</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Staff discounts and deals</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University car parking</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Childcare schemes</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Childcare salary sacrifice schemes</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Maternity/adoption pay and salary sacrifice</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">State benefits and salary sacrifice</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University Day Care Centre and salary sacrifice</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Tax free childcare</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Flexible working</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Trade unions and industrial action</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Workplace conduct and issues</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Redeployment</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <section class="box box-inverse">
                <header class="box-header">
                  <h1 class="box-title"><a href="#">Save with our Annual Travel Loans scheme</a></h1>
                </header>
                <div class="box-body">
                  <p>Our travel loans scheme can help you spread the cost of an annual ticket and apply ahead of 1 August.</p>
                </div>
              </section>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="Wellbeing and support">Wellbeing and support</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Wellbeing support for staff</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Employee assistance programme</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Wellbeing Workshops</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Self-help</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Dementia support</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Dealing with suicide</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Domestic abuse</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Reflective practice groups for postdoctoral researchers</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Disability support</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Disclosing your disability</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Reasonable adjustments</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Access to Work</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Disability support in libraries</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">For managers</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Local health care</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Chaplaincy, faith and religion</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Employee health checks</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Equality and diversity</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <section class="box box-inverse">
                <header class="box-header">
                  <h1 class="box-title"><a href="#">Care first</a></h1>
                </header>
                <div class="box-body">
                  <ul class="list list-links">
                    <li>Get free confidential help and support.</li>
                    <li>Freephone: +44 (0)80 017 4319</li>
                    <li>Outside the UK, call: +44 (0)14 5262 3243</li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="about the University">About the University</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">University structure</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">University executive board</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University staff and teams</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University committees</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Strategy and improvements</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">The Way Forward 2018-2023</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University projects</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Management of Change</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Finding your way round</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Find services and facilities</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University buildings</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Map</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Monitoring our performance</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">University accreditations</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">University acronyms</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Staff news</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <section class="box box-inverse">
                <header class="box-header">
                  <h1 class="box-title"><a href="#">Transforming Cardiff</a></h1>
                </header>
                <div class="box-body">
                  <p>
                    Transforming Cardiff will enable us to deliver on our ambitious strategic plan, The Way Forward 2018-23, in a way that is both
                    innovative and financially sustainable.
                  </p>
                </div>
              </section>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="More">More ${require-svg('chevron-down')}</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">People and teams</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Find people</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Team directory</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a href="#" class="nav-link nav-title">Get involved</a>
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Events</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Groups and networks</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Civic engagement opportunities</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Being green</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Bright ideas</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">PHEW</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Online tools</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Forms</a></li>
                <li class="nav-item no-children"><a href="#" class="nav-link nav-title">Policies</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </li>
    </ul>
  </div>
</nav>
