<nav class="nav-global nav-homepage-primary d-none d-lg-block" aria-label="Primary navigation homepage">
  <div class="navbar">
    <ul class="nav nav-global-links d-md-flex">
      <li class="nav-item">
        <a class="nav-link with-dropdown text-wrap" href="#" aria-label="Support for your work">Support for your
          work</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Manage people and projects"
                        aria-label="Manage people and projects">Manage people and projects</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/local-hr-representatives"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Local HR representatives" aria-label="Local HR representatives">
                            Local HR representatives
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/recruiting-new-staff"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Recruiting new University staff " aria-label="Recruiting new University staff ">
                            Recruiting new staff
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/services-archived-information-architecture/for-line-managers"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Line management guidance" aria-label="Line management guidance">
                            Line management guidance
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/managing-projects"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Managing projects" aria-label="Managing projects">
                            Managing projects
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/managing-change"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Managing change" aria-label="Managing change">
                            (( Managing change ))
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/workload-modelling"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Workload modelling" aria-label="Workload modelling">
                            Workload modelling
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/capital-programmes"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Capital programmes and works" aria-label="Capital programmes and works">
                            Capital programmes and works
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-people-and-projects/paying-students"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Employing and paying students" aria-label="Employing and paying students">
                            Employing and paying students
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/services-archived-information-architecture/school-placements"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Offering school placements" aria-label="Offering school placements">
                            Offering school placements
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Manage your office or lab"
                        aria-label="Manage your office or lab">Manage your office or lab</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/services-archived-information-architecture/health-safety-and-environment"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Health, safety and environment" aria-label="Health, safety and environment">
                            Health, safety and environment
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/requesting-portering-services"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Removals and collections" aria-label="Removals and collections">
                            Removals and collections
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/heating-and-cooling"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Heating and cooling" aria-label="Heating and cooling">
                            Heating and cooling
                          </a></li>
                        <li class="nav-item"><a href="https://intranet.cardiff.ac.uk/students/study/id-cards"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="ID cards" aria-label="ID cards">
                            ID cards
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/reporting-a-fault"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Reporting a fault" aria-label="Reporting a fault">
                            Reporting a fault
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/request-minor-work"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Request minor work" aria-label="Request minor work">
                            Request minor work
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/waste-recycling"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Waste and recycling" aria-label="Waste and recycling">
                            Waste and recycling
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/cleaning-services"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Cleaning services" aria-label="Cleaning services">
                            Cleaning services
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/mail"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Sending and receiving mail" aria-label="Sending and receiving mail">
                            Sending and receiving mail
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-your-office-or-lab/staff-and-student-travel"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Supporting your work"
                            data-label="Staff and student travel" aria-label="Staff and student travel">
                            Staff and student travel
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/organising-events-and-meetings"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Organising events and meetings"
                        aria-label="Organising events and meetings">Organising events and meetings</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/it-support"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="IT support" aria-label="IT support">IT
                        support</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/purchasing-services-and-goods"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Purchasing services and goods"
                        aria-label="Purchasing services and goods">Purchasing services and goods</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/produce-digital-print-and-media"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Produce digital, print and media"
                        aria-label="Produce digital, print and media">Produce digital, print and media</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/manage-use-and-protect-data"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Manage, use and protect data"
                        aria-label="Manage, use and protect data">Manage, use and protect data</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/libraries"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Libraries" aria-label="Libraries">Libraries</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/research-support"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Research support"
                        aria-label="Research support">Research support</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/teach-and-support-students"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Supporting your work" data-label="Teach and support students"
                        aria-label="Teach and support students">Teach and support students</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown text-wrap" aria-label="Training and careers">Training and careers</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Training and development" data-label="Your performance"
                        aria-label="Your performance">Your performance</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/about-the-scheme"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="About the PDR scheme"
                            aria-label="About the PDR scheme">
                            About the PDR scheme
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/how-pdr-works"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="How PDR works"
                            aria-label="How PDR works">
                            How PDR works
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/help-for-reviewees"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Getting the best out of your PDR"
                            aria-label="Getting the best out of your PDR">
                            Getting the best out of your PDR
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/help-for-reviewers"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="PDR guidance for managers"
                            aria-label="PDR guidance for managers">
                            PDR guidance for managers
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/self-reflection-tool"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label=" Self evaluation tool"
                            aria-label=" Self evaluation tool">
                            Self evaluation tool
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/clinical-academic-appraisal-and-pdr"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Clinical academic appraisal and PDR"
                            aria-label="Clinical academic appraisal and PDR">
                            Clinical academic appraisal and PDR
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/online-prd-modules"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Online modules about the PDR process"
                            aria-label="Online modules about the PDR process">
                            (( Online modules about the PDR process ))
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/your-performance/performance-expectations"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Performance expectations"
                            aria-label="Performance expectations">
                            Performance expectations
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/training-and-development/staff-courses-and-programmes"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Training and development" data-label="Staff courses and programmes"
                        aria-label="Staff courses and programmes">Staff courses and programmes</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/staff-courses-and-programmes/training-courses"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Courses and programmes for all staff"
                            aria-label="Courses and programmes for all staff">
                            Courses and programmes for all staff
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/staff-courses-and-programmes/research-careers"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Courses and programmes for researchers"
                            aria-label="Courses and programmes for researchers">
                            Courses and programmes for researchers
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/staff-courses-and-programmes/the-cardiff-academic"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development" data-label="Courses to support the Cardiff Academic"
                            aria-label="Courses to support the Cardiff Academic">
                            Courses to support the Cardiff Academic
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/training-and-development/staff-courses-and-programmes/the-cardiff-professional"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Training and development"
                            data-label="Courses to Support the Cardiff Professional"
                            aria-label="Courses to Support the Cardiff Professional">
                            Courses to support the Cardiff Professional
                          </a></li>


                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/training-and-development/other-staff-development-opportunities"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Training and development" data-label="Other staff development opportunities"
                        aria-label="Other staff development opportunities">Other staff development opportunities</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/training-and-development/for-new-staff"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Training and development" data-label="For new staff" aria-label="For new staff">For
                        new staff</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/training-and-development/awards-and-recognition"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Training and development" data-label="Awards and recognition"
                        aria-label="Awards and recognition">Awards and recognition</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/training-and-development/promotions-and-banding"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Training and development" data-label="Promotions and banding"
                        aria-label="Promotions and banding">Promotions and banding</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="Pay, perks and contracts">Pay, perks and contracts</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Pay" aria-label="Pay">Pay</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/payroll-giving"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Payroll giving"
                            aria-label="Payroll giving">
                            Payroll giving
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/your-pay"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Your pay" aria-label="Your pay">
                            Your pay
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/tax-ni-and-other-deductions"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Tax, NI and other deductions"
                            aria-label="Tax, NI and other deductions">
                            Tax, NI and other deductions
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/pay-scales"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Pay scales" aria-label="Pay scales">
                            Pay scales
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/senior-staff-pay"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Senior staff pay"
                            aria-label="Senior staff pay">
                            Senior staff pay
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/expenses"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Expenses" aria-label="Expenses">
                            Expenses
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/pay/timesheets"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Timesheets" aria-label="Timesheets">
                            Timesheets
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Perks and pensions"
                        aria-label="Perks and pensions">Perks and pensions</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/pensions"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Pensions" aria-label="Pensions">
                            Pensions
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/salary-sacrifice"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts"
                            data-label="Salary sacrifice (previously PositiveBenefits)"
                            aria-label="Salary sacrifice (previously PositiveBenefits)">
                            Salary sacrifice (previously PositiveBenefits)
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/annual-travel-loans"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Annual Travel Loans"
                            aria-label="Annual Travel Loans">
                            Annual Travel Loans
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/international-staff-loan-scheme"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="International staff loan scheme"
                            aria-label="International staff loan scheme">
                            International staff loan scheme
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/cycle-to-work-scheme"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Cycle to work scheme"
                            aria-label="Cycle to work scheme">
                            Cycle to work scheme
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/staff-discounts-deals"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Staff discounts and deals"
                            aria-label="Staff discounts and deals">
                            Staff discounts and deals
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/car-parking"
                            class="nav-link ga-event" data-category="menu-desktop"
                            data-action="Pay, perks and contracts" data-label="Car parking" aria-label="Car parking">
                            Car parking
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/childcare-schemes"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Childcare schemes"
                        aria-label="Childcare schemes">Childcare schemes</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/contracts"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Contracts"
                        aria-label="Contracts">Contracts</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/redeployment"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Redeployment"
                        aria-label="Redeployment">Redeployment</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/management-of-change"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Management of change"
                        aria-label="Management of change">Management of change</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/trade-unions-and-industrial-action"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Trade unions and industrial action"
                        aria-label="Trade unions and industrial action">Trade unions and industrial action</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/workplace-conduct-and-issues"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Pay, perks and contracts" data-label="Workplace conduct and issues"
                        aria-label="Workplace conduct and issues">Workplace conduct and issues</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="Leave and working hours">Leave and working hours</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Sick leave" aria-label="Sick leave">Sick
                        leave</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/reporting-sickness-absence"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Reporting sickness absence" aria-label="Reporting sickness absence">
                            Reporting sickness absence
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/sick-pay"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Sick pay" aria-label="Sick pay">
                            Sick pay
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/sickness-absence-and-annual-leave"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Sickness absence and annual leave"
                            aria-label="Sickness absence and annual leave">
                            Sickness absence and annual leave
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/managing-absence"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Managing absence" aria-label="Managing absence">
                            Managing absence
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/requests-for-gp-reports-and-medical-examinations"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Requests for GP reports and medical examinations"
                            aria-label="Requests for GP reports and medical examinations">
                            Requests for GP reports and medical examinations
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/long-term-sickness"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Long term sickness" aria-label="Long term sickness">
                            Long term sickness
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/disability-related-sickness"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Disability related sickness" aria-label="Disability related sickness">
                            Disability related sickness
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/returning-to-work-after-sickness"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Returning to work after sickness" aria-label="Returning to work after sickness">
                            Returning to work after sickness
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/sick-leave/referrals-to-occupational-health"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Being referred to Occupational Health"
                            aria-label="Being referred to Occupational Health">
                            Being referred to Occupational Health
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Annual leave and special leave"
                        aria-label="Annual leave and special leave">Annual leave and special leave</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/annual-leave"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Annual leave" aria-label="Annual leave">
                            Annual leave
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/career-break"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Career break" aria-label="Career break">
                            Career break
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/leave-of-absence"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Leave of absence" aria-label="Leave of absence">
                            Leave of absence
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/study-leave"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Study leave" aria-label="Study leave">
                            Study leave
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/emergency-leave-for-support-for-dependants"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Emergency leave for support for dependants"
                            aria-label="Emergency leave for support for dependants">
                            Emergency leave for support for dependants
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/parental-leave"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Parental leave" aria-label="Parental leave">
                            Parental leave
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/bereavement-leave"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Bereavement leave" aria-label="Bereavement leave">
                            Bereavement leave
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/extreme-personal-circumstances-leave"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Extreme personal circumstances leave"
                            aria-label="Extreme personal circumstances leave">
                            Extreme personal circumstances leave
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/leave-and-absence/time-off-for-commitments-and-duties"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="Leave and working hours"
                            data-label="Time off for commitments and duties"
                            aria-label="Time off for commitments and duties">
                            Time off for commitments and duties
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/medical-and-dental-appointments"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Medical and dental appointments"
                        aria-label="Medical and dental appointments">Medical and dental appointments</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/maternity-paternity-adoption-leave"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Maternity, paternity and adoption leave"
                        aria-label="Maternity, paternity and adoption leave">Maternity, paternity and adoption leave</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/flexible-working"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Flexible working"
                        aria-label="Flexible working">Flexible working</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/adverse-weather-conditions"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Adverse weather conditions"
                        aria-label="Adverse weather conditions">Adverse weather conditions</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/leave-and-working-hours/christmas-closure"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Leave and working hours" data-label="Christmas holiday closure"
                        aria-label="Christmas holiday closure">Christmas holiday closure</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 ml-auto">
                  <section class="box box-inverse">
                    <div class="box-header">
                      <h2 class="box-title">
                        <a
                          href="https://intranet.cardiff.ac.uk/staff/your-employment-archived-information-architecture/parenting-and-childcare/having-a-baby/leave-and-pay-entitlements">Having
                          a baby?</a>
                      </h2>
                    </div>
                    <div class="box-body">Find out about maternity, adoption, parental and surrogacy leave and pay
                      entitlements.</div>

                  </section>
                </div>
              </div>
            </div>
          </div>

        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="Wellbeing and support">Wellbeing and support</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/wellbeing-support-for-staff"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Staff wellbeing support"
                        aria-label="Staff wellbeing support">Staff wellbeing support</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/equality-and-diversity"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Equality and diversity"
                        aria-label="Equality and diversity">Equality and diversity</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/safety-advice"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Safety advice" aria-label="Safety advice">Safety
                        advice</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/disability-support"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Disability support"
                        aria-label="Disability support">Disability support</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/sport-and-fitness"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Exercise and sport"
                        aria-label="Exercise and sport">Exercise and sport</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/positive-health-environment-and-wellbeing"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support"
                        data-label="Positive Health, Environment and Wellbeing (PHEW)"
                        aria-label="Positive Health, Environment and Wellbeing (PHEW)">Positive Health, Environment and
                        Wellbeing (PHEW)</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/local-healthcare"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Local healthcare"
                        aria-label="Local healthcare">Local healthcare</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/chaplaincy-faith-and-religion"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Chaplaincy, faith and religion"
                        aria-label="Chaplaincy, faith and religion">Chaplaincy, faith and religion</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/health-surveillance"
                        class="nav-link nav-title ga-event" data-category="menu-desktop"
                        data-action="Wellbeing and support" data-label="Employee health checks"
                        aria-label="Employee health checks">Employee health checks</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 ml-auto">
                  <section class="box box-inverse">
                    <div class="box-header">
                      <h2 class="box-title">
                        <a
                          href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/wellbeing-support-for-staff/care-first">Care
                          First</a>
                      </h2>
                    </div>
                    <div class="box-body">Contact Care First, our Employee Assistance Programme, for telephone and
                      face-to-face counselling, and a range of services to support and enhance your health and
                      wellbeing.</div>

                  </section>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="about the University">About the University</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/finding-your-way-around"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="Finding your way around" aria-label="Finding your way around">Finding your way
                        around</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/services-and-facilities"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="About us"
                            data-label="Services and facilities" aria-label="Services and facilities">
                            Services and facilities
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="About us"
                            data-label="University buildings" aria-label="University buildings">
                            University buildings
                          </a></li>
                        <li class="nav-item"><a href="https://intranet.cardiff.ac.uk/staff/map"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="About us"
                            data-label="University map" aria-label="University map">
                            University map
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/university-structure"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="University structure" aria-label="University structure">University structure</a>
                      <ul class="nav">
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/about-us/university-structure/university-executive-board"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="About us"
                            data-label="University Executive Board" aria-label="University Executive Board">
                            University Executive Board
                          </a></li>
                        <li class="nav-item"><a
                            href="https://intranet.cardiff.ac.uk/staff/about-us/university-structure/university-committees"
                            class="nav-link ga-event" data-category="menu-desktop" data-action="About us"
                            data-label="University committees" aria-label="University committees">
                            University committees
                          </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/the-way-forward"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="The Way Forward 2018-2023" aria-label="The Way Forward 2018-2023">The Way Forward
                        2018-2023</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/improving-our-performance"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="Improving our performance" aria-label="Improving our performance">Improving our
                        performance</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/key-projects"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="Key projects" aria-label="Key projects">Key projects</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/transforming-cardiff"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="Transforming Cardiff" aria-label="Transforming Cardiff">Transforming Cardiff</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/university-accreditation"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="University accreditations" aria-label="University accreditations">University
                        accreditations</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/about-us/semester-dates"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="About us"
                        data-label="Semester dates" aria-label="Semester dates">Semester dates</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link with-dropdown" aria-label="More">More ${require-svg('chevron-down')}</a>
        <nav class="nav-global-links-dropdown">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="More"
                        data-label="University teams" aria-label="University teams">University teams</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/people" class="nav-link nav-title ga-event"
                        data-category="menu-desktop" data-action="More" data-label="Staff directory"
                        aria-label="Staff directory">Staff directory</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/get-involved" class="nav-link nav-title ga-event"
                        data-category="menu-desktop" data-action="More" data-label="Get involved"
                        aria-label="Get involved">Get involved</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/coronavirus-outbreak"
                        class="nav-link nav-title ga-event" data-category="menu-desktop" data-action="More"
                        data-label="Coronavirus (COVID-19) outbreak"
                        aria-label="Coronavirus (COVID-19) outbreak">Coronavirus (COVID-19) outbreak</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/applications" class="nav-link nav-title ga-event"
                        data-category="menu-desktop" data-action="More" data-label="Online tools"
                        aria-label="Online tools">Online tools</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/forms" class="nav-link nav-title ga-event"
                        data-category="menu-desktop" data-action="More" data-label="Forms" aria-label="Forms">Forms</a>
                    </li>
                    <li class="nav-item no-children">
                      <a href="https://intranet.cardiff.ac.uk/staff/policies" class="nav-link nav-title ga-event"
                        data-category="menu-desktop" data-action="More" data-label="Policies"
                        aria-label="Policies">Policies</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </li>
    </ul>
  </div>
</nav>