@media #{$breakpoint-lg-up}
  .map 
    #map 
      &:focus 
        box-shadow: 0 0 0 ($baseUnit * 0.3) $colourSweetCorn
      
      a, img 
        &:focus 
          box-shadow: 0 0 0 ($baseUnit * 0.3) $colourSweetCorn
          outline: none

    .leaflet-control-attribution 
      a 
        &:focus 
          background-color: $colourSweetCorn
    
    .leaflet-control-zoom 
      a 
        &:focus 
          background-color: transparent