.map
  margin: 0 0 ($baseUnit*2)
  display: table
  width: 100%

  .map-body
    width: 100%
    height: ($baseUnit*20)
    background: $colourGreyLight

  .caption
    font-family: $TeeFranklinGothicLightOblFamily
    background: $colourGreyLighter
    padding: $baseUnit
    display: table-caption
    caption-side: bottom

  .float-left,
  .float-right
    margin: 0 ($baseUnit*2) ($baseUnit*2) 0
    width: 50%

    .map-body
      height: ($baseUnit*20)

  .float-right
    margin: 0 0 ($baseUnit*2) ($baseUnit*2)

  &.map-large .map-body
    height: ($baseUnit*40)
  
  &.map-small .map-body
    height: ($baseUnit*10)

@import 'map-lg-up'