.alert
  @include border-radius(0)
  border: none
  font-family: $brandFamily
  text-shadow: none
  color: $colourGreyDarker
  padding: ($baseUnit*2)
  background-color: $colourPearlLusta
  margin-bottom: $baseUnit*2.4

  p, ul 
    &:last-child
      margin-bottom: 0

  a
    text-decoration: underline
  
  &.alert
    &-error,
    &-info,
    &-success
      a 
        color: $colourWhite

        &:visited,
        &:active
          color: $colourWhite
          text-decoration: none
        
        &:hover 
          color: $colourWhite
          text-decoration: underline
        
        &:focus 
          color: $colourGreyDarker
      

  &.alert-error
    @include fontantialiasing() 
    background-color: $colourRed
    color: $colourWhite
  
  &.alert-info 
    color: $white
    background-color: $colourInfo
  
  &.alert-success
    @include fontantialiasing() 
    color: $white
    background-color: $colourGreenHaze
  
  strong 
    font-family: $headingsFontFamily
    font-weight: normal
  
  &.alert-block 
    @include intranet-border($colourBarleyWhite)
    
    .alert-title
      color: $colourTintDarkest
      margin-bottom: $baseUnit

    &.alert-error,
    &.alert-info,
    &.alert-success
      .alert-title 
        color: $colourWhite
        margin-bottom: $baseUnit

      a 
        color: $colourWhite
    
    &.alert-error
      @include intranet-border(darken($colourRed,16%))
    
    &.alert-info
	    @include intranet-border(darken($colourInfo,16%))
    
    &.alert-success 
	    @include intranet-border(darken($colourGreenHaze,10%))
    
    ol
      margin-bottom: ($baseUnit/2)
    
    .alert-link
      margin-top: ($baseUnit*2)
    
    .alert-link .btn
      color: $colourTintDarkest
      background-color: $colourScotchMist
      border: ($baseUnit*0.1) solid $colourOrinoco
    
    &.with-icon
      border-top: none
      border-left: ($baseUnit*8) solid $colourBarleyWhite
      
      &.alert-info
        border-top: none
        border-left-color: (darken($colourInfo,16%))
      
      &.alert-error
        border-top: none
        border-left: ($baseUnit*8) solid (darken($colourRed,16%))
      
      &.alert-success
        border-top: none
        border-left: ($baseUnit*8) solid (darken($colourGreenHaze,10%))
      
      .icon
        @include square(($baseUnit*4)) 
        margin-left: -5.25rem
        display: inline
        position: absolute
        padding-right: 0
      
      .close 
        top: -0.75rem
        right: -0.938rem

  .alert-title, h1, h2, h3, h4, h5, h6
    font-family: $brandFamily
    font-size: map-get($font24, 'size')
    line-height: map-get($font24, 'line-height')
    margin-bottom: $baseUnit
    display: block
    color: $colourGreyDarker
  
  &.with-icon
    display: flex
    padding: 0
    width: 100%

    &.alert,
    &.alert-warning
      .alert-icon
        background: darken($colourPearlLusta, 10%)

        .icon
          fill: $colourBlack
  
    &.alert-error
      .alert-icon
        background: darken($colourRed, 10%)

        .icon
          fill: $colourWhite

      .alert-title, h1, h2, h3, h4, h5, h6
        color: $colourWhite

    &.alert-info
      .alert-icon
        background: darken($colourInfo, 10%)

        .icon
          fill: $colourWhite

      .alert-title, h1, h2, h3, h4, h5, h6
        color: $colourWhite
    
    &.alert-success
      .alert-icon
        background: darken($colourSuccess, 10%)

        .icon
          fill: $colourWhite

      .alert-title, h1, h2, h3, h4, h5, h6
        color: $colourWhite

    .alert-icon
      width: $baseUnit * 6
      padding: #{$baseUnit * 2.5} #{$baseUnit * 1.5}

      .icon
        width: $baseUnit * 3
        height: auto

    .alert-body
      padding: #{$baseUnit * 2}
