.skip-content
  display: inline-block
  margin: 0.75em 0 0 $baseUnit*3
  background-color: $colourWhite
  position: absolute
  left: -9999em

  &:focus
    left: 0px
    padding: $baseUnit*0.5
    z-index: 1
    outline: $baseUnit*1.4 solid $colourWhite
    background-color: $colourWhite
    text-decoration: underline