<h2>Buttons</h2>
<h3>Button back</h3>
${require('variations/button-back.html')}
<h3>Colours</h3>
${require('variations/button-colours.html')}
<h3>Additional</h3>
${require('variations/button-additional.html')}
<h3>Icons</h3>
${require('variations/button-icons.html')}
<h3>Button Group</h3>
${require('variations/button-group.html')}
<h3>Block</h3>
${require('variations/button-block.html')}
<h3>Disabled</h3>
${require('variations/button-disabled.html')}
<h3>Outline</h3>
${require('variations/button-outline.html')}
<h3>Sizing</h3>
${require('variations/button-sizing.html')}