<article class="dictionary" role="navigation">
	<ul class="nav nav-pills nav-dictionary">
		<li><a href="#letter-a">A</a></li>
		<li class="active"><a href="#letter-b">B</a></li>
		<li><a href="#">C</a></li>
		<li><a href="#">D</a></li>
		<li><a href="#">E</a></li>
		<li><a href="#">F</a></li>
		<li><a href="#">G</a></li>
		<li><a href="#">H</a></li>
		<li><a href="#">I</a></li>
		<li><a href="#">J</a></li>
		<li><a href="#">K</a></li>
		<li><a href="#">L</a></li>
		<li><a href="#">M</a></li>
		<li><a href="#">N</a></li>
		<li><a href="#">O</a></li>
		<li><a href="#">P</a></li>
		<li><a href="#">R</a></li>
		<li><a href="#">S</a></li>
		<li><a href="#">T</a></li>
		<li><a href="#">U</a></li>
		<li><a href="#">V</a></li>
		<li><a href="#">W</a></li>
		<li><a href="#">X</a></li>
		<li><a href="#">Y</a></li>
		<li><a href="#">Z</a></li>
		<li><a href="#">0–9</a></li>
	</ul>
	<div class="dictionary-letter" id="letter-a">
		<h1 class="dictionary-letter-title">A</h1>
		<ul class="dictionary-terms">
			<li class="dictionary-term"><a href="#">Aberconway Hall</a></li>
			<li class="dictionary-term"><a href="#">Aberdare Hall</a></li>
			<li class="dictionary-term"><a href="#">About the University</a></li>
			<li class="dictionary-term"><a href="#">Academic Integrity</a></li>
			<li class="dictionary-term"><a href="#">Academic Quality System</a></li>
			<li class="dictionary-term">Academic Registry <small>See <a href="#">Registry</a></small></li>
			<li class="dictionary-term"><a href="#">Academic Regulations Handbook</a></li>
			<li class="dictionary-term"><a href="#">Academic Research Misconduct</a></li>
			<li class="dictionary-term"><a href="#">Access to Information</a></li>
			<li class="dictionary-term"><a href="#">Access to University</a></li>
			<li class="dictionary-term"><a href="#">Accessibility</a></li>
			<li class="dictionary-term">Accident <small>See <a href="#">Reporting an accident</a></small></li>
			<li class="dictionary-term"><a href="#">Accommodation</a> <small>See also <a href="#">Residences</a></small></li>
		</ul>
	</div>
	<div class="dictionary-letter" id="letter-b">
		<h1 class="dictionary-letter-title">B</h1>
		<ul class="dictionary-terms">
			<li class="dictionary-term"><a href="#">Buildings</a></li>
		</ul>
	</div>
</article>