.facet
  border: $baseUnit*0.1 solid $colourGreyLighter
  margin-bottom: $baseUnit*2

  &.facet-popup
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $colourWhite
    z-index: 8
    margin-bottom: 0
    border: 0

    form
      padding: 0

    .facet
      &-heading
        background: $colourBlack

        .facet-title
          color: $colourWhite
          line-height: map-get($font17, 'line-height')

          .icon
            fill: $colourWhite
            cursor: pointer    

      &-body
        overflow-y: auto
        overflow-x: hidden
        position: absolute
        top: 54px
        left: 0
        right: 0
        bottom: 74px    
        border: 0

        .facet-items
          padding: 0

          .facet-group-title
            display: inline-block
            width: 100%
            font-size: map-get($font16, "size")
            line-height: map-get($font16, "line-height")
            margin: 0
            white-space: normal
            border-bottom: $baseUnit*0.1 solid $colourGreyLighter
            
            a
              display: block
              text-indent: 0
              padding: $baseUnit*2 0 $baseUnit*2 $baseUnit*2
              margin-bottom: 0

          .facet-item
            margin-bottom: 0
            border-bottom: $baseUnit*0.1 solid $colourGreyLighter
            white-space: nowrap
            padding-left: $baseUnit*2

            label
              display: inline-block
              width: 100%
              padding: $baseUnit*2 0 $baseUnit*2 $baseUnit*0.5
              margin: 0
              white-space: normal
              color: $colourLink
              cursor: pointer
              
              &:hover
                color: $colourLinkHover

              &:before,
              &::after
                display: none    

            input[type="radio"], 
            input[type="checkbox"]
              height: auto
              width: auto
              position: relative
              margin-left: 0
              opacity: 1
              display: inline-block

        .facet-actions
          position: fixed
          bottom: 0
          left: 0
          right: 0
          height: 74px
          text-align: center
          padding-top: $baseUnit*2
          box-sizing: border-box   

          button
            width: 40%

  &-type
    .facet-body
      .active
        background-color: $colourGreyLightest

      .facet-items
        padding: 0

        .facet-item
          border-bottom: $baseUnit*0.1 solid $colourGreyLighter
          margin-bottom: 0

          a
            padding: $baseUnit*1.5 $baseUnit*3
            margin-bottom: 0
            color: $colourGreyDarker
            text-indent: -$baseUnit*2

            &:hover
              text-decoration: underline
          
          .icon
            @include square(map-get($svgWidths, "sm"))
            fill: $colourBlack

  &-radio
    border: none
    margin-bottom: $baseUnit*4

    .facet-heading
      background: none

      .facet-title
        padding: 0 0 $baseUnit*0.6 0
        color: $colourGreyDarker
        font-family: $headingsFontFamilyLight
        margin: 0

    .facet-body
      border: $baseUnit*0.1 solid $colourGreyLighter

      .facet-items
        padding: 0

        .active
          background-color: $colourGreyLightest

        .facet-item
          border-bottom: $baseUnit*0.1 solid $colourGreyLighter
          margin-bottom: 0

          a
            padding: $baseUnit*1.5 $baseUnit*3
            color: $colourGreyDarker
            font-size: map-get($font16, "size")
            line-height: map-get($font16, "line-height")
            text-indent: -$baseUnit*2
            margin-bottom: 0          

            &:hover
              text-decoration: underline

          .icon
            display: inline-block
            margin-right: $baseUnit*1.5       

  &-heading
    background: $colourGreyLightest

    a
      &:hover
        text-decoration: none

    .facet-title 
      font-family: $brandFamily
      font-size: map-get($font20, 'size')
      line-height: map-get($font20, 'line-height')
      display: block
      padding: $baseUnit*1.5 $baseUnit*2
      color: $colourBlack

      .icon
        float: right
        margin-top: $baseUnit*0.5
        fill: $colourDustyGrey
      
  &-body
    .facet-items
      margin: 0
      list-style: none
      padding: $baseUnit*1.5 $baseUnit*2 $baseUnit $baseUnit*2

      .facet-item
        margin-bottom: $baseUnit

        .icon
          @include square(map-get($svgWidths, "xs"))

      a
        @include indentation(#{map-get($svgWidths, "xs")} + #{$baseUnit})
        display: block
        text-decoration: none
        font-size: map-get($font17, "size")
        line-height: map-get($font17, "line-height")

        &:hover
          text-decoration: underline

        .facet-item-title
          padding: $baseUnit*1.5 $baseUnit*3
          font-size: map-get($font16, "size")
          line-height: map-get($font16, "line-height")
          color: $colourGreyDarker
          text-indent: -$baseUnit*2
          margin-bottom: 0

        .icon
          fill: $colourDustyGrey
          margin: 0 $baseUnit $baseUnit*0.3 0


    .facet-show-more
      margin: 0 $baseUnit*2 $baseUnit*2 $baseUnit*2
      display: block
      font-family: $TeeFranklinGothicLightOblFamily
      font-style: italic

  form
    padding: $baseUnit*1.5 $baseUnit*2 $baseUnit

    .control-group input[type="date"] 
      width: 100%
      border: $baseUnit*0.1 solid $colourGreyNickel
      box-shadow: inset 0 $baseUnit*0.1 $baseUnit*0.1 rgba(0, 0, 0, 0.075)
      transition: border linear .2s, box-shadow linear .2s
      display: inline-block
      height: 34px
      padding: $baseUnit*0.4 $baseUnit*0.6
      margin-bottom: $baseUnit*1.2
      font-size: map-get($font17, 'size')
      line-height: map-get($font17, "line-height")
      color: $colourGrey
      border-radius: $baseUnit*0.4
      vertical-align: middle

.facet-filter-title
  font-size: map-get($font20, 'size')
  line-height: map-get($font20, 'line-height')
  padding: 0 0 $baseUnit*0.6 0
  color: $colourGreyDarker
  font-family: $headingsFontFamilyLight
  margin: 0

.selected-facets 
  list-style: none
  margin: 0
  display: inline-block

  li
    margin: 0 $baseUnit $baseUnit 0
    float: left

    .icon
      @include square(map-get($svgWidths, 'xs'))
      margin-bottom: $baseUnit*0.4

    .btn
      text-align: left

.nav-facets
  margin-bottom: $baseUnit*2.4
  margin-left: 0
  display: block

  .facet
    border: none

    a
      display: block

    .badge
      background-color: $colourRed
      float: right
      color: $colourWhite

@import "facet-md-only"
@import "facet-lg-only"