<div class="row">
  <div class="col-md-6">
    <h2>Search results teaser</h2>
    ${require('variations/search-results-teaser.html')}
  </div>
  <div class="col-md-6">
    <h2>Search results profile</h2>
    ${require('variations/search-results-profile.html')}
  </div>
  <div class="col-md-6">
    <h2>Search results news</h2>
    ${require('variations/search-results-news.html')}
  </div>
  <div class="col-md-6">
    <h2>Search results accordion</h2>
    ${require('variations/search-results-accordion.html')}
  </div>
</div>