.btn
  @include border-radius($baseUnit/2) 
  color: $colourGreyDarker
  border: none
  background: $colourGreyLight
  text-shadow: none
  font-family: $brandFamily
  font-size: map-get($font16, 'size')
  line-height: 1.188rem
  padding-top: ($baseUnit/2)
  padding-bottom: ($baseUnit/2)
  
  .icon
    @include square($baseUnit*1.6)
    margin-left: (-($baseUnit*0.2))
    fill: $colourTintDarkest
    display: inline

  &:hover .icon
    text-decoration: none
    background: $colourTransparent

  &.small
    font-family: $brandFamily
    text-transform: none
    font-size: map-get($font14, 'size')

  &.active,
  &:active
    @include box-shadow(none)

  &-outline
    color: $colourBlack
    background-color: $colourTransparent
    background-image: none
    border: solid #{$baseUnit * 0.1} $colourGrey

    &:focus,
    &:active,
    &:hover,
    &.active
      background-color: $colourTransparent

    &.disabled
      &:focus,
      &.focus
        border-color: $colourGreyLight

    &-link
      border: ($baseUnit*0.1) solid $colourBtnLinkColourHover
      color: $colourBtnLinkColour
      background-color: $colourBtnLinkBackground

      &:hover,
      &:focus
        background-color: $colourBtnLinkBackground
  
  &.btn
    &-success,
    &-info,
    &-error,
    &-primary,
    &-warning,
    &-link
      @include fontantialiasing()

    &-info,
    &-primary
      @include btn-build-darken($colourBtnLinkColour, $colourWhite, $colourWhite, 10%)

    &-success
      @include btn-build-darken($colourGreenHaze, $colourWhite, $colourWhite, 10%)
    
    &-error
      @include btn-build-darken($colourRed, $colourWhite, $colourWhite, 10%)
    
    &-warning
      @include btn-build-darken($colourEnergyYellow, $colourGreyDarker, $colourGreyDarker, 10%)
    
    &-link
      @include btn-build-lighten($colourTransparent, $colourLink, $colourRed, 0%)

    &-arrow
      position: relative
      border-radius: 0
      
      &:after,
      &:before
        content: ' '
        height: 0
        position: absolute
        z-index: 1
        top: 0
        width: 0
        border: ($baseUnit*1.4) solid $colourTransparent
        
      &:after
        border-left-color: $colourPrimeGrey
        right: (-($baseUnit*2.8))
        
      &:before
        left: (-($baseUnit*1.5))
      
      &-left
        &:before
          border-right-color: $colourGreyLight
          left: (-($baseUnit*2.8))
        
        &:after
          border: none
          right: (-($baseUnit*2.8))
        
        &:hover
          &:before
            border: ($baseUnit*1.4) solid $colourTransparent
      
      &:hover
        &:after
          border: ($baseUnit*1.4) solid $colourTransparent

    &-sm
      padding: $baseUnit*0.2 $baseUnit $baseUnit*0.1 $baseUnit
      font-size: map-get($font14, 'size')
      
    &-mini
      padding-top: 0
      padding-bottom: 0

    &-xs
      padding-top: 0
      padding-bottom: 0  
    
    &-lg
      padding: $baseUnit*1.2 $baseUnit*1.2 $baseUnit

      .icon
        @include square($baseUnit*2.2)

      &.btn-arrow
        &:after 
          border: $baseUnit*2 solid $colourTransparent
          right: (-($baseUnit*4))
          border-left-color: $colourGreyLight 
        
        &:before 
          border: $baseUnit*2 solid $colourTransparent
          left: (-($baseUnit*4))

        &-left
          &:before
            border-right-color: $colourGreyLight
            left: (-($baseUnit*4))
          
          &:after
            border: none
            right: (-($baseUnit*4))
          
          &:hover
            &:before
              border: $baseUnit*1.4 solid $colourTransparent

      &:hover
        &:after
          border: $baseUnit*1.4 solid $colourTransparent
        
        &:before
          border: $baseUnit*1.4 solid $colourTransparent
  

  &-group
    &-title
      + .btn
        @include  border-radius($baseUnit*0.3 0 0 $baseUnit*0.3)
        font-size: map-get($font24, 'size')
        font-family: $headingsFontFamily

    .btn:first-child
      @include  border-radius($baseUnit*0.3 0 0 $baseUnit*0.3)

    .btn:last-child 
      @include border-radius(0 $baseUnit*0.3 $baseUnit*0.3 0)

    .btn
      @include border-radius(0)
      border: 1px solid lighten($colourBtnLinkColour, 25%)
      background: rgba($colourWhite, 0.8)
      padding-left: $baseUnit*2.1
      padding-right: $baseUnit*2
      
      &:hover
        background: lighten($colourBtnLinkColour, 55%)
      
      &.active
        background-color: $colourBtnLinkColour
        color: $colourWhite
        
        &:hover
          background-color: lighten($colourBtnLinkColour, 15%)

    &.full-width
      display: flex
      flex-wrap: wrap
      
      .btn 
        display: block
        width: 100%
        min-height: $baseUnit*5
        line-height: $baseUnit*5
        background: $colourGreyLightest
        border: $borderWidth solid $colourGreySoft
        
        .title
          float: left
          margin: 0
          word-break: break-word
          white-space: normal
          line-height: map-get($font24, 'line-height')
          font-family: $headingsFontFamilyLight
          font-size: map-get($font24, 'size')
          color: $colourRed
        
        .icon
          float: right
          line-height: $baseUnit*5
          fill: $colourGreyDarkest
        
        &:first-child
          @include border-radius($baseUnit $baseUnit 0 0)
        
        &.btn + .btn
          margin: 0
          border-top: none
        
        &:last-child
          @include border-radius(0 0 $baseUnit $baseUnit)
        
        &:hover
          background: $colourGreyLighter
          text-decoration: none
        
        &:hover .icon
          background: inherit

  &-more
    font-size: map-get($font17, 'size')
    line-height: map-get($font17, 'line-height')
    background: $colourTransparent
    color: $colourLink
    border-radius: 0

    &:hover
      text-decoration: underline

    .icon
      @include square(map-get($svgWidths, 'xs'))
      margin: 0 0 0 $baseUnit*0.5
  
  &-inverse
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled]
      color: $colourWhite
      background-color: $colourGreyDarker
  
  &-back
    color: $colourGreyDarker
    display: inline-block
    cursor: pointer
    padding: $baseUnit
    margin: #{-$baseUnit} 0 $baseUnit*4 #{-$baseUnit}

    .icon
      color: $colourGreyDarker
      margin-bottom: $baseUnit*0.3

    &:hover
      color: $colourGreyDarker

@import 'button-md-up'
@import 'button-lg-up'