<div class="personalised-content-container  is-sysAdmin">
  <div class="icon-personalisation">${require-svg('personalisation')}</div>
  <p>Heleoelnsud ush jsa duhas dasg&nbsp;&nbsp;jsa&nbsp;&nbsp;hhs d&nbsp;&nbsp;as&nbsp;<strong>bsadxbb as
      ydjm</strong>jsahdbjasd.</p>
</div>