<div class="personalised-school-container">
  <div class="icon-personalisation">${require-svg('personalisation')}</div> <span class="personalised-school-container-text">Welsh School of Architecture</span>
</div>