<div class="personalised-content-container  is-departmentCode">
  <div class="icon-personalisation">${require-svg('personalisation')}</div>
  <div class="school-container"> <span class="school-container-text">Welsh School of Architecture</span> </div>
  <h3>Schools of Architecture internal email lists</h3>
  <table class="table table-responsive footable-loaded footable" id="table87104">
    <thead>
      <tr>
        <th id="table87104r1c1">
          <p style="text-align: center">Email&nbsp;<br>distribution&nbsp;<br>list</p>
        </th>
        <th id="table87104r1c2">
          <p style="text-align: center">Maintained&nbsp;<br>by</p>
        </th>
        <th id="table87104r1c3">
          <p style="text-align: center">Can be <br>accessed by</p>
        </th>
        <th id="table87104r1c4">
          <p style="text-align: center">On Outlook</p>
        </th>
        <th id="table87104r1c5">
          <p style="text-align: center">Database</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table87104r1c1">
          <p>Architecture <br>All Staff</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">
          <p>Yes</p>
        </td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>School <br>Executive</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">
          <p>Yes</p>
        </td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>School Board</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">
          <p>Yes</p>
        </td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>Task &amp; Finish <br>Group - Space <br>and Facilities</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">
          <p>Yes</p>
        </td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>Research <br>Staff</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">&nbsp;</td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>Academic <br>Staff</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">&nbsp;</td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>Support <br>Staff</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">&nbsp;</td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>Teaching <br>Staff</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4">&nbsp;</td>
        <td headers="table87104r1c5">
          <p>Yes</p>
        </td>
      </tr>
      <tr>
        <td headers="table87104r1c1">
          <p>LCRI <br>Staff</p>
        </td>
        <td headers="table87104r1c2">
          <p>PA to Head <br>of School</p>
        </td>
        <td headers="table87104r1c3">
          <p>School <br>Managers</p>
        </td>
        <td headers="table87104r1c4"></td>
      </tr>
    </tbody>
  </table>
</div>