<div class="personalised-standardpage-container">
  <div class="icon-personalisation">${require-svg('personalisation')}</div>
  <div class="personalised-school-container">
    <span class="personalised-school-container-text">Welsh School of Architecture</span>
  </div>
</div>