.thumbnails
  @include clearfix()
  margin: 0 0 $baseUnit*2 0
  list-style: none

  > li
    float: none
    margin-bottom: $baseUnit*2.4
    height: 80px

    &:first-child
      margin-left: 0

.thumbnail 
  @include border-radius(0)
  display: inline-block
  padding: 0
  border: none

  img 
    margin: 0

a.thumbnail
  &:hover
    img
      box-shadow: 0 $baseUnit*0.1 $baseUnit*0.2 rgba($colourSolidBlack, 0.2)

  &:focus
    @include focus-box-shadow()

@import 'thumbnails-md-up'
@import 'thumbnails-lg-up'
@import 'thumbnails-xl-up'