<h2>Quote</h2>
${require('variations/quote.html')}
<h2>Quote with image</h2>
${require('variations/quote-image.html')}
<h2>Quote with icon</h2>
${require('variations/quote-icon.html')}
<h2>Vertical quote</h2>
${require('variations/quote-vertical.html')}
<h2>Large pull-right</h2>
${require('variations/quote-pull.html')}