<div class="search-form">
  <form class="form" method="get" action="#">
    <input name="form" value="search-en" type="hidden" />
    <div class="d-flex">
      <div class="search-form-container">
        <div class="search-form-query-container">
          <label class="search-form-label" for="query-search-form">
            <span class="sr-only">Search the website</span>
            ${require-svg('search')}
          </label>
          <input type="search" class="search-form-query" name="query-search-form" id="query-search-form"
            placeholder="Search the website" value="" />
          <a href="#" class="search-form-clear" aria-label="Clear search query">
            <span aria-hidden="true">${require-svg('close')} </span>
          </a>
        </div>
      </div>
      <button type="submit" class="btn btn-success d-none d-lg-block">Search</button>
    </div>
  </form>
</div>