<h2>Profile</h2>
${require('variations/profile.html')}
<h2>Profile with image</h2>
${require('variations/profile-image.html')}
<h2>Profile vertical</h2>
${require('variations/profile-vertical.html')}
<h2>Profile with small</h2>
${require('variations/profile-small.html')}
<h2>Profile with large</h2>
${require('variations/profile-large.html')}