<div class="search-results" id="content-body">
  <div id="search-result-count" class="text-muted">
    <span id="search-page-start">1</span> -
    <span id="search-page-end">10</span> of
    <span id="search-total-matching">21,100</span>
    search results for <strong>!null</strong>
  </div>
  <br>
  <h2 class="d-none">Results</h2>
  <section class="teaser">
    <div class="teaser-body">
      <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 23.97">
          <title>Applications</title>
          <path d="M4,4h9.84v9.84H4V4ZM28,4v9.84H18.19V4H28ZM4,18.16h9.84V28H4V18.16Zm14.16,0H28V28H18.19V18.16Z"
            transform="translate(-4.03 -4.03)"></path>
        </svg>Application</p>
      <h1 class="teaser-title"><a title="https://cardiff.zoom.us" href="https://cardiff.zoom.us"
          target="_blank">Zoom</a></h1>
      <p><span class="search-summary">Digital tool for online meetings.</span></p>
      <p><a
          href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fapplications%2Fview%2Fzoom&amp;auth=RxDruhJSfkHgEk1ABbVSxg&amp;profile=_default&amp;rank=1&amp;query=%21null+%7C%5BZ%3Aallstaff%5D">More
          information</a></p>
      <p><a title="https://cardiff.zoom.us" href="https://cardiff.zoom.us" target="_blank"><cite
            data-url="https://cardiff.zoom.us"
            class="search-result-url"><small>https://cardiff.zoom.us</small></cite></a></p>
    </div>
  </section>
  <section class="teaser">
    <div class="teaser-body">
      <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 23.97">
          <title>Applications</title>
          <path d="M4,4h9.84v9.84H4V4ZM28,4v9.84H18.19V4H28ZM4,18.16h9.84V28H4V18.16Zm14.16,0H28V28H18.19V18.16Z"
            transform="translate(-4.03 -4.03)"></path>
        </svg>Application</p>
      <h1 class="teaser-title"><a title="https://intranet.cardiff.ac.uk/staff/applications/view/wire"
          href="https://intranet.cardiff.ac.uk/staff/applications/view/wire" target="_blank">WIRe</a></h1>
      <p><span class="search-summary">View summary management information reports (only accessible on campus).</span>
      </p>
      <p><a
          href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fapplications%2Fview%2Fwire&amp;auth=JL8wkTo58nVLw8F%2Br4ei4A&amp;profile=_default&amp;rank=2&amp;query=%21null+%7C%5BZ%3Aallstaff%5D">More
          information</a></p>
      <p><a title="https://intranet.cardiff.ac.uk/staff/applications/view/wire"
          href="https://intranet.cardiff.ac.uk/staff/applications/view/wire" target="_blank"><cite
            data-url="https://intranet.cardiff.ac.uk/staff/applications/view/wire"
            class="search-result-url"><small>https://intranet.cardiff.ac.uk/staff/applications/view/wire</small></cite></a>
      </p>
    </div>
  </section>
</div>