<div class="search-results" id="content-body">
  <div id="search-result-count" class="text-muted">
    <span id="search-page-start">1</span> -
    <span id="search-page-end">10</span> of
    <span id="search-total-matching">7,707</span>
    search results for <strong>!null</strong>
  </div>
  <br>
  <h2 class="d-none">Results</h2>
  <section class="profile profile-staff vcard">
    <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <title>People</title>
        <path
          d="M4.5,17.8c1.2-0.5,3-1.9,5.6-2.4c-0.8-1-1.3-2.1-1.7-3.3c-0.2-0.8-0.3-1.6-0.3-2.4c-0.1-0.8-0.1-1.6,0-2.4 c0.6-2.1,2.1-2.7,3.8-2.7s3.2,0.6,3.8,2.7c0.1,0.8,0.1,1.6,0,2.4c0.1,0.8,0.1,1.6-0.2,2.4c-0.4,1.2-1,2.2-1.7,3.2 c2.6,0.5,4.4,1.8,5.6,2.4c0.9,0.3,1.6,0.9,2.2,1.6c1.5-2.1,2.3-4.6,2.3-7.1c0-6.6-5.4-12-12-12S0,5.6,0,12.2c0,2.6,0.8,5.1,2.3,7.2 C2.9,18.6,3.6,18.1,4.5,17.8z">
        </path>
      </svg>Person</p>
    <h1 class="profile-title fn"><a href="mailto:caygillc@cardiff.ac.uk" title="Email Claire Caygill">Claire Caygill</a>
    </h1>
    <p class="profile-department">Biosciences</p>
    <dl class="profile-contact">
      <dt><svg style="width:16px; float:left; margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 21.66">
          <title>Email</title>
          <path
            d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
            transform="translate(0 -5.19)"></path>
        </svg><span class="hidden-text">Email: </span></dt>
      <dd><a href="mailto:caygillc@cardiff.ac.uk">caygillc@cardiff.ac.uk</a></dd>
      <dt><svg style="width:16px; float:left; margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 25.81">
          <title>Telephone</title>
          <path
            d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
            transform="translate(0 -3.09)"></path>
        </svg><span class="hidden-text">Telephone: </span></dt>
      <dd class="profile-contact-telephone" title="" data-original-title="+44 29225 11709">+44 29225 11709</dd>
    </dl>
  </section>
  <section class="profile profile-staff vcard">
    <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <title>People</title>
        <path
          d="M4.5,17.8c1.2-0.5,3-1.9,5.6-2.4c-0.8-1-1.3-2.1-1.7-3.3c-0.2-0.8-0.3-1.6-0.3-2.4c-0.1-0.8-0.1-1.6,0-2.4 c0.6-2.1,2.1-2.7,3.8-2.7s3.2,0.6,3.8,2.7c0.1,0.8,0.1,1.6,0,2.4c0.1,0.8,0.1,1.6-0.2,2.4c-0.4,1.2-1,2.2-1.7,3.2 c2.6,0.5,4.4,1.8,5.6,2.4c0.9,0.3,1.6,0.9,2.2,1.6c1.5-2.1,2.3-4.6,2.3-7.1c0-6.6-5.4-12-12-12S0,5.6,0,12.2c0,2.6,0.8,5.1,2.3,7.2 C2.9,18.6,3.6,18.1,4.5,17.8z">
        </path>
      </svg>Person</p>
    <h1 class="profile-title fn"><a href="mailto:galahitiyas@cardiff.ac.uk" title="Email Sachin Galahitiya">Sachin
        Galahitiya</a></h1>
    <p class="profile-department">Computer Science</p>
    <dl class="profile-contact">
      <dt><svg style="width:16px; float:left; margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 21.66">
          <title>Email</title>
          <path
            d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
            transform="translate(0 -5.19)"></path>
        </svg><span class="hidden-text">Email: </span></dt>
      <dd><a href="mailto:galahitiyas@cardiff.ac.uk">galahitiyas@cardiff.ac.uk</a></dd>
    </dl>
  </section>

</div>