<div class="search-results" id="content-body">
  <div id="search-result-count" class="text-muted">
    <span id="search-page-start">1</span> -
    <span id="search-page-end">10</span> of
    <span id="search-total-matching">36</span>
    search results for <strong>!null</strong>
  </div>
  <br>
  <h2 class="d-none">Results</h2>
  <section class="teaser">
    <div class="teaser-body">
      <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 24">
          <title>News</title>
          <path
            d="M32,7.88v17a3,3,0,0,1-3,3H2a2,2,0,0,1-2-2v-22H28v4h4Zm-6-2H2v20H26v-20Zm-22,6H24v-2H4v2Zm0,12H14v-10H4v10Zm12-8h8v-2H16v2Zm0,4h8v-2H16v2Zm0,4h6v-2H16v2Z"
            transform="translate(0 -3.88)"></path>
        </svg> News</p>
      <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 27.56 32">
          <title>Calendar</title>
          <path
            d="M29.78,4.44V32H2.22V4.44H5.5V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,8.37,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,16,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.61,2.61,0,0,1,.78-2A2.88,2.88,0,0,1,23.69,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h3.25ZM7,2.72V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,7,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72A1.22,1.22,0,0,0,17,1.78a1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,14.69,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31A1.07,1.07,0,0,0,25,7.31V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,22.34,2.72Zm5.16,7.84H4.5V29.72h23V10.56ZM16.06,22.34a3,3,0,0,1-1.34,2.59,5.47,5.47,0,0,1-3.31.91A7.1,7.1,0,0,1,10,25.72a7.3,7.3,0,0,1-1.31-.37L9,23.44a12.63,12.63,0,0,0,1.34.38,6.18,6.18,0,0,0,1.34.09,2.45,2.45,0,0,0,1.44-.41,1.25,1.25,0,0,0,.53-1A1.27,1.27,0,0,0,13,21.25a5.14,5.14,0,0,0-2.25-.44V18.88a3.67,3.67,0,0,0,1.75-.44,1.06,1.06,0,0,0,.63-1,0.93,0.93,0,0,0-.31-0.78,2,2,0,0,0-1.25-.28,4.94,4.94,0,0,0-1.16.16A11.84,11.84,0,0,0,9.28,17L9,15a7.93,7.93,0,0,1,1.53-.47,8.9,8.9,0,0,1,1.59-.09,4.64,4.64,0,0,1,2.66.66,2.08,2.08,0,0,1,.94,1.72,2.41,2.41,0,0,1-.59,1.63,4.22,4.22,0,0,1-1.81,1.06v0a4.79,4.79,0,0,1,2,1,2.28,2.28,0,0,1,.69,1.75h0Zm1.84-6,3.38-1.69h1.16V25.69H20.09V17.5l-1.94.72Z"
            transform="translate(-2.22 0)"></path>
        </svg>31 March 2020</p>
      <h1 class="teaser-title"><a
          title="https://intranet.cardiff.ac.uk/staff/news/view/2007078-post-and-deliveries-on-campus"
          href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fnews%2Fview%2F2007078-post-and-deliveries-on-campus&amp;auth=r%2F801TcdgP3PQvrE5gsdoQ&amp;profile=_default&amp;rank=1&amp;query=%21null+%7C%5BZ%3Aallstaff%5D+%7CX%3A%22%24%2B%2B+news+%24%2B%2B%22">Post
          and deliveries on campus</a></h1>
      <p><span class="search-summary">Our campus buildings are closed and only essential staff have access. Find out
          what is happening to post and deliveries.</span></p>
      <p><a title="https://intranet.cardiff.ac.uk/staff/news/view/2007078-post-and-deliveries-on-campus"
          href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fnews%2Fview%2F2007078-post-and-deliveries-on-campus&amp;auth=r%2F801TcdgP3PQvrE5gsdoQ&amp;profile=_default&amp;rank=1&amp;query=%21null+%7C%5BZ%3Aallstaff%5D+%7CX%3A%22%24%2B%2B+news+%24%2B%2B%22"><cite
            data-url="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fnews%2Fview%2F2007078-post-and-deliveries-on-campus&amp;auth=r%2F801TcdgP3PQvrE5gsdoQ&amp;profile=_default&amp;rank=1&amp;query=%21null+%7C%5BZ%3Aallstaff%5D+%7CX%3A%22%24%2B%2B+news+%24%2B%2B%22"
            class="search-result-url"><small>https://intranet.cardiff.ac.uk/staff/news/view/2007078-post-and-deliveries-on-campus</small></cite></a>
      </p>
    </div>
  </section>
  <section class="teaser">
    <div class="teaser-body">
      <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 24">
          <title>News</title>
          <path
            d="M32,7.88v17a3,3,0,0,1-3,3H2a2,2,0,0,1-2-2v-22H28v4h4Zm-6-2H2v20H26v-20Zm-22,6H24v-2H4v2Zm0,12H14v-10H4v10Zm12-8h8v-2H16v2Zm0,4h8v-2H16v2Zm0,4h6v-2H16v2Z"
            transform="translate(0 -3.88)"></path>
        </svg> News</p>
      <p class="teaser-category"><svg style="margin-right:10px;" class="icon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 27.56 32">
          <title>Calendar</title>
          <path
            d="M29.78,4.44V32H2.22V4.44H5.5V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,8.37,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,16,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.61,2.61,0,0,1,.78-2A2.88,2.88,0,0,1,23.69,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h3.25ZM7,2.72V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,7,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72A1.22,1.22,0,0,0,17,1.78a1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,14.69,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31A1.07,1.07,0,0,0,25,7.31V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,22.34,2.72Zm5.16,7.84H4.5V29.72h23V10.56ZM16.06,22.34a3,3,0,0,1-1.34,2.59,5.47,5.47,0,0,1-3.31.91A7.1,7.1,0,0,1,10,25.72a7.3,7.3,0,0,1-1.31-.37L9,23.44a12.63,12.63,0,0,0,1.34.38,6.18,6.18,0,0,0,1.34.09,2.45,2.45,0,0,0,1.44-.41,1.25,1.25,0,0,0,.53-1A1.27,1.27,0,0,0,13,21.25a5.14,5.14,0,0,0-2.25-.44V18.88a3.67,3.67,0,0,0,1.75-.44,1.06,1.06,0,0,0,.63-1,0.93,0.93,0,0,0-.31-0.78,2,2,0,0,0-1.25-.28,4.94,4.94,0,0,0-1.16.16A11.84,11.84,0,0,0,9.28,17L9,15a7.93,7.93,0,0,1,1.53-.47,8.9,8.9,0,0,1,1.59-.09,4.64,4.64,0,0,1,2.66.66,2.08,2.08,0,0,1,.94,1.72,2.41,2.41,0,0,1-.59,1.63,4.22,4.22,0,0,1-1.81,1.06v0a4.79,4.79,0,0,1,2,1,2.28,2.28,0,0,1,.69,1.75h0Zm1.84-6,3.38-1.69h1.16V25.69H20.09V17.5l-1.94.72Z"
            transform="translate(-2.22 0)"></path>
        </svg>06 April 2020</p>
      <h1 class="teaser-title"><a title="https://intranet.cardiff.ac.uk/staff/news/view/2102018-wellbeing-days"
          href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fnews%2Fview%2F2102018-wellbeing-days&amp;auth=S%2F7MZSkuBR4jWmRsz3xNnA&amp;profile=_default&amp;rank=2&amp;query=%21null+%7C%5BZ%3Aallstaff%5D+%7CX%3A%22%24%2B%2B+news+%24%2B%2B%22">Wellbeing
          Days</a></h1>
      <p><span class="search-summary">We take staff wellbeing extremely seriously – that’s why we have developed new
          ways to help staff switch to remote working during the coronavirus (Covid-19) pandemic. Find out more about
          the four days which take place during April and May.</span></p>
      <p><a title="https://intranet.cardiff.ac.uk/staff/news/view/2102018-wellbeing-days"
          href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fnews%2Fview%2F2102018-wellbeing-days&amp;auth=S%2F7MZSkuBR4jWmRsz3xNnA&amp;profile=_default&amp;rank=2&amp;query=%21null+%7C%5BZ%3Aallstaff%5D+%7CX%3A%22%24%2B%2B+news+%24%2B%2B%22"><cite
            data-url="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fstaff%2Fnews%2Fview%2F2102018-wellbeing-days&amp;auth=S%2F7MZSkuBR4jWmRsz3xNnA&amp;profile=_default&amp;rank=2&amp;query=%21null+%7C%5BZ%3Aallstaff%5D+%7CX%3A%22%24%2B%2B+news+%24%2B%2B%22"
            class="search-result-url"><small>https://intranet.cardiff.ac.uk/staff/news/view/2102018-wellbeing-days</small></cite></a>
      </p>
    </div>
  </section>
</div>