<section class="teaser teaser-small with-image">
  <figure class="teaser-image" style="width:70px;">
    <a href="http://www.cardiff.ac.uk/news/view/532117-1m-laser-tech-win-for-cardiff-venture">
    <img srcset="//cardiff.imgix.net/__data/assets/image/0004/533335/iStock_blue-And-_red_energy_000003435060_Small1.jpg?w=70&amp;h=39&amp;fit=crop&amp;q=40&amp;auto=format  70w,
                  //cardiff.imgix.net/__data/assets/image/0004/533335/iStock_blue-And-_red_energy_000003435060_Small1.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w" src="//cardiff.imgix.net/__data/assets/image/0004/533335/iStock_blue-And-_red_energy_000003435060_Small1.jpg?w=70&amp;h=39&amp;fit=crop&amp;q=40&amp;auto=format " sizes="(max-width: 300px) 100vw, 70px" alt="blue and red laser">
  </a>
  </figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="http://www.cardiff.ac.uk/news/view/532117-1m-laser-tech-win-for-cardiff-venture">£1m laser tech win for Cardiff venture</a></h1>
    <!--p class="teaser-date">16 December 2016</p-->
    <p class="teaser-date">16 December 2016</p>
    <p>Compound Semiconductor Centre wins funding</p>
  </div>
</section>