<figure class="image">
  <img src="http://placehold.it/370x210" alt="Placeholder">
  <figcaption class="caption">Figure 1. This is an image with a caption.</figcaption>
</figure>

<h3>Image with caption & span</h3>
<figure class="image">
    <img src="http://placehold.it/370x210" alt="Placeholder">
    <figcaption class="caption">Figure 2. This is an image with a caption & span.
      <span>This is span</span>
    </figcaption>
  </figure>