<figure class="quote with-image">
  <a href="http://www.cardiff.ac.uk/people/view/161970-huffaker-diana">
      <img class="quote-image img-circle" alt="profile image" width="100" src="https://cardiff.imgix.net/__data/assets/image/0010/113410/diane-huffaker.jpg?w=100&amp;h=100&amp;auto=format&amp;crop=faces&amp;fit=crop">
    </a>
  <blockquote class="quote-body">
    <p>"When you combine these new facilities, you get a sense of the path the Institute is charting: we will take research
      breakthroughs from the reactor and use them in the industrial cleanroom, moving knowledge from the laboratory to society."</p>
  </blockquote>
  <figcaption class="quote-author"><a href="http://www.cardiff.ac.uk/people/view/161970-huffaker-diana">Professor Diana Huffaker<cite class="quote-source">, Sêr Cymru Chair of Advanced Engineering and Materials and Director of Institute for Compound Semiconductors</cite></a></figcaption>
</figure>