<section class="teaser with-image" data-get-role="">
  <figure class="teaser-image" style="width:170px;">
    <a href="http://www.cardiff.ac.uk/study/international/your-country">
      <img srcset="https://cardiff.imgix.net/__data/assets/image/0003/16761/EuropeMap.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                  https://cardiff.imgix.net/__data/assets/image/0003/16761/EuropeMap.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
          src="https://cardiff.imgix.net/__data/assets/image/0003/16761/EuropeMap.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format" sizes="(max-width: 350px) 100vw, 170px" alt="Image of Europe map">
    </a>
  </figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="http://www.cardiff.ac.uk/study/international/your-country">Your country</a></h1>
    <p>Information on entry requirements, exhibitions, visits and the advisors available to help you in your home country.</p>
  </div>
</section>