<div class="alert alert-block alert-error with-icon">
  <h2 class="alert-title">
    ${require-svg('warning')}Search error
  </h2>
  <p>
    The module code you entered could not be found. If you don't know the module
    code, you can browse modules by Academic School.
  </p>
</div>
