<p class="alert" role="alert">This is the default alert.</p>
<p class="alert alert-info" role="alert">This is the info alert.</p>
<p class="alert alert-error" role="alert">This is the error alert.</p>
<p class="alert alert-success" role="alert">This is the success alert.</p>