<div class="alert alert-body squiz-bodycopy" id="content_container_1587234" desc="en=En title|cy=CY title">
  <p>
    Please be aware that continued construction of the Super Cycle Highway Scheme will be in place around the Cathays campus until mid-late October
    2019. Senghennydd Road will be closed from 07:30-17:30 from Monday 23 September to Saturday 28 September. During the closure period, Griffiths
    contract staff will direct traffic as appropriate. Please ensure you leave plenty of time to arrive at your class.
  </p>
</div>
