<table class="table footable-loaded footable">
	<thead>
		<tr>
			<th>Alert</th>
			<th>Usage</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p class="alert" role="alert">This is the default alert. <a href="#">More</a></p>
			</td>
			<td>Default alert</td>
		</tr>
		<tr>
			<td>
				<p class="alert alert-info" role="alert">This is the info alert. <a href="#">More</a></p>
			</td>
			<td>As an alternative to the default style.</td>
		</tr>
		<tr>
			<td>
				<p class="alert alert-error" role="alert">This is the error alert. <a href="#">More</a></p>
			</td>
			<td>Alert to indicate an error.</td>
		</tr>
		<tr>
			<td>
				<p class="alert alert-success" role="alert">This is the success alert. <a href="#">More</a></p>
			</td>
			<td>Indicating success or a positive result within an alert</td>
		</tr>
	</tbody>
</table>