<table class="table footable-loaded footable">
	<thead>
		<tr>
			<th>Alert</th>
			<th>Usage</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p class="alert alert-secondary-info" role="alert">This is the secondary info alert. <a href="">More</a></p>
			</td>
		</tr>
		<tr>
			<td>
				<p class="alert alert-secondary-error" role="alert">This is the secondary error alert. <a href="">More</a></p>
			</td>
		</tr>
		<tr>
			<td>
				<p class="alert alert-secondary-success" role="alert">This is the secondary success alert. <a href="">More</a></p>
			</td>
		</tr>
	</tbody>
</table>
