.accordion
  margin-bottom: ($baseUnit * 2.4)

  &-section
    @extend %no-border
    border-bottom: ($baseUnit * 0.2) solid $colourGreyLighter

    &-header
      cursor: pointer
      position: relative

      &-title
        display: block
        margin-top: 0
        margin-bottom: 0
        font-family: $headingsFontFamily
        font-size: map-get($font18, 'size')
        line-height: map-get($font18, 'line-height')
        padding: #{($baseUnit * 0.8)} #{($baseUnit * 1.5)}
        color: $colourText
        text-decoration: none
        text-indent: -$baseUnit*2.6
        padding-left: $baseUnit*4.1

        .icon
          @extend %rotate-0
          @extend %transition
          display: inline-block
          fill: $colourRed
          line-height: map-get($font17, 'line-height')
          margin-right: ($baseUnit * 1.0)
        
        &:hover
          text-decoration: none
          color: $colourText
        
        &:not(.collapsed)
          .icon
            @extend %rotate-90
            fill: $colourRed
  &-inner
    border-top: none
    padding: #{$baseUnit - 1} #{$baseUnit * 1.5}

  &-large
    .accordion-section
      &-header
        &-supplement
          font-size: map-get($font14, 'size')
          color: $colourGreyDarker
  
  &-mobile
    width: 100%
    
    .accordion-section
      border-bottom: ($baseUnit*0.1) solid $colourGreyLighter
      
      &-header
        &-title
          padding: $baseUnit*0.8 $baseUnit*1.5 $baseUnit*0.8 $baseUnit*4.7
          text-indent: -$baseUnit*3.2
      
      .accordion-toggle
        display: flex

@import accordion-md-up
@import accordion-lg-up