.quote 
  border: ($baseUnit*0.2) solid $colourGreyLighter
  border-left: 0
  border-right: 0
  margin: 0 0 ($baseUnit*2) 0
  padding: #{($baseUnit*2)} #{($baseUnit*4)}

  .quote-body 
    font-family: $TeeFranklinGothicLightOblFamily
    font-size: map-get($font20, 'size')
    border-left: none
    margin: 0 0 $baseUnit 0
    padding: 0

    p 
      font-size: map-get($font19, 'size')
      line-height: 1.5625rem
      margin-bottom: inherit
  
  .quote-author 
    color: $colourRed
		
  &.with-icon
    .icon
      @include square(map-get($svgWidths, 'md'))
      fill: $colourTintDark
      margin-bottom: $baseUnit/2
    
    .quote-body
      border-left: none
  
  &.quote-vertical
    text-align: center
    
    &.with-image
      padding-left: ($baseUnit*6)

      .quote-image 
        float: none
        margin: 0 auto $baseUnit
        display: block

  &.with-image
    padding-left: ($baseUnit*15)
    overflow: hidden

    .quote-image
      float: left
      margin-left: (-($baseUnit*13))
      margin-top: ($baseUnit/2)
      width: $baseUnit*10

.float-right,
.float-left
  .quote
    padding: ($baseUnit*2)
    border-right: 0
    border-left: 0

@import 'quote-xs-up'