<nav aria-label="Page navigation disable-left">
    <ul class="pagination">
      <li class="page-item" tabindex="-1" aria-disabled="true">${require-svg('chevron-left')}</li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">${require-svg('chevron-right')}</a></li>
    </ul>
  </nav>


<nav aria-label="Page navigation disable-right">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">${require-svg('chevron-left')}</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item" tabindex="-1" aria-disabled="true">${require-svg('chevron-right')}</li>
    </ul>
  </nav>