<table class="table footable-loaded footable">
  <thead>
    <tr>
      <th>Button</th>
      <th>Usage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a class="btn" href="#">Cancel</a></td>
      <td>Default action button</td>
    </tr>
    <tr>
      <td><a class="btn btn-primary" href="#">Sign in</a></td>
      <td>Primary action button. Only one of these should appear on a content page or within a component.</td>
    </tr>
    <tr>
      <td><a class="btn btn-info" href="#">View profile</a></td>
      <td>As an alternative to the default style.</td>
    </tr>
    <tr>
        <td><a class="btn btn-error" href="#">Error</a></td>
        <td>Error Button</td>
      </tr>
    <tr>
      <td><a class="btn btn-success" href="#">Subscribed</a></td>
      <td>Indicating success or a positive result</td>
    </tr>
    <tr>
      <td><a class="btn btn-warning" href="#">Cancel</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a class="btn btn-danger" href="#">Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a class="btn btn-inverse" href="#">Update</a></td>
      <td>Inverted button for use on dark backgrounds</td>
    </tr>
    <tr>
      <td><a class="btn btn-link" href="#">A button that looks like a link</a></td>
      <td></td>
    </tr>
  </tbody>
</table>