<p><a class="btn btn-outline" href="">.btn.btn-outline</a></p>
<p><a class="btn btn-primary-outline" href="">.btn.btn-primary-outline</a></p>
<p><a class="btn btn-info-outline" href="">.btn.btn-info-outline</a></p>
<p><a class="btn btn-success-outline" href="">.btn.btn-success-outline</a></p>
<p><a class="btn btn-warning-outline" href="">.btn.btn-warning-outline</a></p>