<h4>Button large</h4>
<a class="btn btn-lg btn-primary" href="#">Cancel</a>

<h4 class="clearfix">Button small</h4>
<a class="btn btn-sm btn-primary" href="#">Edit</a>

<h4 class="clearfix">Button xs</h4>
<a class="btn btn-xs btn-primary" href="#">Sort list</a>