<a class="btn btn-success" href="#">${require-svg('tick')}Subscribed</a>
<a class="btn" href="#">${require-svg('download')}Download PDF</a>
<a class="btn btn-link" href="#">View prospectus${require-svg('chevron-right')}</a>
<a href="#" class="btn btn-lg btn-primary">${require-svg('download')}Download</a>

<h3>Button Arrow</h3>

<a href="#" class="btn btn-arrow">Arrow</a> <br> <br>
<a href="#" class="btn btn-arrow btn-arrow-left">Arrow</a> <br> <br>
<a href="#" class="btn btn-lg btn-arrow">Arrow large</a><br><br>
<a href="#" class="btn btn-lg btn-arrow btn-arrow-left">Arrow large</a><br><br>

<h3>Button Home Page</h3>

<div class="col-md-12">
  <a href="#" class="btn btn-more ">View more news${require-svg('chevron-right')}</a>
</div>