<a class="btn" href="#">Cancel</a>
<a class="btn btn-primary" href="#">Sign in</a>
<a class="btn btn-info" href="#">View profile</a>
<a class="btn btn-success" href="#">Subscribed</a>
<a class="btn btn-warning" href="#">Cancel</a>
<a class="btn btn-danger" href="#">Delete</a>
<a class="btn btn-inverse" href="#">Update</a>
<a class="btn btn-link" href="#">A button that looks like a link</a>