<a href="#" class="button-full-width">
  <div class="title-wrapper">
    <p class="title">Post-2014 REF submission</p>
    <p class="summary">Find out how your output can be made REF 2021 Open Access compliant.</p>
  </div>
  <span class="icon-chevron-right"></span>
</a>