.nav-pills
  margin-left: 0
  margin-bottom: $baseUnit*2.4
  list-style: none

  .nav-item
    line-height: 1.25rem

    .nav-link 
      margin: ($baseUnit*0.2) $baseUnit/2 $baseUnit*0.2 0
      border: ($baseUnit * 0.1) solid (rgba($colourBtnLinkColour, 0.25))
      text-decoration: none
      padding: $baseUnit * 0.8 $baseUnit * 1.2
      line-height: 0.875rem
      
      &:hover
        background: lighten($colourBtnLinkColour,55%)
      
      &.active
        &:hover 
          background: lighten($colourBtnLinkColour, 15%)

@import 'pills-lg-up'