<div class="row">
  <div class="col-md-4">
    <figure class="video " data-get-role="">
      <div class="video-body">
        <iframe src="https://www.youtube.com/embed/GAMuhawLaGk?modestbranding=1&amp;showinfo=1&amp;rel=0&amp;autohide=1"
          frameborder="0" allowfullscreen=""></iframe>
      </div>
    </figure>
  </div>
</div>