.decision-question 
  legend
    line-height: map-get($font25, 'line-height')
    padding-top: $baseUnit
  
  ul 
    list-style: none
    display: inline-block
    margin-top: 0
    margin-left: 0
    
    li 
      border: $baseUnit*0.1 solid $colourPrimeGrey
      position: relative
      margin-bottom: $baseUnit
      
      label
        background: $colourGreyLightest
        top: 0
        left: 0
        height: 100%
        padding: $baseUnit $baseUnit*1.5 $baseUnit $baseUnit * 3.5
        z-index: 1
        box-sizing: border-box
        margin: 0
        display: block
      
      input
        position: absolute
        top: $baseUnit*1.4
        margin: 0
        left: $baseUnit
        z-index: 2
      
      &:hover 
        border: ($baseUnit * 0.1) solid $colourGrey
      
      &:last-child 
        margin-bottom: 0