<h2>List</h2>
${require('variations/list-ul.html')}
<h2>Ordered list</h2>
${require('variations/list-ol.html')}
<h2>List contact</h2>
${require('variations/list-contact.html')}
<h2>List icons</h2>
${require('variations/list-icons.html')}
<h2>List publicaitons</h2>
${require('variations/list-publications.html')}
<h2>List links</h2>
${require('variations/list-links.html')}
<h2>List steps small</h2>
${require('variations/list-steps-small.html')}