.badge 
  background: $colourPrimeGrey
  font-family: #{$FranklinGothicMed}, #{$sansFontFamily}
  font-size: map-get($font15, "smaller")
  line-height: map-get($font15, "line-height")
  font-weight: normal
  text-shadow: none
  padding: 0 ($baseUnit*0.6)
  color: $colourBlack
  border-radius: 0.563rem

  &-success, &-info, &-important, &-inverse
    color: $colourWhite

  &-success
    background: $colourGreen

  &-info
    background: $colourBtnInfoBackground

  &-warning
    background: $colourEnergyYellow
    color: $colourBlack
    
  &-important
    background: $colourRed
    
  &-inverse
    background: $colourBlack