.well
  padding: $baseUnit*2
  border: $baseUnit/10 solid $colourPrimeGrey
  background-color: $colourWildSandGrey
  margin-bottom: $baseUnit*2
  min-height: 20px
  box-shadow: inset 0 $baseUnit/10 $baseUnit/10 rgba($colourBlack, 0.05)
  
  &.well-small
    padding: $baseUnit

  &.well-large
    padding: $baseUnit*2.5

    .well-section
      @include flex(1 1 100%)
      padding: $baseUnit*2

      &:first-child
        margin-right: $baseUnit

  h1,h2,h3,h4,h5,h6
    color: $colourBlack
    margin: $baseUnit*1.2 0
    text-rendering: optimizeLegibility

@import 'well-sm-up'
@import 'well-lg-up'
@import 'well-xl-up'