<h3>Teaser</h3>
<div class="col-md-8">
  ${require('variations/teaser.html')}
</div>

<h3>Teaser with image</h3>
<div class="col-md-9">
  ${require('variations/teaser-image.html')}
</div>

<h3>Teaser small</h3>
<div class="col-md-3">
  ${require('variations/teaser-small.html')}
</div>

<h3>Teaser small with date</h3>
<div class="col-md-3">
  ${require('variations/teaser-small-with-date.html')}
</div>

<h3>Teaser small with key</h3>
<div class="col-md-4">
  ${require('variations/teaser-small-with-key.html')}
  ${require('variations/teaser-small-with-key.html')}
</div>

<h3>Vertical teaser with image (with/without personalisation icon)</h3>
<div class="col-12 col-lg-4">
  ${require('variations/teaser-vertical-image.html')}
</div>

<h3>Teaser large</h3>
<div class="col-md-8">
  ${require('variations/teaser-large.html')}
</div>

<h3>Teaser with large image</h3>
<div class="col-md-9">
  ${require('variations/teaser-large-image.html')}
</div>

<h3>Teaser boxed</h3>
<div class="col-md-3">
  ${require('variations/teaser-boxed.html')}
</div>

<h3>Teaser featured</h3>
<div class="col-md-6">
  ${require('variations/teaser-featured.html')}
</div>

<h3>Teaser section</h3>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-6">
      ${require('variations/teaser-section.html')}
    </div>
    <div class="col-md-6">
      ${require('variations/teaser-section.html')}
    </div>
    <div class="col-md-6">
      ${require('variations/teaser-section.html')}
    </div>
    <div class="col-md-6">
      ${require('variations/teaser-section.html')}
    </div>
  </div>
</div>

<h3>Teaser news</h3>
<div class="col-md-9">
  <div class="row">
    <div class="col-md-9">
      ${require('variations/teaser-news.html')}
    </div>
  </div>
</div>

<h3>Teaser news small</h3>
<div class="col-md-3">
  ${require('variations/teaser-news-small.html')}
  ${require('variations/teaser-news-small.html')}
  ${require('variations/teaser-news-small.html')}
</div>

<h3>Teaser event</h3>
<div class="col-md-9">
  ${require('variations/teaser-event.html')}
</div>

<h3>Teaser staff event</h3>
<div class="col-md-9">
  <div class="row">
    <div class="col-md-9">
      ${require('variations/teaser-staff-event.html')}
    </div>
  </div>
</div>

<h3>Teaser staff event personalised</h3>
<div class="col-md-6">
  ${require('variations/teaser-personalised.html')}
</div>

<h3>Teaser Section Personalised</h3>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
      ${require('variations/teaser-section-personalised.html')}
    </div>
  </div>
</div>

<h3>Teaser News Personalised</h3>
<div class="col-md-9">
  <div class="row">
    <div class="col-md-9">
      ${require('variations/teaser-news-personalised.html')}
    </div>
  </div>
</div>

<h3>Teaser Search Result Personalised</h3>
${require('variations/teaser-search-result-personalised.html')}
