<section class="profile profile-student with-image vcard">
  <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100" alt="profile image" /></a>
  </figure>
  <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
  <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span> <a
      class="link-academicschool" href="#">School of Biosciences</a></h2>
  <div class="profile-bio">
    <p>My passion is dancing, and has been since I was about 7 years old. Needless to say I was quick to sign up with a
      dance
      troupe. I also love singing (in the shower), being a committee member for the Biology Society and am involved in a
      few volunteering projects.</p>
  </div>

  <dl class="profile-contact">
    <dt>${require-svg('email')}</dt>
    <dd><a href="#">sandersh@cardiff.ac.uk</a></dd>
    <dt>${require-svg('telephone')}</dt>
    <dd class="profile-contact-telephone ts" data-toggle="tooltip" data-original-title="+44 (0)29 208 74120"
      data-placement="top">+44
      (0)29 208 74120</dd>
    <dt>${require-svg('telephone')}</dt>
    <dd>helen.sanders978</dd>
  </dl>

  <ul class="list list-horizontal list-icons profile-connect">
    <li><a href="#">${require-svg('twitter')}</a>
    </li>
    <li><a href="#">${require-svg('facebook')}</a></li>
  </ul>

</section>