<div class="clearfix">
  <div class="col-md-4 float-left">
    <section class="profile profile-vertical profile-student with-image vcard">
      <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100" alt="profile image"></a>
      </figure>
      <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
      <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span>
        <a class="link-academicschool" href="#">School of Biosciences</a></h2>
    </section>
  </div>
  <div class="col-md-4 float-left">
    <section class="profile profile-vertical profile-staff with-image vcard">
      <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100" alt="profile image"></a>
      </figure>
      <h1 class="profile-title fn"><a href="#">Professor Colin Riordan <span class="profile-title-suffix">BA
            PhD</span></a></h1>
      <h2 class="profile-subtitle"><span class="profile-position">Vice Chancellor</span></h2>
    </section>
  </div>
  <div class="col-md-4 float-left">
    <section class="profile profile-vertical profile-student with-image vcard">
      <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100" alt="profile image"></a>
      </figure>
      <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
      <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span>
        <a class="link-academicschool" href="#">School of Biosciences</a></h2>
    </section>
  </div>
</div>
