<h2>Facets</h2>
<h3 class="facet-filter-title">Filter by</h3>
<h3>Facet: Date Range</h3>
${require('variations/facet-daterange.html')}

<h3>Facet popup (<767px)</h3> ${require('variations/facet-popup.html')} <h3>Facet nav </h3>
${require('variations/facet-nav.html')}
<h3>Facet fixed/checkbox</h3>
${require('variations/facet-checkbox.html')}
<h3>Facet Type/Search</h3>
${require('variations/facet-type.html')}
<h3>Facet Radio</h3>
${require('variations/facet-radio.html')}