$megaMenuPadding: $baseUnit*2.5

@media (min-width: 1025px)
  .nav-global
    &-links
      > .nav-item
        &:first-child
          margin-left: $baseUnit*1.5

      &-dropdown
        margin: 0 #{-$megaMenuPadding}
        padding: 0 0 $baseUnit