$megaMenuPadding: $baseUnit*2.5

@media #{$breakpoint-xl-up}
  .nav-global
    .navbar
      max-width: map-get($container-max-widths, "xl")

    &-links
      > .nav-item
        > .nav-link
          font-size: map-get($font20, 'size')
          padding: $baseUnit*1.5 $baseUnit*2

          &.with-dropdown
            min-width: 100%
        
      &-dropdown
        margin: 0