.nav-global
  background: $colourPickledBlueWood
  font-weight: normal
  text-shadow: none
  font-family: $headingsFontFamilyLight
  margin: auto
  z-index: $zindex-modal-backdrop + 1
  width: 100%
  position: relative

  .navbar
    @extend .flex-row
    @extend .align-items-center
    @extend .justify-content-start
    max-width: map-get($container-max-widths, "lg")
    margin: auto
    padding: 0

    .navbar-inner
      padding: 0

  &-links-dropdown
    display: none
    position: absolute
    left: 0
    right: 0
    min-height: 340px
    overflow: hidden
    background-color: $colourWhite
    padding: 0 $baseUnit*1.5

    &:hover
      display: block

      + .nav-link
        @include global-nav-active-arrow()

    .nav
      margin: 0

      > .nav-item
        margin-bottom: $baseUnit*2.4

      .nav-item
        display: block
        width: 100%

        &:last-child
          margin-bottom: 0
       
        .nav-link
          font-family: $brandFamily
          font-size: map-get($font18, 'size')
          line-height: map-get($font18, 'line-height')
          color: $colourLink
          padding: 0
          display: inline-block

          &:focus
            outline: none
            border: none
            box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn
      
          &:hover
            text-decoration: underline

        .nav-title
          font-family: $headingsFontFamily
          font-size: map-get($font22, 'size')
          line-height: map-get($font22, 'line-height')
          color: $colourCongressBlue

          + .nav
            margin-top: $baseUnit*1.5

            .nav-item
              margin-bottom: $baseUnit

              &:last-child
                margin-bottom: 0

  &-links
    display: flex
    justify-self: start
    margin: 0
    flex-wrap: nowrap

    .nav-link
      text-decoration: none

    > .nav-item
      > a:visited
        color: $colourWhite
      
      > a:focus 
        color: $colourPickledBluewood

        .icon
          fill: $colourPickledBluewood

      .icon
        fill: $colourWhite
        margin-left: $baseUnit*0.5
       
      > .nav-link
        display: inline-block
        max-width: 170px
        height: 100%
        font-size: map-get($font19, 'size')
        line-height: map-get($font19, 'line-height')
        padding: $baseUnit*1.5 $baseUnit
        position: relative

        &.with-dropdown
          color: $colourWhite
          height: 100%
          cursor: pointer
          min-width: 95px

          &:focus
            color: $colourPickledBluewood

          &:hover 
            background: $colourComet

            .icon
              fill: $colourWhite

      &:hover
        > .nav-link
          &:hover
            color: $colourWhite

        > .nav-link.with-dropdown
          @include global-nav-active-arrow()
        
          + .nav-global-links-dropdown
            display: block

@import "nav-global-1025-up"
@import "nav-global-xl-up"
@import "nav-global-1255-up"