<div class="row">
  <div class="col-md-8">
    <h2>Circle navigation 4 links</h2>
    <div class="row">
      <div class="col-md-8">
        ${require('variations/circle-navigation-4.html')}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Circle navigation 5 links</h2>
    <div class="row">
      <div class="col-md-8">
        ${require('variations/circle-navigation-5.html')}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Circle navigation 8 links</h2>
    <div class="row">
      <div class="col-md-7">
        ${require('variations/circle-navigation-8.html')}
      </div>
    </div>
  </div>
</div>