$appToolbarItemWidth: 120px

@media #{$breakpoint-sm-up}
  .apps-toolbar
    padding: 0 $baseUnit*4.5 $baseUnit*4

    h1
      margin-top: $baseUnit*6

    .apps-toolbar
      &-icon
        margin: 0
        position: absolute
        top: 35px
        right: 0
        left: 0

        .icon
          @include square(map-get($svgWidths, 'xxl'))
          fill: $colourBlack

      &-selected
        margin: $baseUnit*4 0 $baseUnit*9

        &-item
          display: inline-block
          position: relative
          background: none
          width: $appToolbarItemWidth
          padding: 0

          &-text
            color: $colourWhite

          &,
          &-empty
            margin: 0 $baseUnit*2.75 $baseUnit*3

          p
            flex-basis: unset
            text-align: unset

          &-dragdrop
            display: none

          &-circle,
          &-empty
            @include square($appToolbarItemWidth)
            border-radius: $baseUnit*0.4

          &-circle
            background-color: $colourAnakiwa2
            margin-bottom: $baseUnit*1.5

          &-remove
            @include square(26px)
            position: absolute
            top: -10px
            right: -10px

            &::before
              line-height: 1.2rem

          &-empty
            border: $baseUnit*0.1 dashed $colourAnakiwa2
            display: flex
            justify-content: center
            align-items: center

            .icon
              @include square(map-get($svgWidths, '20'))
              margin: 0
              
              path
                fill: $colourWhite

        .ui-sortable
          display: flex
          flex-wrap: wrap
          justify-content: flex-start
          margin: 0

      &-slider
        .apps-toolbar-icon
          .icon
            fill: $colourWhite

        &-options
          text-align: left
          margin-bottom: $baseUnit*2

          .apps-toolbar-select-wrapper,
          form
            display: inline-block
            width: 297px
            margin-bottom: $baseUnit*3

        &-item
          flex-direction: column
          flex-basis: 20%
          border: 0

          .icon
            @include square(70px)
            margin: 0
          
          &.active
            .apps-toolbar-slider-item-icon
              border-color: $colourRed

              &:before
                position: relative
                top: -2px
            
          &-icon
            display: inline-block
            margin: 0
            border: $baseUnit*0.1 solid $colourWhite
            background: $colourTransparent

            &::before
              @include square(25px)
              border-radius: 100%
              color: white

          .apps-toolbar-icon
              position: unset
              margin-bottom: $baseUnit*0.5