@media #{$breakpoint-lg-up}
  .apps-toolbar
    .apps-toolbar
      &-icon-close
        right: 25px

        &:focus
          outline: none
          background-color: $colourSweetCorn

          .icon
            fill: $colourBlack

      &-selected-item-remove
        &:focus
          background-color: $colourSweetCorn
          box-shadow: none

          &::before
            color: $colourBlack

      &-slider
        &-options
          margin-bottom: $baseUnit*7.5

          select, 
          input
            &:focus
              outline: $baseUnit*0.3 solid $colourSweetCorn
              outline-offset: $baseUnit*0.05

          .clear,
          .search,
            &:focus,
            &:focus:hover
              outline: none
              background-color: $colourSweetCorn

              .icon
                fill: $colourBlack
        
        &-item
          .apps-toolbar-slider-item-icon
            &:not(.disabled):focus
              background-color: $colourSweetCorn
              border-color: $colourSweetCorn
              box-shadow: none
              
              &::before
                color: $colourBlack

            &.disabled:focus
              box-shadow: none