$zIndexToolbar: 5000
$zIndexToolbarSelectCaret: 4900

.apps-toolbar
  z-index: $zIndexToolbar
  background: rgba($colourPickledBluewood, 0.95)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  text-align: center
  overflow-y: scroll
  padding: 0px $baseUnit*0.5 $baseUnit*4
  color: $colourWhite

  p
    font-family: $headingsFontFamilyLight
    margin: 0

  h1
    color: $colourWhite
    margin-top: $baseUnit*7
    font-size: map-get($font46, 'size')
    line-height: map-get($font46, 'line-height')

  .apps-toolbar
    &-icon
      fill: $colourAnakiwa2
      margin-right: $baseUnit*2

      .icon
        @include square(35px)
        fill: $colourAnakiwa2
        margin: 0

      &-close
        background: none
        border: 0
        padding: $baseUnit
        position: absolute
        right: 10px
        top: 10px
        z-index: $zIndexToolbar+1
        
        .icon
          @include square(28px)
          fill: $colourWhite
          margin: 0

    &-selected
      margin: $baseUnit*5 0 $baseUnit*6

      &-item
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        background: $colourMirage
        border-radius: $baseUnit*0.3
        padding: $baseUnit*0.8 $baseUnit*1.5
        margin: 0 0 $baseUnit*1.5

        &-text
          color: $colourAnakiwa2
          text-align: left
          flex-basis: calc(100% - 130px)           

        &-remove
          @include square(23px)
          cursor: pointer
          background: $colourRed
          border-radius: 100%
          order: 2
          text-decoration: none
          transition: background $appsRemoveDuration $appsRemoveTiming
          
          &:before 
            content: '-'
            font-size: map-get($font40, 'size')
            line-height: 1rem        
            color: $colourWhite
            text-align: center

          &:hover
            background: $colourBtnPrimaryBackgroundHighlight
            text-decoration: none
      
        &-dragdrop
          margin-right: $baseUnit*2
          cursor: pointer
          z-index: $zIndexToolbar+1

          .icon
            @include square(20px)
            fill: $colourWhite
            margin: 0

        &-empty
          display: none

    &-slider
      color: white
      font-size: map-get($font15, 'size')
      line-height: map-get($font15, 'line-height')
      display: flex
      flex-wrap: wrap
      justify-content: flex-start

      &-options
        margin-bottom: $baseUnit*6

        .apps-toolbar-select-wrapper
          width: 100%
          margin-bottom: $baseUnit*3
          position: relative

          &::after
            content: ''
            border-style: solid
            border-width: $baseUnit*0.8 $baseUnit*0.8 0 $baseUnit*0.8
            border-color: $colourWhite $colourTransparent $colourTransparent $colourTransparent
            position: absolute
            top: 22px
            right: 27px
            z-index: $zIndexToolbarSelectCaret

        select,
        input
          background-color: $colourTransparent
          color: $colourWhite
          background-image: none
          appearance: none
          box-shadow: none
          position: relative
          padding: $baseUnit*0.5 $baseUnit*8.7 $baseUnit*0.5 $baseUnit*1.5
          width: 100%
          opacity: 1
          height: 50px
          border: $baseUnit*0.1 solid $colourWhite
          border-radius: 0

        select
          cursor: pointer
          z-index: $zIndexToolbarSelectCaret+1

          &::-ms-expand
            display: none

          option
            background-color: $colourWhite
            color: $colourGrey
        
        input
          &::placeholder
            color: $colourWhite
            opacity: 1

          &:-internal-autofill-selected,
          &:-webkit-autofill
            -webkit-text-fill-color: $colourWhite
            -webkit-box-shadow: 0 0 0px 1000px #{$colourTransparent} inset
            transition: background-color 5000s ease-in-out 0s

          &::-ms-clear
            display: none

        form
          position: relative

          .clear,
          .search
            display: flex
            background: $colourTransparent
            position: absolute
            top: 1px
            transition: background $appsRemoveDuration $appsRemoveTiming

            &:hover
              background: $colourWhite
              
              .icon
                fill: rgba($colourPickledBluewood, 0.95)

            .icon
              fill: $colourWhite
              margin: 0

          .clear
            border: 0
            padding: $baseUnit*1.7 $baseUnit*1.3
            right: 50px

            .icon
              @include square(14px)
              
          .search
            padding: $baseUnit*1.6
            border: 0
            border-left: $baseUnit*0.1 solid $colourWhite
            right: 1px

            .icon
              @include square(16px)

      &-item
        width: 100%
        display: flex
        align-items: center
        margin: 0 0 $baseUnit*3
        padding: 0 0 $baseUnit
        border-bottom: $baseUnit*0.1 solid $colourAnakiwa2

        p
          font-family: $brandFamily

        .icon
          @include square(40px)
          margin-right: $baseUnit*2.5
          fill: $colourWhite

        &-icon
          @include square(25px)
          background-color: $colourApple
          cursor: pointer
          border-radius: 100%
          margin-left: auto
          transition: background $appsIconDuration $appsIconTiming

          &:hover
            text-decoration: none

          &::before
            content: '+'
            font-size: map-get($font20, 'size')
            color: $colourWhite
            
          &.disabled
            opacity: 0.1
            cursor: initial

          &:not(.disabled)
            &:hover
              background: $colourWhite
              border-color: $colourWhite

              &::before
                color: $colourBlack            
  
        &.active
          color: $colourAnakiwa2

          .apps-toolbar
            &-icon
              .icon
                fill: $colourAnakiwa2

            &-slider-item-icon
              background-color: $colourRed
              transition: background $appsRemoveDuration $appsRemoveTiming

              &:hover
                background-color: $colourBtnPrimaryBackgroundHighlight
                border-color: $colourBtnPrimaryBackgroundHighlight

                &::before
                  color: $colourWhite

              &::before 
                content: '-'

  .ui
    &-sortable
      margin: 0 0 $baseUnit*3.5
      list-style-type: none

    &-state-highlight
      width: 100%
      height: 51px
      background: rgba($colourAnakiwa2, 0.3)
      border: $baseUnit*0.1 solid rgba($colourAnakiwa2, 0.45)
      border-radius: $baseUnit*0.3
      margin-bottom: $baseUnit*1.5
      padding: $baseUnit*0.5 0
      margin-left: 0

  .slick
    &-list
      width: 100% !important

    &-dots
      position: relative
      bottom: 0

      .slick-active
        button
          border-radius: $baseUnit*5
          background: $colourAnakiwa2

          &::before
            content: ''

      li
        @include square(22px)
        border: $baseUnit*0.1 solid $colourAnakiwa2
        border-radius: $baseUnit*5

        button::before
          content: ''
    
    &-slide:focus
      outline: none

@import 'apps-toolbar-sm-up'
@import 'apps-toolbar-lg-up'
@import 'apps-toolbar-xl-up'