@media #{$breakpoint-lg-up}
  .homepage-events-wrapper
    flex-wrap: nowrap
    
    .box-event
      width: calc(25% - 20px)
      flex-basis: 21%
      flex-basis: calc(25% - 15px)
      -ms-flex-preferred-size: 20%