.nav-global-mobile
  transition: all $mobileMenuSlideDuration $mobileManuSlideTiming, $transition-collapse
  transform: translateX(-100%)
  z-index: $zindex-modal-backdrop + 1
  position: fixed
  background-color: $colourWhite
  width: 100%
  bottom: 0
  left: 0
  height: calc(100% - #{$mobileHeaderHeight})
  overflow-y: scroll

  p
    margin-bottom: $baseUnit*2.4

  ul
    margin-left: 0
    list-style-type: none

  &-title
    font-size: map-get($font30, 'size')
    line-height: map-get($font30, 'line-height')
    font-family: $headingsFontFamilyLight
    color: $colourRed
    margin-bottom: $baseUnit*2
    
    a
      text-decoration: underline

  &-header
    margin: $baseUnit*2

    &-back
      display: flex
      align-items: center
      color: $body-color

      .icon
        @include square(map-get($svgWidths, 'xs'))
        margin-right: $baseUnit*1.5

  &-account
    margin: $baseUnit*3 $baseUnit*2 $baseUnit*4
    font-size: map-get($font22, 'size')
    line-height: map-get($font22, 'line-height')

    .icon
      margin-right: $baseUnit

    &-logout,
    &-context
      display: flex
      align-items: center
      color: $body-color

      .icon
        width: 20px
        height: 29px

    &-context
      .icon
        @include square(map-get($svgWidths, 'md'))

    &-divider
      margin: $baseUnit*4 -#{$baseUnit*2} $baseUnit*3

  &-inner
    .nav
      &-item
        font-size: map-get($font22, 'size')
        line-height: map-get($font22, 'line-height')
        border-bottom: $baseUnit*0.1 solid $colourGreyLight

        &:first-child
          border-top: $baseUnit*0.1 solid $colourGreyLight

          .nav-link            
            min-height: $baseUnit*6.8      

        &-expandable
          display: flex

      &-link
        display: flex
        flex-basis: 100%
        align-items: center
        color: $colourBlack
        padding: $baseUnit*1.5 $baseUnit*2
        min-height: $baseUnit*6.9

        &.active
          color: $colourRed
          font-family: $boldFontFamily

        &-expand
          border-left: $baseUnit*0.1 solid $colourSilver

          .icon
            @include square(14px)
            margin: $baseUnit*2.4
            pointer-events: none

            path
              fill: $colourTapa

  &-next
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 100%
    transform: translate(100%, 0%)

    &.transitioning
      transition: transform $mobileMenuSlideDuration $mobileManuSlideTiming
      transform: translate(0%, 0%)

  &-previous
    &.transitioning
      transform: translate(-100%, 0)
      transition: transform $mobileMenuSlideDuration $mobileManuSlideTiming

  &-next.back
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 100%
    transform: translate(-100%, 0%)

    &.transitioning
      transition: transform $mobileMenuSlideDuration $mobileManuSlideTiming
      transform: translate(0%, 0%)

  &-previous.back
    &.transitioning
      transform: translate(100%, 0)
      transition: transform $mobileMenuSlideDuration $mobileManuSlideTiming

  > .loading
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column