<section class="box box-related" id="posts">
  <header class="box-header">
    <h2 class="box-title">Take part in research</h2>
  </header>
  <div class="box-body">
    <div class="well" id="yammerSignIn">
      <p>Connect with Yammer to see the latest opportunities.</p>
      <p>
        <span id="yammer-login" data-groupID="8237225" data-YamType="news-compact" data-msgLimit="5"
          data-charLimit="140" data-Header="Noticeboard"></span>
      </p>
    </div>
  </div>
  <div class="box-footer">
    <p><a href="https://www.yammer.com/cardiff.ac.uk/#/threads/inGroup?type=in_group&amp;feedId=8237225" target="_blank"
        rel="noopener noreferrer">See more from "Take part in research" on Yammer</a></p>
  </div>
</section>