<h2>Forms</h2>
<h3>Inline form</h3>
${require('variations/form-inline.html')}
<h3>Vertical form</h3>
${require('variations/form-vertical.html')}
<h3>Form states</h3>
${require('variations/form-states.html')}
<h3>Disabled input</h3>
${require('variations/form-disabled.html')}
<h3>Optional input</h3>
${require('variations/form-optional.html')}
<h3>Select input</h3>
${require('variations/form-select.html')}
<h3>Checkbox input</h3>
${require('variations/form-checkbox.html')}
<h3>Radio input</h3>
${require('variations/form-radio.html')}
<h3>Textarea input</h3>
${require('variations/form-textarea.html')}
<h3>Horizontal Form</h3>
${require('variations/form-horizontal.html')}
<h3>Squiz Form</h3>
${require('variations/form-squiz.html')}
<h3>Form Grid</h3>
${require('variations/form-grid.html')}