<h2>Pills</h2>
<ul class="nav nav-pills" data-action="filter">
  <li class="nav-item"><a class="nav-link active" href="#" data-target="all" aria-selected="true">All</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-target=".undergraduate" aria-selected="false">Undergraduate</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-target=".postgraduate" aria-selected="false">Postgraduate</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-target=".international" aria-selected="false">International</a></li>
</ul>

<div class="filter-content">
  <div class="filter-pane undergraduate">
    Undergraduate content
  </div>
  <div class="filter-pane postgraduate">
    Postgraduate content
  </div>
  <div class="filter-pane international">
    International content
  </div>
  <div class="filter-pane undergraduate">
    Undergraduate content
  </div>
  <div class="filter-pane international">
    International content
  </div>
  <div class="filter-pane postgraduate">
    Postgraduate content
  </div>
</div>