<h2>Table</h2>
${require('variations/table.html')}
<h2>Responsive table</h2>
${require('variations/table-responsive.html')}
<h2>Table with borders</h2>
${require('variations/table-bordered.html')}
<h2>Table with hover effect</h2>
${require('variations/table-hover.html')}
<h2>Condensed table</h2>
${require('variations/table-condensed.html')}
<h2>Table striped</h2>
${require('variations/table-striped.html')}
<h2>Sortable table</h2>
${require('variations/table-sortable.html')}
<h2>Table context</h2>
${require('variations/table-states.html')}
<h2>Table vertical</h2>
${require('variations/table-vertical.html')}