.contact
  margin-bottom: ($baseUnit*2)

  .contact-title 
    color: $colourRed
    font-family: $headingsFontFamily
    font-size: map-get($font18, 'size')
    line-height: 1.25rem
    margin: 0 0 ($baseUnit/2) 0
    
  .list.list-contact
    font-family: $sansFontFamily
    font-size: map-get($font12, "size")