<nav class="nav-global-mobile d-none">
  <div id="mobileNavigationItems">
    <ul class="nav-global-mobile-inner">
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Support for your work</a>
        <a href="#" class="nav-link-expand" data-assetid="7680">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Training and careers</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Leave and working hours</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Pay, perks and contracts</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Wellbeing and support</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">About the University</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">People and Teams</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Get involved</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Online tools</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Forms</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Policies</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
    </ul>
  </div>
  <div class="nav-global-mobile-account">
    <h2 class="nav-global-mobile-title">Account</h2>
    <p>You're currently logged in as <strong>Joanna Goodwin</strong></p>
    <p><a href="#" class="nav-global-mobile-account-logout">${require-svg('logout')}Logout</a></p>
    <hr class="nav-global-mobile-account-divider" />
    <h2 class="nav-global-mobile-title">Language</h2>
    <a href="#" class="nav-global-mobile-account-context">${require-svg('welsh')}Cymraeg</a>
  </div>
</nav>
