<div class="nav-global-mobile d-none">
  <div class="nav-global-mobile-header">
    <a href="#" class="nav-link nav-back">${require-svg('chevron-left')}Back to main menu</a>
    <a href="#" class="nav-link active">Support for your work</a>
  </div>
  <nav>
    <ul class="nav-global-mobile-inner">
      <!-- <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Manage people and projects</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Manage your office or lab</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Organise and event or meeting</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Research support</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Teach and support students</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">IT Support</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Purchase services and goods</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Produce digital, print and media</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Helath, safety and environment</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Manage, use and protect data</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li>
      <li class="nav-item nav-item-expandable">
        <a href="#" class="nav-link">Use legal services</a>
        <a href="#" class="nav-link-expand">${require-svg('plus')}</a>
      </li> -->
    </ul>
  </nav>
  <ul class="nav-global-mobile-user-options">
    <li class="nav-item nav-global-mobile-user-account">
      <h2 class="nav-global-mobile-title">Account</h2>
      <p>You're currently logged in as<br /><span>Joanna Goodwin</span></p>
      <a href="#" class="nav-link">${require-svg('logout')}Logout</a>
    </li>
    <li class="nav-item nav-global-mobile-user-context">
      <h2 class="nav-global-mobile-title">Language</h2>
      <a href="#" class="nav-link">${require-svg('welsh')}Cymraeg</a>
    </li>
  </ul>
</div>