.icon
  @include square(map-get($svgWidths, "sm"))
  fill: $colourGreyDarker
  margin-right: $baseUnit / 2

  &-xs
    @include square(map-get($svgWidths, "xs"))

  &-md
    @include square(map-get($svgWidths, "md"))

  &-lg
    @include square(map-get($svgWidths, "lg"))

  &-xl
    @include square(map-get($svgWidths, "xl"))

  &-success
    fill: $colourSuccess

  &-error
    fill: $colourRed

  &-info
    fill: $colourInfo

  &-tile
    @include square(map-get($svgWidths, "md"))
    fill: $colourWhite
    margin-right: $baseUnit   

  &.loading
    @include square(50px)
    stroke: $colourGreyDarker

    .loading-circle
      stroke: $colourGreyLight

  &-personalisation
    position: absolute
    top: -5px
    right: 9px

    .icon
      width: 23px
      height: 28px

      &-small
        @include square(($baseUnit*2))