.content-related
  .box + .box
    @include border-radius(0)
    @include clearfix()
    border-top: $baseUnit*0.3 solid $colourTintLightest
    padding: 0
    margin-bottom: $baseUnit*2
    display: block