$breakpointsForLoop: ("sm": $breakpoint-sm-up, "md": $breakpoint-md-up, "lg": $breakpoint-lg-up, "xl": $breakpoint-xl-up)
$units: ("0": 0px, "5": 5px, "10": 10px, "15": 15px, "20": 20px, "30": 30px, "40": 40px)

=margin-padding-utilities-item($class, $value)
  .pl-#{$class}
    padding-left: $value !important

  .pr-#{$class}
    padding-right: $value !important

  .pt-#{$class}
    padding-top: $value !important

  .pb-#{$class}
    padding-bottom: $value !important

  .ml-#{$class}
    margin-left: $value !important

  .mr-#{$class}
    margin-right: $value !important

  .mt-#{$class}
    margin-top: $value !important

  .mb-#{$class}
    margin-bottom: $value !important
  
  .py-#{$class}
    padding-top: $value !important
    padding-bottom: $value !important

  .px-#{$class}
    padding-left: $value !important
    padding-right: $value !important

  .my-#{$class}
    margin-top: $value !important
    margin-bottom: $value !important

  .mx-#{$class}
    margin-left: $value !important
    margin-right: $value !important

=margin-padding-utilities-standard
  @each $class, $value in $units
    @include margin-padding-utilities-item($class, $value)

=margin-padding-utilities-breakpoints
  @each $class, $value in $units
    @each $breakpoint, $media in $breakpointsForLoop
      @media #{$media}
        @include margin-padding-utilities-item('#{$breakpoint}-#{$class}', $value)
  
@function calc-rem($size)
  @return #{$size / 16}rem
  
@mixin font-face($style-name, $family)
  $filepath: "../webfonts/" + $family

  @font-face
    font-family: "#{$style-name}"
    src: url($filepath + ".eot"), url($filepath + ".eot?#iefix") format("embedded-opentype"), url($filepath + ".woff") format("woff"), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format("svg")
    font-weight: 400

@mixin focus-state()
  background-color: $colourSweetCorn
  text-decoration: none
  outline-offset: 0
  outline: 3px solid $colourSweetCorn
  color: $colourLink

@mixin aspect-16-9()
  padding-top: 56.25%

@mixin bg-colour ($colour)
  background-color: #{$colour}

@mixin focus-box-shadow()
  outline: none
  border: none
  box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn

%antialiasing
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%transition
  transition: transform 0.15s ease-in

%rotate-0
  transform: rotate(0deg)

%rotate-90
  transform: rotate(90deg)

%rotate-180
  transform: rotate(180deg)

%rotate-270
  transform: rotate(270deg)

%no-border
  border: none

@mixin square($size)
  width: $size
  height: $size

@mixin flex($values)
  flex: $values

@mixin border-radius($radius: $border-radius) 
  @if $enable-rounded 
    border-radius: $radius
  
@mixin clearfix() 
  &::after, 
  &::before
    display: block
    clear: both
    content: ""

@mixin content-columns($columnCount, $columnGap: $grid-gutter-width)
  column-count: $columnCount
  column-gap: $columnGap

@mixin grid-ms-fallback($col, $row)
  -ms-grid-column: $col
  -ms-grid-row: $row

@mixin card-control-item()
  cursor: pointer
  opacity: 0

  .icon
    @include square(45px)
    background-color: $colourGreyDarker
    fill: $colourWhite
    border-radius: 50%
    margin-right: 0

  &.disabled
    opacity: 0.5 !important
    cursor: not-allowed

  &.controls-item-prev,
  &.carousel-control-prev
    .icon
      padding: $baseUnit * 1.2 $baseUnit * 1.3 $baseUnit * 1.2 $baseUnit * 1.1

  &.controls-item-next,
  &.carousel-control-next
    .icon
      padding: $baseUnit * 1.2 $baseUnit * 1.1 $baseUnit * 1.2 $baseUnit * 1.3
  
  @media #{$breakpoint-lg-up}
    &:focus
      background-color: transparent
      outline: none

      &:not(.disabled)
        .icon
          box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn

@mixin global-nav-active-arrow
  &:after,
  &:before
    bottom: 0
    content: ''
    display: block
    position: absolute
    width: 0
    height: 0
    border-style: solid
    z-index: 9999

  &:before
    left: calc(50% - 9px)
    border-color: $colourTransparent $colourTransparent $colourGreyDarkest $colourTransparent
    border-width: 8px

  &:after
    left: calc(50% - 8px)
    border-color: $colourTransparent $colourTransparent $colourWhite $colourTransparent
    border-width: 7px

=local-nav-level-padding
  @for $i from 1 through 6
    .level-#{$i}
      padding-left: #{($i)  * 18.5}px !important
      @if $i  == 2
        background-color: $colourGreySofter

        &:hover
          color: $colourGreyDarkest
      @else
        background-color: $colourWhite

// Reduces the antialiasing on Webkit and Firefox browsers by disabling sub-pixel rendering
@mixin fontantialiasing() 
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// mixin for use when adding intranet border to design elements
@mixin intranet-border($borderColor) 
  border-top: $baseUnit*0.7 solid $borderColor

//button build mixin
@mixin btn-build-lighten($btnBase, $btnTxtColor, $btnIconColor, $btnLighten:15%)
  background: $btnBase
  color: $btnTxtColor

  .icon
    fill: $btnIconColor
  
  .icon
    fill: $btnIconColor
    background: $colourTransparent
  
  &:hover,
  &:focus,
  &:active
    background: darken($btnBase, $btnLighten)
  
  &:visited
    color: $btnTxtColor
 
@mixin btn-build-darken($btnBase, $btnTxtColor, $btnIconColor, $btnDarken)
  background: $btnBase
  color: $btnTxtColor

  .icon
    fill: $btnIconColor
  
  .icon
    fill: $btnIconColor
    background: $colourTransparent
  
  &:hover,
  &:focus,
  &:active
    background: darken($btnBase, $btnDarken)
    color: $btnTxtColor
  
  &:visited
    color: $btnTxtColor

@mixin indentation($size)  
  text-indent: calc((#{$size})* -1)
  padding-left: calc(#{$size})
