// /* Import fonts */ 
@include font-face($FranklinGothicBook, "FranklinGothic-Book")
@include font-face($FranklinGothicBookIt, "FranklinGothic-BookIt")
@include font-face($FranklinGothicDemi, "FranklinGothic-Demi")
@include font-face($FranklinGothicMed, "FranklinGothic-Med")
@include font-face($FranklinGothicMedIt, "FranklinGothic-MedIt")
@include font-face($FranklinGothicURW, "FranklinGothicURW-Lig")
@include font-face($TeeFranklinGothicThin, "TeeFraThi")
@include font-face($TeeFranklinGothicLightObl, "TeeFraLigObl")

body
  line-height: map-get($font17, 'line-height')

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol 
  margin-top: 0
  margin-bottom: $baseUnit*2
  text-shadow: none

html,
h1,
h2,
h3,
h4,
h5,
h6 
  -webkit-font-smoothing: antialiased

h1 
  font: normal 48px#{'/'}54px #{$FranklinGothicURW}, #{$sansFontFamily}
  letter-spacing: -0.5px

h2 
  font: normal 37px#{'/'}45px #{$FranklinGothicURW}, #{$sansFontFamily}
  letter-spacing: -0.25px
h3 
  font: normal 29px#{'/'}34px #{$FranklinGothicURW}, #{$sansFontFamily}

h4 
  font: normal 25px#{'/'}30px #{$FranklinGothicURW}, #{$sansFontFamily}
  letter-spacing: 0.25px
h5 
  font: normal 20px#{'/'}24px #{$FranklinGothicURW}, #{$sansFontFamily}
  letter-spacing: 0.4px
h6 
  font: normal normal 17px#{'/'}24px #{$FranklinGothicURW}, #{$sansFontFamily}
  letter-spacing: 0.5px

h1, h2
  & + .lead
    margin-top: -($baseUnit)
    margin-bottom: ($baseUnit*3)

/* Link styling */
  
.content, 
.footer-local 
  h1, h2, h3, h4, h5, h6 
    a
      text-decoration: none

      &:hover
        text-decoration: underline

  p, li, td 
    a
      text-decoration: underline

      &.btn 
        text-decoration: none
  
.content
  a
    &:visited
      color: $linkColourVisited

a
  color: $colourLink
  text-decoration: none

  &:hover
    color: $colourLinkHover
    text-decoration: underline

  em 
    font-family: $sansFontFamily
    text-decoration: none

i,
em 
  font-style: normal

b,
strong 
  font-family: $boldFontFamily

.brand 
  font-family: $FranklinGothicMed, $sansFontFamily

.text-white 
  color: $colourWhite

.btn-block 
  @include border-radius(0)
  margin: #{$baseUnit*2} 0
  background-color: $colourWhite

  &:hover
    background-color: $colourGreyLighter
  
.btn-italic
  font-family: $sansFontFamily

.page-header 
  border-bottom: 0 solid $colourGreyLighter 
  margin: 0
  padding: 0

  h1 
    margin: #{$baseUnit*3} 0 #{$baseUnit*4} 0
    padding: 0
  
  h2 
    margin: 0 0 $baseUnit 0
  
  h3 
    border-bottom: 1px solid #d0d0d0
    padding-bottom: #{$baseUnit*2}
  
.lead
  line-height: map-get($font24, 'line-height')
  font-size: map-get($font24, 'size')

.lead-small 
  line-height: map-get($font15, 'line-height')

.media 
  .caption 
    font-family: $brandFamily
    background-color: $colourGreyLighter
    padding: $baseUnit

  em 
    font-family: $brandFamily

.smaller 
  font-size: smaller
  > * 
    line-height: 16px

dl 
  dt 
    dfn 
      font-style: normal

  dd 
    margin-bottom: #{$baseUnit / 2}
    font-style: normal

abbr[title],
acronym[title] 
  cursor: help
  border-bottom: 1px dotted $colourTintLight

.hidden-text 
  display: none
  font: 0/0

.colour-red 
  color: $colourRed

h1, h2, h3, h4, h5, h6
  color: $colourRed

.page-parent
  @extend h1
  color: $colourRed

ul,
ol 
  padding: 0
  margin: 0 0 12px 25px

ul ul,
ul ol,
ol ol,
ol ul 
  margin-bottom: 0

li 
  line-height: 24px

ul.unstyled,
ol.unstyled 
  margin-left: 0
  list-style: none

ul.inline,
ol.inline 
  margin-left: 0
  list-style: none

ul.inline > li,
ol.inline > li 
  display: inline-block