@include margin-padding-utilities-standard
@include margin-padding-utilities-breakpoints

.text-no-truncate
  text-overflow: clip !important
  overflow: visible !important

.spacer
  flex-grow: 1 !important 

.fill
  &-pickled-bluewood
    fill: $colourPickledBlueWood !important
                                              
  &-blaze-orange
    fill: $colourBlazeOrange !important

  &-red
    fill: $colourRed !important

/* Background colour utilties */
.bg
  &-wild-sand
    background-color: $colourWildSand !important

  &-jungle-mist
    background-color: $colourJungleMist !important
    
    a
      color: darken($colourLink, 10%)

.text-underline
  text-decoration: underline !important
