${require('../skip-content/skip-content.html')}
<div class="header-global">
  <div class="header-global-container d-flex">
    <a class="header-global-brand" href="#">${require-svg('logo')}Staff intranet</a>
    <div class="spacer"></div>
    ${require('../search-form/variations/search-form-topnav-desktop.html')}
    <div class="spacer"></div>
    <div class="spacer"></div>
    <a class="header-global-control d-flex d-lg-none" id="search-global-toggle" href="/staff/search" data-toggle="collapse"
      data-target="#search-global" aria-expanded="true" aria-controls="search-global">
      ${require-svg('search')}
    </a>
    <a class="header-global-control header-global-control-menu d-flex d-lg-none" id="open-navigation">
      ${require-svg('menu')}
    </a>
    <a href="#" class="header-global-user d-none d-lg-block" role="button" id="dropdownHeaderUserMenu"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ${require-svg('profile')}
      <span class="header-global-user-name">Joanna</span>
      ${require-svg('chevron-down')}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownHeaderUserMenu">
      <li>
        <a class="dropdown-item" href="#">Logout</a>
      </li>
    </ul>
    <a class="header-global-context d-none d-lg-block" href="#">${require-svg('welsh')}Cymraeg</a>
  </div>
</div>
${require('../nav-global/variations/EN.html')}
<div class="header-global-mobile-search collapse d-lg-none" id="search-global" role="search" aria-label="Global search">
  <h2 class="header-global-mobile-search-title">Search the intranet</h2>
  ${require('../search-form/variations/search-form-topnav-mobile.html')}
</div>
${require('../nav-global-mobile/variations/nav-global-mobile-level-1.html')}