<h2>Image</h2>
${require('variations/image.html')}
<h3>Image with caption</h3>
${require('variations/image-caption.html')}
<h3>Image with Pdf</h3>
${require('variations/image-pdf.html')}
<h3>Image with Profile</h3>
${require('variations/image-profile.html')}
<h3>Image with float</h3>
${require('variations/image-float.html')}
