<div class="content-group content-group-applications with-background bg-jungle-mist">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="toolbox">
          <ul class="toolbox-links list-unstyled">
            <li class="toolbox-item">
              <a class="" href="#">
                ${require-svg('office365')}<span class="toolbox-item-name">Office 365 and Email</span>
              </a>
            </li>
            <li class="toolbox-item">
              <a class="" href="#">
                ${require-svg('onedrive')}<span class="toolbox-item-name">OneDrive</span>
              </a>
            </li>
            <li class="toolbox-item">
              <a class="" href="#">
                ${require-svg('wikis')}<span class="toolbox-item-name">Wikis</span>
              </a>
            </li>
            <li class="toolbox-item">
              <a class="" href="#">
                ${require-svg('servicedesk')}<span class="toolbox-item-name">IT help desk live chat</span>
              </a>
            </li>
            <li class="toolbox-item">
              <a class="" href="#">
                ${require-svg('blackboard')}<span class="toolbox-item-name">Blackboard Collaborate</span>
              </a>
            </li>
            <li class="toolbox-item">
              <a class="" href="#">
                ${require-svg('find-a-pc')}<span class="toolbox-item-name">Find a PC</span>
              </a>
            </li>
            <li class="toolbox-item empty">
              <a class="js-apps-toolbar-init" tabindex="0">
                ${require-svg('plus')}<span class="toolbox-item-name">Add tool</span>
              </a>
            </li>
            <li class="toolbox-item">
              <a class="" href="https://intranet.cardiff.ac.uk/staff/applications">
                ${require-svg('applications')}<span class="toolbox-item-name">More online tools</span>
              </a>
            </li>
          </ul>
          <a class="toolbox-edit js-apps-toolbar-init d-md-none" href="">${require-svg('cog')}<span class="toolbox-item-name">Edit your online tools</span></a>
        </div>
        <span class="text-right d-none d-md-block">
          <a class="toolbox-edit js-apps-toolbar-init" href="">${require-svg('cog')}Edit your online tools</a>
        </span>
      </div>
    </div>
  </div>
</div>
