<div class="progress">
  <div class="bar" style="width: 60%;"></div>
</div>
<div class="progress">
  <div class="bar bar-info" style="width: 60%;"></div>
</div>
<div class="progress">
  <div class="bar bar-success" style="width: 60%;"></div>
</div>
<div class="progress">
  <div class="bar bar-warning" style="width: 60%;"></div>
</div>
<div class="progress">
  <div class="bar bar-danger" style="width: 60%;"></div>
</div>