<b>Default</b>
<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
    aria-valuemin="0" aria-valuemax="100"></div>
</div>

<b>Info</b>
<div class="progress">
  <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60"
    aria-valuemin="0" aria-valuemax="100"></div>
</div>

<b>Success</b>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
    aria-valuemin="0" aria-valuemax="100"></div>
</div>

<b>Warning</b>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
    aria-valuemin="0" aria-valuemax="100"></div>
</div>

<b>Danger</b>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
    aria-valuemin="0" aria-valuemax="100"></div>
</div>