<b>Default</b>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

<b>Info</b>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

<b>Success</b>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

<b>Warning</b>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

<b>Danger</b>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>