<section class="progress-set" data-type="time-spent">
  <select class="progress-select"></select>
  <section class="progress-group" data-year="1">
    <h3>Year 1</h3>
    <!--First Bar Start-->
    <div class="progress-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p class="progress-percent">40%</p>
    </div>
    <!--First Bar End-->
    <!--Second Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress">
        <div class="bar brand-pt109-40" style="width: 20%;"></div>
      </div>
      <p class="progress-percent">20%</p>
    </div>
    <!--Second Bar End-->
    <!--Third Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress">
        <div class="bar brand-pt5555-60" style="width: 40%;"></div>
      </div>
      <p class="progress-percent">40%</p>
    </div>
    <!--Third Bar End-->
  </section>
  <section class="progress-group" data-year="2">
    <h3>Year 2</h3>
    <!--First Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress">
        <div class="bar brand-pt300-40" style="width: 30%;"></div>
      </div>
      <p class="progress-percent">30%</p>
    </div>
    <!--First Bar End-->
    <!--Second Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress">
        <div class="bar brand-pt109-40" style="width: 30%;"></div>
      </div>
      <p class="progress-percent">30%</p>
    </div>
    <!--Second Bar End-->
    <!--Third Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress">
        <div class="bar brand-pt5555-60" style="width: 40%;"></div>
      </div>
      <p class="progress-percent">40%</p>
    </div>
    <!--Third Bar End-->
  </section>
  <section class="progress-group" data-year="3">
    <h3>Year 3</h3>
    <!--First Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress">
        <div class="bar brand-pt300-40" style="width: 45%;"></div>
      </div>
      <p class="progress-percent">45%</p>
    </div>
    <!--First Bar End-->
    <!--Second Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress">
        <div class="bar brand-pt109-40" style="width: 25%;"></div>
      </div>
      <p class="progress-percent">25%</p>
    </div>
    <!--Second Bar End-->
    <!--Third Bar Start-->
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress">
        <div class="bar brand-pt5555-60" style="width: 30%;"></div>
      </div>
      <p class="progress-percent">30%</p>
    </div>
    <!--Third Bar End-->
  </section>
</section>