<h2>Carousel</h2>
${require('variations/carousel.html')}
<h2>Carousel w/ captions</h2>
${require('variations/carousel-captions.html')}
<h2>Carousel w/ thumbnails</h2>
${require('variations/carousel-thumbnails.html')}