<ul class="thumbnails">
  <li>
    <a class="thumbnail" href="http://gov.wales/funding/eu-funds/2014-2020/?lang=en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0020/746201/Welsh-ESF.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="European Social Fund">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="https://www.bangor.ac.uk/doctoral-school/kess/index.php.en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0003/461469/KESS-II-Logo.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="Knowledge Economy Skills Scholarships II (KESS II) ">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="http://gov.wales/funding/eu-funds/2014-2020/?lang=en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0020/746201/Welsh-ESF.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="European Social Fund">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="https://www.bangor.ac.uk/doctoral-school/kess/index.php.en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0003/461469/KESS-II-Logo.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="Knowledge Economy Skills Scholarships II (KESS II) ">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="http://gov.wales/funding/eu-funds/2014-2020/?lang=en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0020/746201/Welsh-ESF.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="European Social Fund">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="https://www.bangor.ac.uk/doctoral-school/kess/index.php.en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0003/461469/KESS-II-Logo.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="Knowledge Economy Skills Scholarships II (KESS II) ">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="http://gov.wales/funding/eu-funds/2014-2020/?lang=en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0020/746201/Welsh-ESF.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="European Social Fund">
    </a>
  </li>
  <li>
    <a class="thumbnail" href="https://www.bangor.ac.uk/doctoral-school/kess/index.php.en">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0003/461469/KESS-II-Logo.jpg?h=80&amp;auto=format&amp;fit=crop"
        alt="Knowledge Economy Skills Scholarships II (KESS II) ">
    </a>
  </li>
</ul>