<div class="row">
  <div class="col-md-12">
    <h2>Tabs</h2>
    ${require('variations/tab.html')}
  </div>
  <div class="col-md-12">
    <h2>Vertical tabs</h2>
    ${require('variations/tab-vertical.html')}
  </div>
  <div class="col-md-12">
    <h2>Tabs Squiz bodycopy</h2>
    ${require('variations/tab-squiz-bodycopy.html')}
  </div>
</div>