<div class="accordion accordion-large">
  <div class="accordion-section" data-id="156810">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title collapsed" data-toggle="collapse"
        href="#accordion-item-1">${require-svg('chevron-right')}Advanced research computing (ARCCA) </a>
      <span class="accordion-heading-category">Teaching and learning, Hosting and specialist technical services,
        Research services</span>
      <p class="accordion-heading-teaser">Advanced research computing is a hugely powerful technique which is enabling
        and transforming research across the University.</p>
    </div>
    <div id="accordion-item-1" class="accordion-section-body collapse">
      <div class="accordion-inner" style="padding-left:45px;">
        <div class="row">
          <div class="col-md-8">
            <h4>About this service</h4>
            <p>High-performance supercomputing services to support University research activities beyond the
              capabilities of a conventional desktop or laptop PC.</p>
            <p>This service:</p>
            <ul>
              <li>provides dedicated, leading-edge equipment and software for computing-based research</li>
              <li>allows you to process and manipulate large data-sets for analysis and visualisation</li>
              <li>dramatically speeds up computational research (for example, data analysis that would conventionally
                take many months to process can be completed within days or hours)</li>
              <li>expert advice and training on how your research can benefit from high performance computing</li>
              <li>a state-of-the-art energy efficient data centre for your hosting requirements.</li>
            </ul>
            <p>More information on Advanced Research Computing services is available on the <a
                href="https://www.cardiff.ac.uk/advanced-research-computing">Advanced Research Computing website</a>.
            </p>
            <p>Advanced Research Computing are partners in the <a
                href="https://www.supercomputing.wales/">Supercomputing Wales programme</a> which aims to capture more
              external research funding, increase scientific partnerships, create highly-skilled research jobs and
              support collaborations with industrial and other partners.</p>
            <p>Charges may be incurred depending on the nature of the requirement – please contact <a
                href="https://www.cardiff.ac.uk/advanced-research-computing">Advanced Research Computing</a> to discuss
              your exact needs.</p>
            <p>Related services include:</p>
            <p><a
                href="https://intranet.cardiff.ac.uk/staff/research-support/equipment-and-resources/research-data-storage-service">Research
                Data Store</a></p>
            <p><a
                href="https://intranet.cardiff.ac.uk/staff/applications/view/research-information-management-system">Research
                Portal (Converis)</a></p>
            <p><a href="https://intranet.cardiff.ac.uk/staff/applications/view/fast-file">Fast file</a></p>
          </div>
          <div class="col-md-4">
            <section class="box">
              <div class="box-body">
                <dl>
                  <dt>Availability hours</dt>
                  <dd>Available 24/7, excluding scheduled and agreed maintenance periods.</dd>
                  <dt>Support hours</dt>
                  <dd>Information about ARCCA support is available through the ARCCA website.</dd>
                </dl>
              </div>
              <footer class="box-footer">
                <a href="https://intranet.cardiff.ac.uk/staff/research-support/equipment-and-resources/advanced-research-computing"
                  class="btn btn-success btn-block">More information</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-section" data-id="1498741">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title collapsed" data-toggle="collapse"
        href="#accordion-item-2">${require-svg('chevron-right')}Audience participation (Mentimeter) </a>
      <span class="accordion-heading-category">Teaching and learning</span>
      <p class="accordion-heading-teaser">Mentimeter is a web-based, real time polling tool that enables you to interact
        with your audience.</p>
    </div>
    <div id="accordion-item-2" class="accordion-section-body collapse">
      <div class="accordion-inner" style="padding-left:45px;">
        <div class="row">
          <div class="col-md-8">
            <h4>About this service</h4>
            <p>Enhance presentations with questions, polls and quizzes which your audience can interact with and see the
              results in real-time.</p>
            <p>This service is available via web browsers and mobile devices and provides live, real-time feedback. You
              can also export the results for further analysis.</p>
          </div>
          <div class="col-md-4">
            <section class="box">
              <div class="box-body">
                <dl>
                  <dt>Availability hours</dt>
                  <dd>available 24/7</dd>
                  <dt>Support hours</dt>
                  <dd>Available: Monday – Friday 08:00–17:00, except Bank Holidays and University closure periods.</dd>
                </dl>
              </div>
              <footer class="box-footer">
                <a href="https://intranet.cardiff.ac.uk/staff/applications/help/mentimeter-help"
                  class="btn btn-success btn-block">More information</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-section" data-id="446369">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title collapsed" data-toggle="collapse"
        href="#accordion-item-3">${require-svg('chevron-right')}AV, digital signage and wayfinding </a>
      <span class="accordion-heading-category">Communication and collaboration, Teaching and learning</span>
      <p class="accordion-heading-teaser">Find a suitable room for learning activities and meetings.</p>
    </div>
    <div id="accordion-item-3" class="accordion-section-body collapse">
      <div class="accordion-inner" style="padding-left:45px;">
        <div class="row">
          <div class="col-md-8">
            <h4>About this service</h4>
            <p>Provision and support of audio-visual equipment, including on-campus digital signage, to facilitate
              presentations such as lectures, seminars and public events.</p>
            <p>Audio-Visual equipment is installed in all teaching spaces and many seminar rooms, enabling presentations
              via the supplied desktop hardware or via presenters’ own devices</p>
            <ul>
              <li>You can project hard copies of documents (such as books and photographs) using visualisers (where
                present)</li>
              <li>Use voice amplification using lectern, hand-held and lapel microphones (where present)</li>
              <li>Digital signage (TV screens) across the University estate to provide information at key locations
                within buildings</li>
              <li>Location assistance (Way Finding) is available within University locations to aid discoverability of
                rooms</li>
            </ul>
            <p>The Way Finding service consists of a physical ‘interactive screen’ available in some University
              buildings. This allows visitors to search for room locations and receive directions from their current
              position within the building to the desired room. This service is location specific and not yet available
              in all University locations.</p>
            <p>Audio-Visual equipment is available in all teaching spaces and many seminar rooms. <a
                href="https://intranet.cardiff.ac.uk/staff/directories/services-and-facilities/teaching-meeting-spaces">Full
                listing and details </a>are available on the intranet.</p>
            <p>Content displayed on digital signage screens is location specific, meaning content is managed by staff
              within each building location. Please contact the IT Service Desk for more information.</p>
          </div>
          <div class="col-md-4">
            <section class="box">
              <div class="box-body">
                <dl>
                  <dt>Availability hours</dt>
                  <dd>24/7</dd>
                  <dt>Support hours</dt>
                  <dd>Available Monday – Friday, 08:00 – 17:00, except Bank Holidays and University closure periods.
                  </dd>
                </dl>
              </div>
              <footer class="box-footer">
                <a href="https://intranet.cardiff.ac.uk/staff/directories/services-and-facilities/teaching-meeting-spaces"
                  class="btn btn-success btn-block">More information</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-section" data-id="1167912">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title collapsed" data-toggle="collapse"
        href="#accordion-item-4">${require-svg('chevron-right')}Business Intelligence </a>
      <span class="accordion-heading-category">Corporate systems</span>
      <p class="accordion-heading-teaser">Access and analyse self-service reporting relating to applications, current
        students, staff, research, and research income.</p>
    </div>
    <div id="accordion-item-4" class="accordion-section-body collapse">
      <div class="accordion-inner" style="padding-left:45px;">
        <div class="row">
          <div class="col-md-8">
            <h4>About this service</h4>
            <p>Business Intelligence and Management Information reporting to Colleges, Schools and Professional
              Services.</p>
            <p>This service:</p>
            <ul>
              <li>provides both simple and complex reports depending on requirement</li>
              <li>provides both standard and bespoke reports depending on requirement</li>
              <li>can automate reports to run at a frequency defined by the user.</li>
            </ul>
            <p>Business Intelligence provides access to key business data that enables the University’s senior
              management to make strategic, information-based decisions. The service provides access to a single source
              of data, combined across an agreed set of business functions, along with a series of analytic reports and
              capability.</p>
            <p>This enables data analysts in Colleges and Professional Services to create and make use of reports more
              coherently and consistently. Business Objects allows you to run reports against corporate data within
              databases such as SIMS (the student records system) and CoreHR (the staff HR system).</p>
            <p>Business Intelligence and <a
                href="https://intranet.cardiff.ac.uk/staff/applications/view/businessobjects">Business Objects </a>rely
              on data from the business and student facing corporate systems.</p>
          </div>
          <div class="col-md-4">
            <section class="box">
              <div class="box-body">
                <dl>
                  <dt>Availability hours</dt>
                  <dd>Available 24/7, excluding scheduled and agreed maintenance periods.</dd>
                  <dt>Support hours</dt>
                  <dd>8.00 – 17.00 Monday to Friday</dd>
                </dl>
              </div>
              <footer class="box-footer">
                <a href="https://intranet.cardiff.ac.uk/staff/services/business-intelligence"
                  class="btn btn-success btn-block">More information</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-section" data-id="740786">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title collapsed" data-toggle="collapse"
        href="#accordion-item-5">${require-svg('chevron-right')}Desktop and laptop </a>
      <span class="accordion-heading-category">Workstations and printing</span>
      <p class="accordion-heading-teaser">Printing, Find a PC, Cardiff Apps, and Cyber Essentials.</p>
    </div>
    <div id="accordion-item-5" class="accordion-section-body collapse">
      <div class="accordion-inner" style="padding-left:45px;">
        <div class="row">
          <div class="col-md-8">
            <h4>About this service</h4>
            <p>Providing support for desktop machines and laptops for University business. Open access computers are
              available in Library and IT room locations.</p>
            <p>Staff will have access to all other services in offices, teaching spaces, IT labs, as well as:</p>
            <ul>
              <li>provision and support of workstations in open access computer rooms and workstations for use by
                University staff across campus</li>
              <li>provision of a&nbsp;preconfigured and manged Windows environment tuned to work in the University
                environment and pre-installed with University software</li>
              <li>provision of a&nbsp;<a
                  href="https://www.gov.uk/government/publications/cyber-essentials-scheme-overview">Cyber
                  Essentials</a> certified variation of the standard desktop image – required by researchers who need
                this government-backed certification for protection against cyber-attacks.</li>
              <li>encryption service for laptops to protect University data</li>
              <li>access the Find a PC resource to locate free computers on campus.</li>
            </ul>
            <h4>Desktop computers (using the University-managed environment)</h4>
            <p>Provision of a fully managed Windows environment deployed to compatible University-owned desktop
              computers and customised to operate in the University environment. The environment contains pre-installed
              and configured components such as networking setup, network login, managed applications, anti-virus
              software, printing and access to central file storage, all of which would otherwise require manual
              installation. The service includes computers designed for use and specifically configured for:</p>
            <ul>
              <li>open access computers</li>
              <li>staff computers</li>
              <li>computers in teaching spaces</li>
              <li>computers for examinations.</li>
            </ul>
            <h4>Desktop computers (without the University-managed environment)</h4>
            <p>Provision of desktop computers with manufacturer supplied operating systems (Windows and Mac) that are
              not configured with a managed environment, but where all software and user settings are managed manually
              by users of the equipment.</p>
            <p><strong>Managed laptop computers</strong></p>
            <p>Provision of Windows and Mac computers from recommended suppliers which conform to required technical
              specifications to ensure devices are encrypted and are managed with IT policies for compliance purposes.
            </p>
            <p><strong>Find a PC</strong><br><br>Via the intranet you can <a
                href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/it-support/find-a-pc">access real-time
                availability of University IT open access computers</a> across campus. Open access computers are
              available in Library locations and computer rooms. School-managed computers and locations are not included
              in this service.</p>
            <p>Please contact the <a
                href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/it-support/getting-help-with-it/it-service-desk">IT
                Service Desk</a> with any additional equipment requirements.</p>
          </div>
          <div class="col-md-4">
            <section class="box">
              <div class="box-body">
                <dl>
                  <dt>Availability hours</dt>
                  <dd>Available 24/7, with access restrictions based on building opening hours where devices are
                    physically sited on campus.</dd>
                  <dt>Support hours</dt>
                  <dd>Available Monday – Friday, 08:00 – 17:00, except Bank Holidays and University closure periods.
                  </dd>
                </dl>
              </div>
              <footer class="box-footer">
                <a href="https://intranet.cardiff.ac.uk/staff/services/technical-help-and-support/using-university-computers"
                  class="btn btn-success btn-block">More information</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>