<div class="accordion" id="accordion-wrapper-2">
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse"
        href="#advancing_an_inclusive_learning_culture_for_lgbt_people_983087"><span
          class="icon-chevron-right"></span>Advancing an inclusive Learning Culture for LGBT+ people</a></div>
    <div class="accordion-body squiz-bodycopy in collapse"
      desc="Advancing an inclusive Learning Culture for LGBT+ people"
      id="advancing_an_inclusive_learning_culture_for_lgbt_people_983087" style="height: auto;">
      <div class="accordion-inner">
        <p>This <strong>free one day</strong> training programme aims to provide participants with the tools, techniques
          and confidence to develop and deliver curricula that promote inclusion for LGBT+ people at this university and
          beyond.</p>
        <p>Participants will:</p>
        <ul>
          <li>gain an overview of the discrimination and inequalities that many LGBT+ people experience in learning
            environments, in the workplace, in their professions and in wider society</li>
          <li>build confidence, learn practical tools, techniques and exercises to develop your curricula</li>
          <li>be able to support the next generation of professionals to be confident to comply with equalities
            legislation and professional / organisational codes of practice in relation to sexual orientation and gender
            identity</li>
          <li>have the opportunity to learn best practice from your colleagues and to share your ideas with them.</li>
        </ul>
        <p>From the student perspective this training may inspire further exploration through coursework related to
          their programme of study, dissertation topics/research activity or to engage in other activities to advance
          the Universities commitment to LGBT+ inclusivity.</p>
        <p>This course can be booked via CORE Portal. Enquiries should be sent to <a
            href="mailto:PerkinsK@Cardiff.ac.uk">PerkinsK@Cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#aurora_programme_1424541"><span class="icon-chevron-right"></span>Aurora programme</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Aurora programme" id="aurora_programme_1424541">
      <div class="accordion-inner">
        <p>Aurora is run by Advance HE and is their development programme for all people who identify as a
          woman.&nbsp;It is a unique partnership initiative bringing together leadership experts and higher education
          institutions to take positive action to address the under-representation of women in leadership positions in
          the sector.</p>
        <p><a
            href="https://www.lfhe.ac.uk/en/programmes-events/equality-and-diversity/aurora/dates-venues-and-booking-for-20182019.cfm">Find
            out more about the programme, booking and costs</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#disability_awareness_for_front_line_staff_199819"><span class="icon-chevron-right"></span>Disability
        Awareness for Front-line Staff</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Disability Awareness for Front-line Staff"
      id="disability_awareness_for_front_line_staff_199819">
      <div class="accordion-inner">
        <p>The aim of this seminar is to provide all staff with the skills and confidence to interact with disabled
          students and staff in the context of higher education. This seminar will focus on:</p>
        <ul>
          <li>defining disability</li>
          <li>interacting and communicating with disabled people</li>
          <li>providing practical assistance to disabled.</li>
        </ul>
        <p>This seminar will be particularly useful for those staff in front-line reception, administration and service
          positions.</p>
        <h3>Course dates</h3>
        <table class="table footable-loaded footable" id="table30658" style="width: 100%;">
          <thead>
            <tr>
              <th id="table30658r1c1" style="text-align: left;">Date</th>
              <th id="table30658r1c2" style="text-align: left;">Time</th>
              <th id="table30658r1c3" style="text-align: left;">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align: left;">
              <td headers="table30658r1c1">22 October 2019</td>
              <td headers="table30658r1c2">09:30-13:00</td>
              <td headers="table30658r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table30658r1c1">3 April 2020</td>
              <td headers="table30658r1c2">12:30-16:00</td>
              <td headers="table30658r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table30658r1c1">25 June 2020</td>
              <td headers="table30658r1c2">09:30-13:00</td>
              <td headers="table30658r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>EQUA0002</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#equality_and_diversity_refresher_490570"><span class="icon-chevron-right"></span>Equality and Diversity
        Refresher</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Equality and Diversity Refresher"
      id="equality_and_diversity_refresher_490570">
      <div class="accordion-inner">
        <p>This course provides a refresher of equality and diversity legislation which is contained within the online
          equality and diversity module including a reminder of the protected characteristics, the different forms of
          harassment and specific legislation to Wales. This course is available to all staff.</p>
        <p>We are building a waiting list for this course. To register interest, please submit a request to be added to
          the waiting list via the Core Portal.&nbsp;Once there is sufficient demand to run an event we will book an
          event date and contact you.</p>
        <table class="table footable-loaded footable" id="table20850" style="width: 100%;">
          <thead>
            <tr>
              <th id="table20850r1c1">Date</th>
              <th id="table20850r1c2">Time</th>
              <th id="table20850r1c3">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="table20850r1c1"> To be confirmed</td>
              <td headers="table20850r1c2">To be confirmed</td>
              <td headers="table20850r1c3">To be confirmed</td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>EQUA0050</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#equality_diversity_and_inclusion_for_team_leaders_and_managers_199821"><span
          class="icon-chevron-right"></span>Equality, Diversity and Inclusion for Team Leaders and Managers</a></div>
    <div class="accordion-body squiz-bodycopy collapse"
      desc="Equality, Diversity and Inclusion for Team Leaders and Managers"
      id="equality_diversity_and_inclusion_for_team_leaders_and_managers_199821">
      <div class="accordion-inner">
        <p>Equality and diversity issues are central to the work of Cardiff University. The public sector duties on all
          protected characteristics require Higher Education Institutions (HEIs) to work actively to ensure that all
          members of the HE community understand both individual and corporate responsibilities in relation to equality
          and diversity.</p>
        <p>This half-day training session, which is part of the equality and diversity mandatory training, is for anyone
          whose role involves the design of standards, policies or criteria or the application of such criteria in
          decision-making, for example:</p>
        <ul>
          <li>performance reviews/appraisals and probation</li>
          <li>staff and student recruitment</li>
          <li>student admissions</li>
          <li>assessing students</li>
          <li>promotions</li>
          <li>conducting equality impact assessments</li>
          <li>allocating tasks or projects, etc.</li>
        </ul>
        <p>The session will:</p>
        <ul>
          <li>explore the ways such standards/policies/criteria can inadvertently disadvantage people and consider how
            to design them so that they are fair and transparent</li>
          <li>look at applying them fairly, including strategies for ensuring that unconscious bias does not affect
            their application, and the use of reasonable adjustments.</li>
        </ul>
        <h3>Course dates</h3>
        <table class="table footable-loaded footable" id="table47910" style="width: 100%; text-align: left;">
          <thead>
            <tr>
              <th id="table47910r1c1" style="text-align: left;">Date</th>
              <th id="table47910r1c2" style="text-align: left;">Time</th>
              <th id="table47910r1c3" style="text-align: left;">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align: left;">
              <td headers="table47910r1c1">19 November 2019</td>
              <td headers="table47910r1c2">09:30-12:30</td>
              <td headers="table47910r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td style="text-align: left;" headers="table47910r1c1">20 February 2020</td>
              <td style="text-align: left;" headers="table47910r1c2">12:30-15:30</td>
              <td style="text-align: left;" headers="table47910r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table47910r1c1">4 May 2020</td>
              <td headers="table47910r1c2">09:30-12:30</td>
              <td headers="table47910r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>EQUA0003</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#equality_diversity_and_inclusion_online_module_199823"><span class="icon-chevron-right"></span>Equality,
        Diversity and Inclusion (online module)</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Equality, Diversity and Inclusion (online module)"
      id="equality_diversity_and_inclusion_online_module_199823">
      <div class="accordion-inner">
        <p>Equality, diversity and inclusion are central to the work of the University. This is a mandatory online
          module for all staff to provide an awareness of legislation, support and further information. The module is
          situated within Learning Central under the same title, to access your account you will need to enter your
          network username and password.</p>
        <p>The module includes sessions on:</p>
        <ol type="1" start="1">
          <li>An introduction to equality, diversity and inclusion</li>
          <li>What is the Equality Act?</li>
          <li>What are the different types of discrimination?</li>
          <li>The Welsh language, equality and diversity</li>
          <li>What are your rights and responsibilities?</li>
          <li>How does the University support you?</li>
        </ol>
        <p>The module can be done in one sitting or in bite-sized chunks at your convenience. Please remember to mark
          your progress to enable you to remember what you have completed.</p>
        <p>At the end of the course, there is a ten-question multiple-choice test to check your understanding. This must
          be completed and passed by 70% for you to successfully finish the module and for your result to be recorded in
          CoreHR. The module takes approximately 1.5 to 2 hours to complete.</p>
        <p>We hope you enjoy the module and gain the knowledge you need.</p>
        <p>Duration: 1.5-2 hours</p>
        <p><a href="https://learningcentral.cf.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_19_1">Start
            module</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#equality_impact_assessment_training_199825"><span class="icon-chevron-right"></span>Equality Impact
        Assessment Training</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Equality Impact Assessment Training"
      id="equality_impact_assessment_training_199825">
      <div class="accordion-inner">
        <p>The public sector equality duty specific duties in Wales require the University to assess the impact of
          applying a proposed new or revised policy or practice against the needs mentioned in the equality duty, where
          and to the extent necessary to fulfil the duty.</p>
        <p>This training session will provide staff with an explanation of the relevance and value of Equality Impact
          Assessments in the context of promoting and mainstreaming equality and diversity, to gain practical skills to
          conduct Equality Impact Assessments, to consider actions to achieve and promote equality following an
          assessment and to consider practical approaches to engaging stakeholders.</p>
        <h3>Course dates</h3>
        <table class="table footable-loaded footable" id="table38145" style="width: 100%;">
          <thead>
            <tr>
              <th id="table38145r1c1">Date</th>
              <th id="table38145r1c2">Time</th>
              <th id="table38145r1c3">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="table38145r1c1">3 December 2019</td>
              <td headers="table38145r1c2">13:00-15:00</td>
              <td headers="table38145r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table38145r1c1">19 March 2020</td>
              <td headers="table38145r1c2">10:00-12:00</td>
              <td headers="table38145r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>EQUA0004</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#mental_health_awareness_for_line_managers_1249957"><span class="icon-chevron-right"></span>Mental Health
        Awareness for Line Managers</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Mental Health Awareness for Line Managers"
      id="mental_health_awareness_for_line_managers_1249957">
      <div class="accordion-inner">
        <p>Employers should expect that 1 in 6 of the workforce will be affected by mental health difficulties. Managers
          and supervisors can have a key role in&nbsp;&nbsp;aiding staff to identify issues and access timely and
          appropriate support to help them to improve their wellbeing, address challenges in the workplace and feel
          valued as employees.</p>
        <p>This 3 hour introductory course aims to:</p>
        <ul>
          <li>challenge stigma and demystify mental health</li>
          <li>enable managers/supervisors to recognise their role responsibilities including signposting to relevant
            services and making reasonable adjustments where employees may be covered by the Equality Act.</li>
        </ul>
        <p>Participants will also be introduced to the importance of effective communication when talking to someone
          experiencing distress and identify ways of promoting positive mental wellbeing in the workplace.</p>
        <h3>Course dates</h3>
        <table class="table footable-loaded footable" id="table09325" style="width: 100%;">
          <thead>
            <tr class="HEADING">
              <th id="table09325r1c1">Date</th>
              <th id="table09325r1c2">Time</th>
              <th id="table09325r1c3">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="table09325r1c1">15 November 2019</td>
              <td headers="table09325r1c2">09:30-13:00</td>
              <td headers="table09325r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>EQUA0061</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#mental_health_first_aid_199827"><span class="icon-chevron-right"></span>Mental Health First Aid </a>
    </div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Mental Health First Aid "
      id="mental_health_first_aid_199827">
      <div class="accordion-inner">
        <p>The mental health charity MIND states that one in four of us are affected by mental health problems each
          year. An increasing amount of HE students and employees present in mental distress and often front-line
          workers feel they lack the skills and confidence to support them appropriately. In line with The Welsh
          Government ‘Together for Mental Health Strategy’, HEFCW (Higher Education Funding Council for Wales) have
          produced a circular in October 2013: Equality and Diversity in Higher Education: Promoting Mental Health and
          Wellbeing.</p>
        <p>It suggests that universities and student unions may wish to consider incorporating mental health related
          programmes including the Mental Health First Aid Course into their staff development programmes in order to
          better equip staff to identify issues and signpost employees and students to relevant support services.</p>
        <p>The Mental Health First Aid course aims to improve mental health literacy and will help participants to</p>
        <ul>
          <li>recognise the signs and symptoms of someone with mental health problems</li>
          <li>to respond to various mental health crises, engage with, support and signpost people to appropriate help.
          </li>
        </ul>
        <p>It is a 12-hour course and will be run over two days. Participants will receive a certificate of attendance
          and a copy of the Mental Health First Aid (Wales) Manual, which covers the course content.</p>
        <p>Further details about the course can be found at <a href="http://mhfa-wales.org/">Mental Health First Aid
            (Wales)</a>.</p>
        <h3>Course dates</h3>
        <table class="table footable-loaded footable" id="table13230" style="width: 100%;">
          <thead>
            <tr>
              <th id="table13230r1c1" style="text-align: left;">Date</th>
              <th id="table13230r1c2" style="text-align: left;">Time</th>
              <th id="table13230r1c3" style="text-align: left;">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left;" headers="table13230r1c1">7 &amp; 8 November 2019</td>
              <td style="text-align: left;" headers="table13230r1c2">09:30-16:30</td>
              <td style="text-align: left;" headers="table13230r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table13230r1c1">10 &amp; 11 February 2020</td>
              <td headers="table13230r1c2">09:30-16:30</td>
              <td headers="table13230r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table13230r1c1">20 &amp; 21 April 2020</td>
              <td headers="table13230r1c2">09:30-16:30</td>
              <td headers="table13230r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table13230r1c1">3 &amp; 4 June 2020</td>
              <td headers="table13230r1c2">09:30-16:30</td>
              <td headers="table13230r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>HEAL0025</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#safeguarding_good_practice_and_procedure_980994"><span class="icon-chevron-right"></span>Safeguarding,
        Good Practice and Procedure</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Safeguarding, Good Practice and Procedure"
      id="safeguarding_good_practice_and_procedure_980994">
      <div class="accordion-inner">
        <p>This is an introductory session for all staff who come in contact with children, young people and vulnerable
          adults in some capacity through their role. The course covers responsibilities under Welsh social care
          legislation and Cardiff University's Safeguarding Children and Adults policy and Prevent responsibilities
          linked to key guidance.</p>
        <p>It will focus on identifying signs of abuse and placing these in context of what constitutes significant harm
          to children and young people and adults. The course will provide an opportunity to explore areas of potential
          conflict when looking at issues of neutrality, consent and confidentiality for the staff member.</p>
        <h3>Learning outcomes</h3>
        <ul type="disc">
          <li>Understand the key legislation and related guidance to protect adults and children in Wales.</li>
          <li>Recognise the context, signs and symptoms of abuse and neglect for both adults and children</li>
          <li>Be able to respond effectively to concerns about a person at risk of harm and where there are disclosures
            about abuse.</li>
          <li>Understand the roles and responsibilities of professionals in other agencies working in child and adult
            protection.</li>
          <li>Identify and use effective record keeping, information sharing and confidentiality in relation to child
            and adult protection and the referral process.</li>
          <li>Understand professional abuse in the workplace and the importance of whistle blowing</li>
          <li>Understand individual roles and responsibilities in respect of Safeguarding Children and Adults policy and
            Prevent.</li>
        </ul>
        <h3>Course dates</h3>
        <table class="table footable-loaded footable" id="table63227" style="width: 100%;">
          <thead>
            <tr>
              <th id="table63227r1c1">Date</th>
              <th id="table63227r1c2">Time</th>
              <th id="table63227r1c3">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="table63227r1c1">11 February 2020</td>
              <td headers="table63227r1c2">09:30-12:30</td>
              <td headers="table63227r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
            <tr>
              <td headers="table63227r1c1">12 May 2020</td>
              <td headers="table63227r1c2">09:30-12:30</td>
              <td headers="table63227r1c3"><a
                  href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/30-36-newport-road">Floor
                  11, McKenzie House</a></td>
            </tr>
          </tbody>
        </table>
        <h3>How to book</h3>
        <ol>
          <li>Log-in to <a
              href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmy.corehr.com%2Fpls%2Fcoreportal_cdup%2Fcp_por_public_main_page.display_login_page&amp;data=01%7C01%7CThomasL42%40cardiff.ac.uk%7C0d00317ff8d84bc0e7c608d70c329c00%7Cbdb74b3095684856bdbf06759778fcbc%7C1&amp;sdata=iGeNUV3egBn0twBkoCIAfL7dhiv6NPrEROoeRuZs5VU%3D&amp;reserved=0"
              shash="DyTaOTmGQCoKQKVrjI/xI6kNvK6flfIg7nyKyBN9dfCpdRaleTZWTzv5tFvZLDZWjoyvVURVr5Ujzl2PAm3xDK5ebxf89Eji6O5HS5w37fbY4aR5j3QPrvPbl9dLej4OXzM/Rj34MXMjqUNoJ0Pvc3mWOg3OQExcea8WH8zzqgo="
              originalsrc="https://my.corehr.com/pls/coreportal_cdup/cp_por_public_main_page.display_login_page">CoreHR</a>.
          </li>
          <li>Go to the Development tab on your Employee Dashboard.</li>
          <li>Search for the following course code in the Book a Course widget:<ul>
              <li>Course Code: <strong>POLI0079</strong></li>
              <li>Course Category: <strong>Equality And Diversity</strong></li>
            </ul>
          </li>
          <li>You also have the option to add yourself to the waiting list.</li>
        </ol>
        <h3>Contact us</h3>
        <p>Administered by: Staff Development</p>
        <p>Tel: (029) 2087 4453</p>
        <p>Email: <a href="mailto:StaffDevelopment@cardiff.ac.uk">StaffDevelopment@cardiff.ac.uk</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading"><a class="accordion-toggle collapsed" data-toggle="collapse"
        href="#understanding_unconscious_bias_490589"><span class="icon-chevron-right"></span>Understanding Unconscious
        Bias</a></div>
    <div class="accordion-body squiz-bodycopy collapse" desc="Understanding Unconscious Bias"
      id="understanding_unconscious_bias_490589">
      <div class="accordion-inner">
        <p>'Understanding Unconscious Bias' is an online module available to all staff and looks at how unconscious bias
          can impact many scenarios in the work place from recruitment and selection to team activities. All staff
          should find this module in their student list on Learning Central which you access using your network username
          and password.</p>
        <p>The module is an externally produced module from Skill Boosters and uses lots of video clips and is broken
          down into two modules and a test at the end. In order to fully complete the module you must pass the test.
          Within 48 hours of successfully completing the course, CoreHR will be updated to show that you have passed.
        </p>
        <p>To check that your personal development records in CoreHR have been updated click on 'Development' located at
          the left side of the screen. Then click on the drop down menu list to the left of 'Book a Course' and select
          'On the job courses completed'. Understanding Unconscious Bias should appear in this list.</p>
      </div>
    </div>
  </div>
</div>