<div class="accordion accordion-accessible" id="accordion-wrapper">
  <div class="accordion-section">
    <div class="accordion-section-header" id="headingOne">
      <a class="accordion-section-header-title collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        ${require-svg('chevron-right')}Section title
      </a>
    </div>
    <div class="accordion-section-body collapse" id="collapseOne" aria-labelledby="headingOne">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nibh ante, ultricies et ante vel, iaculis
          convallis
          mi. Vivamus malesuada hendrerit tincidunt. Curabitur arcu lacus, malesuada eget tellus ut, tristique
          scelerisque elit.
          Quisque venenatis leo et nunc pellentesque sagittis ut eu tellus. Morbi sed laoreet ipsum, id viverra lectus.
          Curabitur
          egestas turpis ac urna fermentum posuere. In tincidunt dolor id dui dignissim bibendum. Morbi tempor venenatis
          adipiscing.
          Ut sit amet tincidunt libero, sit amet sagittis enim. Fusce a hendrerit neque.
      </p>
      <ul class="list-unstyled"><li>Section content</li></ul>
      <a href="www.google.com">hello this is the test google link for the new accessible accordion</a>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header" id="headingTwo">
      <a href="#" class="accordion-section-header-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        ${require-svg('chevron-right')}Section title
      </a>
    </div>
    <div class="accordion-section-body collapse" id="collapseTwo" aria-labelledby="headingTwo">
      <ul class="list-unstyled"><li>Section content</li></ul>
      <p>This is some p content that i am sticking inside my thing</p>
      <p>This is some p content that i am sticking inside my thing</p>
      <p>This is some p content that i am sticking inside my thing</p>
      <p>This is some p content that i am sticking inside my thing</p>
    </div>
  </div>
</div>