<div id="gallery2" class="carousel slide" data-wrap="false" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://placehold.it/770x433&text=Image+1">
      <div class="carousel-caption">
        <p>Slide 1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+2">
      <div class="carousel-caption">
        <p>Slide 2</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 3</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 4</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 5</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 6</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 7</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 8</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 9</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 10</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 11</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 12</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 13</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 14</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 15</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 16</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://placehold.it/770x433&text=Image+3">
      <div class="carousel-caption">
        <p>Slide 17</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" data-target="#gallery2" data-slide="prev" href="#">
    ${require-svg('chevron-left')}<span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-target="#gallery2" data-slide="next" href="#">
    ${require-svg('chevron-right')}<span class="sr-only">Next</span>
  </a>
</div>