<div id="gallery1" class="carousel slide" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="http://placehold.it/770x433&text=Image+1" />
    </div>
    <div class="carousel-item">
      <img class="d-block" src="http://placehold.it/770x433&text=Image+2" />
    </div>
    <div class="carousel-item">
      <img class="d-block" src="http://placehold.it/770x433&text=Image+3" />
    </div>
    <div class="carousel-item">
      <img class="d-block" src="http://placehold.it/770x433&text=Image+4" />
    </div>
  </div>
  <a class="carousel-control-prev" data-target="#gallery1" data-slide="prev" href="#">
    ${require-svg('chevron-left')}<span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-target="#gallery1" data-slide="next" href="#">
    ${require-svg('chevron-right')}<span class="sr-only">Next</span>
  </a>
</div>
