<ul class="list list-facts clearfix">
	<li class="fact col-md-2"><strong class="fact-bold">28,000</strong> students</li>
	<li class="fact col-md-2"><strong class="fact-bold">6,000</strong> staff</li>
	<li class="fact col-md-2"><strong class="fact-bold">26</strong> Academic Schools</li>
</ul>