.process
  &-steps
    padding: 0
    margin: 0
    list-style-type: none   

    .process-step-title
      &:visited
        color: $colourWhite 

      &:focus
        background-color: $colourSweetCorn
        color: $colourTintDarkest

        .process-arrow-fill
          fill: $colourSweetCorn         
      
  &-step
    flex-flow: column
    margin-bottom: $baseUnit * 3
    font-family: $boldFontFamily
    font-size: map-get($font15, 'size')

    &:first-child
      .process-step-list
        margin-left: 0

    &:last-child
      .process 
        .process-step-title 
          svg
            display: none 

    &-item-link
      &:visited
        text-decoration: none
        color: $colourWhite       

    &-list
      padding: 0
      margin: 0
      list-style-type: none
      margin-left: $baseUnit * 0.75

      &:hover, 
      &:focus
        text-decoration: none
        color: $colourRed

      &:visited
        text-decoration: none
        color: $colourWhite  

      .process-step-item
        text-align: center
        display: block
        margin-bottom: $baseUnit * 0.75
        background-color: $colourGreyLight
        color: $colourGreyDarker

        a
          padding: $baseUnit * 1.5
          display: block
          text-decoration: underline
          color: $colourGreyDarker

          &:hover
            background-color: $colourGainsboro
            text-decoration: none
            color: $colourGreyDarker

          &:visited
            text-decoration: none
            color: $colourGreyDarker

          &:focus        
            background-color: $colourSweetCorn   

    &.active
      .process-step-title
        background-color: $colourTintDarkest

        &:focus
          color: $colourTintDarkest
          background-color: $colourSweetCorn

          .process-arrow-fill
            fill: $colourSweetCorn

        &:after
          border-color: $colourTintDarkest $colourTransparent

        .process-arrow-fill
          fill: $colourTintDarkest      
                   
    &-title
      padding: $baseUnit * 1.5 $baseUnit * 2.25
      margin-bottom: $baseUnit * 0.75
      position: relative
      display: block
      background-color: $colourTintDarker
      color: $colourWhite
      width: 100%
      height: auto
      box-sizing: border-box

      &:after
        position: absolute
        top: 100%
        left: 47%
        width: 0
        height: 0
        border-width: $baseUnit * 1.5 $baseUnit * 1.5 0 $baseUnit * 1.5
        border-color: $colourTintDarker $colourTransparent
        border-style: solid
        content: "" 

      &:hover
        background-color: $colourTintDarkest

        .process-arrow-fill
          fill: $colourTintDarkest 

      svg
        display: none
        position: absolute
        top: 0
        left: 100%
        z-index: 1
        bottom: 0
        height: 100%
        width: 39px
        margin-left: -$baseUnit*0.1

      .process-arrow-fill
        fill: $colourTintDarker 

      &:hover, 
      &:focus, 
      &:active
        color: $colourWhite
        text-decoration: none

        &:after
          border-color: $colourTintDarkest $colourTransparent
          
      &:visited
        color: $colourWhite  

  &.with-list
    .process-step
      display: block
      background-color: initial
      
      &-title
        margin-bottom: $baseUnit * 0.75

      &-list
        padding: 0
        margin: 0
        list-style-type: none
        display: block
    
        &:hover
          background-color: initial

@import process-md-up