<figure class="quote with-image">
  <img class="quote-image rounded-circle" alt="alt text" width="100" src="//placehold.it/100x100">
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.</p>
  </blockquote>
  <figcaption class="quote-author">
    Professor Colin Riordan<cite class="quote-source">, Vice-Chancellor, Cardiff University</cite>
  </figcaption>
</figure>