<div class="box box-quote float-right col-md-4">
  <figure class="quote with-icon">
      ${require-svg('right-quote')}
    <blockquote class="quote-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
        quis lacus.</p>
    </blockquote>
    <figcaption class="quote-author">Author Name, <cite class="quote-source">Publication</cite></figcaption>
  </figure>
</div>