<figure class="quote">
  <blockquote class="quote-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
    quis lacus. Sed imperdiet urna vel risus euismod, quis rutrum libero convallis. Sed id mi nibh. Proin sed lobortis arcu.</blockquote>
  <figcaption class="quote-author">Author Name, <cite class="quote-source">Publication</cite></figcaption>
</figure>