.fact 
  text-align: center
  font-family: #{$FranklinGothicURW}, #{$sansFontFamily}
  font-size: map-get($font20, 'size')
  line-height: map-get($font17, 'line-height')
  padding: #{($baseUnit * 2.1)} 0 #{($baseUnit * 1.9)} 0
  margin-bottom: ($baseUnit*2)
  border-top: ($baseUnit * 0.2) solid $colourGreyLighter
  border-bottom: ($baseUnit * 0.2) solid $colourGreyLighter

  &-bold
    font-family: $headingsFontFamily
    font-size: map-get($font29, 'size')
    line-height: map-get($font17, 'line-height')
    display: block
    color: $colourRed

.fact-large
  .fact-bold
    display: block
    font-size: map-get($font44, 'size')
    line-height: map-get($font44, 'line-height')

.list-facts
  list-style: none
  margin-left: 0
  padding-left: 0

  .fact
    @include clearfix()
    margin-bottom: 0
    border-bottom: none
    border-top: none
    align-content: flex-start
    
    &:first-child
      margin-left: 0

@import 'fact-md-up'