<div class="row">
  <div class="col-md-3">
    <nav class="nav-local">
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="#">Using wireless</a>
          <ul class="nav-children">
            <li class="nav-item active">
              <a class="nav-link" href="#">Connect to the wireless network</a>
              <ul class="nav-children">
                <li class="nav-item"><a class="nav-link" href="#">Connect to the wireless network at other institutions.</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Visitor access to the wireless network.</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Using the network in University Residences</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Using the network somewhere else</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
