<h2>Modal</h2>
${require('variations/modal.html')}
<h2>Modal with image</h2>
${require('variations/modal-image.html')}
<h2>Modal with image and caption</h2>
${require('variations/modal-caption.html')}
