<figure class="map map-small">
  <div class="map-body"></div>
  <figcaption class="caption">Figure 1. This is a small map with caption.</figcaption>
</figure>
<figure class="map map-large">
  <div class="map-body"></div>
  <figcaption class="caption">Figure 1. This a large map with caption.</figcaption>
</figure>