$profileLargeImageWidth: $baseUnit*20
$profileImageWidth: $baseUnit*10
$profileSmallImageWidth: $baseUnit*4.0

.profile
  @include clearfix()
  margin-bottom: ($baseUnit*2)
  position: relative

  &.with-image
    padding-left: $profileImageWidth + $baseUnit*2

  abbr[title],
  acronym[title]
    border: none

  .profile-title
    font-family: $headingsFontFamily
    font-size: map-get($font20, 'size')
    line-height: map-get($font17, 'line-height')
    margin: 0
    color: $colourRed
    letter-spacing: -$baseUnit*0.05

    a
      color: $colourRed

      &:focus
        color: darken($colourRed, 10%)

.profile-vertical
  text-align: center

  &.with-image
    padding-left: 0
  
  .profile-image 
    margin-left: 0
    margin-bottom: $baseUnit
    float: none
    width: 100%
 
  .profile-title
    .profile-title-suffix
      display: block
      font-size: map-get($font20, 'size')

  .profile-connect
    position: static

    li
      text-align: center
      display: inline-block
      float: none

    a.icon
      color: $colourGreyLight

      &:hover
        color: $colourGrey

.profile-image
  @include square($profileImageWidth)
  margin: 0
  margin-left: (-($profileImageWidth + ($baseUnit*2)))
  float: left
  
  img 
    box-shadow: 0 0 2px rgba($colourBlack, 0.2)

  .profile-title-suffix
    color: $colourBlack

    &:after 
      content: ''
      margin-left: 0
      display: none

.profile-bio
  font-size: map-get($font15, 'size')
  margin-bottom: $baseUnit

  p:last-of-type
    margin-bottom: 0

.profile-subtitle
  font-family: $headingsFontFamily
  font-size: map-get($font17, 'size')
  line-height: map-get($font17, 'line-height')
  margin: 0
  color: $colourBlack
  letter-spacing: -$baseUnit/40
  
  a:after
    content: ''
    margin-left: 0

.profile-department
  font-family: $headingsFontFamilyLight
  font-size: map-get($font15, 'size')
  line-height: map-get($font15, 'line-height')
  color: $colourGreyDarker
  margin: 0 0 $baseUnit 0

.profile-connect
  position: absolute
  right: 0
  top: 0

.profile-contact
  @include clearfix()
  margin: 0 0 $baseUnit 0 
  float: left

  dt
    display: inline-block
    clear: left
    float: left

    svg
      color: $colourGrey
      margin-right: $baseUnit/2
      margin-top: -$baseUnit*0.4

  dd
    display: inline-block
    clear: none
    float: left
    margin-left: 0

  dd + dd 
    clear: left 
    margin-left: $baseUnit*3
    margin-top: -$baseUnit*0.2

.profile-contact-telephone,
.profile-contact-fax
  cursor: pointer

.profile-small
  &.with-image
    padding-left: ($profileSmallImageWidth + ($baseUnit))

  .profile-image
    @include square($profileSmallImageWidth)
    margin-left: (-($profileSmallImageWidth + ($baseUnit)))

    img
      @include square($profileSmallImageWidth)
  
  .profile-title
    margin-top: $baseUnit*0.2
    font-size: map-get($font20, 'size')
    line-height: 1.125rem

  .profile-subtitle
    font-size: map-get($font17, 'size')
    line-height: map-get($font17, 'line-height')

.profile-large
  &.with-image
    padding-left: 0

  .profile-image
    float: right
    margin-left: (-(($profileSmallImageWidth) + $baseUnit*3))
    width: ($profileSmallImageWidth + $baseUnit*3)
    height: auto

    img
      @include square($profileSmallImageWidth + $baseUnit*3)
      box-shadow: none
      margin-bottom: ($baseUnit*4)
  
  .profile-title
    margin-right: (($profileSmallImageWidth) + $baseUnit*5)
    font-size: map-get($font24, 'size')
    line-height: 2.5rem

  .profile-connect 
    left: 0
    top: $baseUnit*22

  .profile-contact
    -webkit-column-count: 1
    -webkit-column-gap: 0

.profile-current-position
  color: $colourTintPrime
  font-size: map-get($font17, 'size')

@import 'profile-sm-up'