@media #{$breakpoint-sm-up}
  .profile-large
    &.with-image
      padding-left: ($profileLargeImageWidth + ($baseUnit*4))

    .profile-image
      float: left
      margin-left: (-($profileLargeImageWidth + ($baseUnit*4)))
      width: $profileLargeImageWidth

      img
        @include square($profileLargeImageWidth)
    
    .profile-title
      font-size: map-get($font34, 'size')
      margin-right: 0