<div class="teaser teaser-small" data-assetid="58030" data-paintlayoutid="58132" data-status="Live">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/directories/services-and-facilities/view/student-support-centre-cathays">Student
        Support Centre (Cathays)</a></h2>
    <p>We deliver a comprehensive range of services dedicated to helping you make the most of student life.</p>
  </div>
</div>