<div class="teaser teaser-large with-image">
  <figure class="teaser-image"><a href="timeline"><img alt="alt text" src="http://placehold.it/270x150"></a></figure>
  <div class="teaser-body">
    <h2 class="teaser-title"><a href="timeline">MRC Centre celebrates fifth anniversary</a></h2>
    <p class="teaser-date">5 July 2013</p>
    <p>Cardiff University’s MRC Centre for Neuropsychiatric Genetics and Genomics celebrates its five-year-anniversary.</p>
  </div>
</div>