<div class="teaser teaser-small with-key filter-pane" data-campus="Cathays Park" data-lat="51.494250"
  data-long="-3.185590" data-key="1">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/118-maindy-road">118 Maindy
        Road</a></h2>
    <p class="float-right"><a
        href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/118-maindy-road"
        aria-label="More information about 118 Maindy Road">More information</a></p>
  </div>
</div>