<div class="teaser teaser-small teaser-staff-event ">
  <div class="event-date">
    <time class="event-date-day" datetime="2020-01-22 14:00:00">22</time>
    <time class="event-date-month" datetime="2020-01-22 14:00:00">Jan</time>
    <time class="event-date-year" datetime="2020-01-22 14:00:00">2020</time>
  </div>
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/events/view/1735459-dora-responsible-research-assessment-drop-in-session"
        aria-label="DORA - Responsible research assessment Drop-in Session - 22-01-2020">DORA - Responsible research
        assessment Drop-in Session</a></h2>
    <ul class="list list-icons">
      <li>${require-svg('clock')}14:00-16:00</li>
      <li>${require-svg('marker')}</span><a
          href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/john-percival-building">John
          Percival Building</a></li>
    </ul>
  </div>
</div>