<div class="teaser" data-assetid="55419" data-paintlayoutid="317989" data-status="Live">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/directories/university-staff-and-teams/view/55419-college-of-arts-humanities-and-social-sciences">College
        of Arts, Humanities &amp; Social Sciences</a></h2>
    <p>From Business to Law, Music to Journalism, we have an internationally recognised intellectual capacity
      considering the key theoretical and practical questions in the study of the economy, politics and society.</p>
  </div>
</div>