<div class="teaser teaser-small teaser-staff-event  teaser-personalised">
  <div class="icon-personalisation">${require-svg('personalisation')}</div>
  <div class="school-container">
    <span class="school-container-text">Welsh School of Architecture</span>
  </div>
  <div class="event-date">
    <time class="event-date-day" datetime="2019-12-11 16:15:00">11</time>
    <time class="event-date-month" datetime="2019-12-11 16:15:00">Dec</time>
    <time class="event-date-year" datetime="2019-12-11 16:15:00">2019</time>
  </div>
  <div class="teaser-body">
    <h2 class="teaser-title">
      <a href="https://intranet.cardiff.ac.uk/staff/events/view/1736352-manga,-anime-and-religion-in-japan-prof.-elisabetta-porcu,-university-of-cape-town"
        aria-label="Manga, Anime and Religion in Japan (Prof. Elisabetta Porcu, University of Cape Town)  - 11-12-2019">Manga,
        Anime and Religion in Japan (Prof. Elisabetta Porcu, University
        of Cape Town)
      </a>
    </h2>
    <ul class="list list-icons">
      <li>${require-svg('clock')}</span>16:15-17:45</li>
      <li>
        ${require-svg('marker')}<a
          href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/john-percival-building">John
          Percival Building</a>
      </li>
    </ul>
  </div>
</div>