<div class="col-md-3">
  <div class="teaser teaser-vertical teaser-small with-image mb-20">
    <figure class="teaser-image">
      <a href="https://intranet.cardiff.ac.uk/staff/directories/services-and-facilities/view/aberconway-hall">
        <img
          srcset="https://cardiff.imgix.net/__data/assets/image/0008/1165139/Bedroom.JPG?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format  700w,
                       https://cardiff.imgix.net/__data/assets/image/0008/1165139/Bedroom.JPG?w=550&amp;h=309&amp;fit=crop&amp;q=60&amp;auto=format  550w,
                       https://cardiff.imgix.net/__data/assets/image/0008/1165139/Bedroom.JPG?w=380&amp;h=214&amp;fit=crop&amp;q=60&amp;auto=format  350w,
                       https://cardiff.imgix.net/__data/assets/image/0008/1165139/Bedroom.JPG?w=290&amp;h=163&amp;fit=crop&amp;q=60&amp;auto=format  290w,
                       https://cardiff.imgix.net/__data/assets/image/0008/1165139/Bedroom.JPG?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format  150w"
          src="https://cardiff.imgix.net/__data/assets/image/0008/1165139/Bedroom.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format "
          sizes="(max-width: 767px) 100vw, (max-width: 970px) 104px, (max-width: 1199px) 140px, (min-width: 1200px) 170px"
          alt="Aberconway Hall">
      </a>
    </figure>
    <div class="teaser-body">
      <h2 class="teaser-title"><a
          href="https://intranet.cardiff.ac.uk/staff/directories/services-and-facilities/view/aberconway-hall">Aberconway
          Hall</a></h2>
      <p></p>
    </div>
  </div>
</div>