<div class="teaser">
  <div class="teaser-body">
    <div class="personalised-search-container">
      <div class="icon-personalisation">
        ${require-svg('personalisation')}
      </div>
      <div class="personalised-school-search-container">
        <span class="school-container-text">
          School of Medicine
        </span>
      </div>
    </div>
    <p class="teaser-category">${require-svg('file')}Document</p>
    <h2 class="teaser-title"><a
        title="https://intranet.cardiff.ac.uk/intranet/staff/documents/schools/medicine/School-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf"
        href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fintranet%2Fstaff%2Fdocuments%2Fschools%2Fmedicine%2FSchool-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf&amp;index_url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fintranet%2Fstaff%2Fdocuments%2Fschools%2Fmedicine%2FSchool-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf&amp;auth=9QFoR0wecjwbYJc1jO5ufA&amp;profile=_default&amp;rank=10&amp;query=costing+%7C%5BZ%3Aallstaff+Z%3AMEDIC%5D+%7CX%3A%22%24%2B%2B+document+%24%2B%2B%22"
        class="ga-event" data-category="Document" data-action="Download from search"
        data-label="https://intranet.cardiff.ac.uk/intranet/staff/documents/schools/medicine/School-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf School of Medicine - Costing public involvement and public engagement activity">School
        of Medicine - Costing public involvement and public engagement activity</a></h2>
    <p><span class="search-summary">A guide for costing your public engagement and public involvement activity including
        examples of typical costs.</span></p>
    <p><a
        title="https://intranet.cardiff.ac.uk/intranet/staff/documents/schools/medicine/School-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf"
        href="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fintranet%2Fstaff%2Fdocuments%2Fschools%2Fmedicine%2FSchool-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf&amp;index_url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fintranet%2Fstaff%2Fdocuments%2Fschools%2Fmedicine%2FSchool-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf&amp;auth=9QFoR0wecjwbYJc1jO5ufA&amp;profile=_default&amp;rank=10&amp;query=costing+%7C%5BZ%3Aallstaff+Z%3AMEDIC%5D+%7CX%3A%22%24%2B%2B+document+%24%2B%2B%22"
        class="ga-event" data-category="Document" data-action="Download from search"
        data-label="https://intranet.cardiff.ac.uk/intranet/staff/documents/schools/medicine/School-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf School of Medicine - Costing public involvement and public engagement activity"><cite
          data-url="https://search.cardiff.ac.uk/s/redirect?collection=staff-meta&amp;url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fintranet%2Fstaff%2Fdocuments%2Fschools%2Fmedicine%2FSchool-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf&amp;index_url=https%3A%2F%2Fintranet.cardiff.ac.uk%2Fintranet%2Fstaff%2Fdocuments%2Fschools%2Fmedicine%2FSchool-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf&amp;auth=9QFoR0wecjwbYJc1jO5ufA&amp;profile=_default&amp;rank=10&amp;query=costing+%7C%5BZ%3Aallstaff+Z%3AMEDIC%5D+%7CX%3A%22%24%2B%2B+document+%24%2B%2B%22"
          class="search-result-url"><small>https://intranet.cardiff.ac.uk/intranet/staff/documents/schools/medicine/School-of-Medicine-guidance-Costing-public-involvement-and-public-engagement-activity-Sept-2019.pdf</small></cite></a>
    </p>
  </div>
</div>