<div class="teaser teaser-news with-image">
  <div class="icon-personalisation">${require-svg('personalisation')}</div>
  <div class="school-container">
    <span class="school-container-text">Welsh School of Architecture</span>
  </div>
  <figure class="teaser-image float-right">
    <a href="https://intranet.cardiff.ac.uk/staff/news/view/1732428-myyour-cardiff-public-space-campaign">
      <img
        srcset="https://intranet-cardiff.imgix.net/__data/assets/image/0010/1732456/HK-Cardiff-7_2.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                         https://intranet-cardiff.imgix.net/__data/assets/image/0010/1732456/HK-Cardiff-7_2.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
        src="https://intranet-cardiff.imgix.net/__data/assets/image/0010/1732456/HK-Cardiff-7_2.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
        sizes="(max-width: 350px) 100vw, 170px" alt="MY/YOUR CARDIFF PUBLIC SPACE CAMPAIGN">
    </a>
  </figure>
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/news/view/1732428-myyour-cardiff-public-space-campaign">My/Your
        Cardiff Public Space Campaign</a></h2>
    <p class="teaser-date">3 December 2019</p>
    <p>Exciting new campaign launch.</p>
  </div>
</div>