<div class="teaser teaser-small" data-assetid="1730309" data-paintlayoutid="1137655" data-status="Live">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/news/view/1730309-new-file-types-blocked-in-outlook-for-the-web">New
        file types blocked in Outlook for the web</a></h2>
    <p class="teaser-date">27 November 2019</p>
  </div>
</div>