<div class="teaser teaser-small teaser-event">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/events/view/1748878-bls-open-access-explained-staff-and-students-science-library-300120">BLS
        - Open Access Explained -Staff &amp; Students- Science Library - 30/01/20</a></h2>
    <ul class="list list-horizontal event-meta">
      <li>${require-svg('calendar')}30 January 2020</li>
      <li>${require-svg('clock')}</span>12:00-13:00</li>
      <li>${require-svg('marker')}</span><a
          href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/main-building">Main
          Building</a></li>
    </ul>
  </div>
</div>