<div class="teaser teaser-news teaser-small with-image">
  <figure class="teaser-image"> <a
      href="https://intranet.cardiff.ac.uk/staff/news/view/1751940-coronavirus-outbreak-in-china"> <img
        src="https://intranet-cardiff.imgix.net/__data/assets/image/0006/117429/Cardiff-University.jpg?w=70&amp;h=40&amp;fit=crop&amp;q=60&amp;auto=format"
        alt="Cardiff University logo"> </a> </figure>
  <div class="teaser-body">
    <h2 class="teaser-title"> <a
        href="https://intranet.cardiff.ac.uk/staff/news/view/1751940-coronavirus-outbreak-in-china">Coronavirus outbreak
        in China</a> </h2>
    <p class="teaser-date">23 January 2020</p>
  </div>
</div>