<div class="teaser with-image">
  <figure class="teaser-image">
    <a href="http://www.cardiff.ac.uk/news/view/159882-city-deal-takes-significant-step-forward">
        <img alt="alt text" src="http://placehold.it/170x100" />
    </a>
  </figure>
  <div class="teaser-body">
    <h2 class="teaser-title">
      <a href="http://www.cardiff.ac.uk/news/view/159882-city-deal-takes-significant-step-forward">City Deal takes significant step forward</a>
    </h2>
    <p class="teaser-date">12 November 2015</p>
    <p>Vice-Chancellor welcomes submission by Cardiff Capital Region leaders to UK Government</p>
  </div>
</div>