<div class="teaser teaser-boxed ">
  <div class="teaser-body">
    <p class="teaser-category">Test content</p>
    <h1 class="teaser-title"> <a
        href="https://intranet.cardiff.ac.uk/staff/your-employment/training-and-development/the-cardiff-professional">The
        Cardiff Professional</a> </h2>
    <p class="teaser-description">Information for development courses based on Career Pathway.</p>
  </div>
</div>