<div class="teaser teaser-vertical with-image with-personalisation">
  <figure class="teaser-image"><a href="#"><img alt="alt text" src="http://placehold.it/270x150"></a><div class="icon-personalisation">${require-svg('personalisation')}</div></figure>
  <div class="teaser-body">
    <h2 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h2>
    <p class="teaser-category"><a href="#">Research ${require-svg('chevron-right')}</a></p>
  </div>
</div>
<div class="teaser teaser-vertical with-image">
  <figure class="teaser-image"><a href="#"><img alt="alt text" src="http://placehold.it/270x150"></a></figure>
  <div class="teaser-body">
    <h2 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h2>
    <p class="teaser-category"><a href="#">Research ${require-svg('chevron-right')}</a></p>
  </div>
</div>
<div class="teaser teaser-vertical">
  <div class="teaser-body">
    <h2 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h2>
    <p class="teaser-category"><a href="#">Research without image</a></p>
  </div>
</div>