<div class="teaser teaser-large">
  <div class="teaser-body">
    <p class="teaser-category">${require-svg('star')}Popular</p>
    <h2 class="teaser-title"><a href="https://intranet.cardiff.ac.uk/staff/your-employment/training-and-development/continuing-professional-development">Continuing Professional Development</a></h2>
    <p>An overview of Continuing Professional Development</p>
  </div>
</div>