<div class="teaser teaser-featured with-links">
  <div class="teaser-body">
    <p class="teaser-category"><a href="https://intranet.cardiff.ac.uk/staff/applications">${require-svg('applications')}application</a></p>
    <h2 class="teaser-title"><a class="ga-event" data-category="Applications" data-action="click"
        data-label="Image library" target="_blank" href="http://medialib.cardiff.ac.uk">Image library</a></h2>
    <p>The Media Library for marketing imagery for use by University staff.</p>
  </div>
  <footer class="teaser-footer">
    <ul class="list list-horizontal">
      <li><a class="ga-event" data-category="Applications" data-action="click" data-label="Image library"
          target="_blank" href="http://medialib.cardiff.ac.uk">Go to application</a></li>
      <li><a href="https://intranet.cardiff.ac.uk/staff/applications/view/media-library">Find out more</a></li>
    </ul>
  </footer>
</div>