<div class="teaser teaser-section">
  <div class="icon-personalisation">${require-svg('personalisation')}</div>
  <div class="school-container"><span class="school-container-text">Personalised</span></div>
  <div class="teaser-body">
    <h2 class="teaser-title"> <a
        href="https://intranet.cardiff.ac.uk/staff/research-support/engagement/school-of-medicine-public-engagement-and-involvement-with-research">
        School of Medicine - public engagement and involvement with research </a> </h2>
    <p>Public engagement and public involvement can bring significant benefits to your research.</p>
  </div>
</div>