<div class="teaser teaser-news with-image">
  <figure class="teaser-image float-right">
    <a href="https://intranet.cardiff.ac.uk/staff/news/view/1748887-get-involved-with-the-urdd-and-national-eisteddfod">
      <img
        srcset="https://intranet-cardiff.imgix.net/__data/assets/image/0012/1749891/20190809_113853_resized.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                     https://intranet-cardiff.imgix.net/__data/assets/image/0012/1749891/20190809_113853_resized.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
        src="https://intranet-cardiff.imgix.net/__data/assets/image/0012/1749891/20190809_113853_resized.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
        sizes="(max-width: 350px) 100vw, 170px" alt="Eisteddfod sign">
    </a>
  </figure>
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://intranet.cardiff.ac.uk/staff/news/view/1748887-get-involved-with-the-urdd-and-national-eisteddfod">Get
        involved with the Urdd and National Eisteddfod </a></h2>
    <p class="teaser-date">20 January 2020</p>
    <p>This summer, we will have a presence at the Urdd Eisteddfod (25 – 30 May) and the National Eisteddfod for Wales
      (1 – 8 August). Find out more about how you can take your research into the community by engaging through
      Welsh-language hands-on activities at our stands.</p>
  </div>
</div>