.carousel
  &-indicators
    display: none

  &-control
    &-prev,
    &-next
      display: none
      width: auto

    &-next
      margin-right: $baseUnit * 2

    &-prev
      margin-left: $baseUnit * 2
  
  &-caption
    position: relative
    left: 0
    right: 0
    bottom: 0
    padding: $baseUnit #{$baseUnit * 5.7} $baseUnit #{($baseUnit * 1.5)}
    background-color: $colourTintLightest
    text-align: left

    p      
      &:last-child
        margin-bottom: 0

  &-inner
    @extend .x-scroll
    @extend .snap
    @extend .x-scroll--full-width

  &-item
    position: relative

    img
      @extend .w-100

  &-pagination
    position: absolute
    right: 0
    text-align: right
    padding: $baseUnit
    margin-bottom: 0
    background-color: $colourTintLightest
    z-index: 11


@import 'carousel-md-up'
@import 'carousel-lg-up'