.nav-breadcrumb
  grid-area: breadcrumb
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  order: 3
  border-bottom: #{$baseUnit * 0.1} solid $colourGreySoft

  .breadcrumb
    @extend .flex-nowrap
    @extend .align-items-center
    margin: 0

    &-item
      @extend .text-truncate
      font-family: $headingsFontFamilyLight
      margin-left: $baseUnit

      a
        color: $colourLink
        text-decoration: underline

        &:hover
          color: $colourTintDark

      &:first-child
        margin-left: 0

      &-separator
        margin: 0 0 0 $baseUnit
        
        .icon
          @include square(map-get($svgWidths, 'xs'))
          display: block
          fill: $colourTapa
          margin: 0