<h2>Map</h2>
${require('variations/map.html')}
<h2>Map with caption</h2>
${require('variations/map-caption.html')}
<h2>Map sizes</h2>
${require('variations/map-sizes.html')}
<h2>Map link</h2>
${require('variations/map-link.html')}