$inputHeight: $baseUnit*4.5

form
  margin-bottom: $baseUnit*2.4

  legend
    border-bottom: $baseUnit * 0.1 solid $colourMercury
    font-family: $headingsFontFamilyLight
    color: $colourGreyDarker
    margin-bottom: $baseUnit * 2.4
    line-height: 3rem
    
    &.sq-form-question-title
      font-family: $boldFontFamily
      font-size: map-get($font17, 'size')
      line-height: map-get($font17, 'line-height')
      border-bottom: none
  
  &.form
    &-inline
      width: 100%
      position: relative
      
      input[type="text"]
        &#query
          width: 100%

      .form-group
        display: contents

      .form-control
        width: 100%

        &.search-query
          padding-right: $baseUnit*4

      select,
      textarea,
      input[type="text"],
      input[type="password"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="week"],
      input[type="number"],
      input[type="email"],
      input[type="url"],
      input[type="search"],
      input[type="tel"],
      input[type="color"],
      .form-group,
      label
        margin-right: $baseUnit/2
        margin-bottom: $baseUnit

      label
        justify-content: left

      .search-submit 
        background: $colourTransparent
        width: 40px
        height: 41px
        position: absolute
        top: 2px
        right: 7px
        border: none
        padding: 0

        .icon
          @include square(map-get($svgWidths, 'md'))
          fill: $colourGreyDark
          margin-right: 0

      .btn
        margin-bottom: $baseUnit
        margin-right: 0
        border: none

  &.form-horizontal
    .form-group, 
    .control-group
      &:before,
      &:after
        @include clearfix() 

      .control-label
        float: none
        width: auto
        padding-top: $baseUnit/2
  
  .controls
    margin-left: 0

  .form
    &-group
      margin-top: $baseUnit*3
    
      &:not([class*="col"]):first-of-type
        margin-top: 0

      &.sub-question
        margin-top: 0
        border-left: ($baseUnit*0.5) solid $colourGreyLighter
        padding-top: $baseUnit
        padding-left: $baseUnit*2

      .col-form-label
        margin-right: 0
        padding: $baseUnit*0.5 0 0 $baseUnit*1.6
        margin-bottom: $baseUnit * 0.8

    &-hint
      color: $colourGreyDarkest
      font-family: $brandFamily

    &-controls
      margin-top: ($baseUnit * 4)

    &-search
      input[type='text'],
      input[type='password'],
      input[type='datetime'],
      input[type='datetime-local'],
      input[type='date'],
      input[type='month'],
      input[type='time'],
      input[type='week'],
      input[type='number'],
      input[type='email'],
      input[type='url'],
      input[type='search'],
      input[type='tel'],
      input[type='color']
        padding: $baseUnit*1.5 $baseUnit*3.5 $baseUnit*1.5 $baseUnit*1.5
      
      &.form-search-large
        select,
        textarea,
        input[type='text'],
        input[type='password'],
        input[type='datetime'],
        input[type='datetime-local'],
        input[type='date'],
        input[type='month'],
        input[type='time'],
        input[type='week'],
        input[type='number'],
        input[type='email'],
        input[type='url'],
        input[type='search'],
        input[type='tel'],
        input[type='color']
          @include border-radius($baseUnit*0.2)
          font-size: map-get($font20, 'size')
          padding: $baseUnit*2 $baseUnit*3.8 $baseUnit*2 $baseUnit*2
          
      &.form-search-larger
        select,
        textarea,
        input[type='text'],
        input[type='password'],
        input[type='datetime'],
        input[type='datetime-local'],
        input[type='date'],
        input[type='month'],
        input[type='time'],
        input[type='week'],
        input[type='number'],
        input[type='email'],
        input[type='url'],
        input[type='search'],
        input[type='tel'],
        input[type='color']
          @include border-radius($baseUnit*0.2)
          font-size: map-get($font20, 'size')
          padding: $baseUnit*3 $baseUnit*4 $baseUnit*3 $baseUnit*3

  .radio-option,
  .checkbox-option
    position: relative
    padding-left: 0
    margin-bottom: 0

    label
      cursor: pointer
  
  .validation-errors
    border: $baseUnit*0.1 solid $colourRed
    padding: $baseUnit*2
  
    h4
      margin-bottom: $baseUnit
    
    ul
      margin-bottom: 0

      li
        color: $colourRed

        a,
        a:hover
          color: $colourRed
          text-decoration: none

  .question-error
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"]
      border-color: $colourRed
    
    &-msg
      color: $colourRed

  .highlighted-info
    width: calc(100% - ($baseUnit * 2))
    padding: ($baseUnit * 2)
    border-left: $baseUnit*0.5 solid $colourRed
    margin-left: ($baseUnit * 2)

    p
      &:first-child
        margin-bottom: 0
        font-family: $boldFontFamily

      &:last-of-type
        margin-bottom: 0

  .accordion-small
    .accordion-toggle
      font-size: map-get($font17, 'size')
    
  .controls,
  .sq-form-question,
  .decision-question
    ul li
      border: none
  
      &:hover
        border: none
      
      label
        background: $colourTransparent
      
  select,
  select.form-control,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"]
    @include border-radius($baseUnit*0.4)
    padding: $baseUnit
    height: $inputHeight
    border: $baseUnit*0.2 solid $colourGreyDarker
    width: 100%
  
  input[type="search"]
    padding-right: $baseUnit*3

  select
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat calc(100% - 10px) 50%
    appearance: none
    
    &[multiple="multiple"]
      background: none
      height: auto

    &:not([multiple="multiple"])
      padding: $baseUnit $baseUnit*3 $baseUnit $baseUnit*1.5

  textarea
    @include border-radius($baseUnit*0.4)
    height: auto
    padding: $baseUnit
    border: $baseUnit*0.2 solid $colourGreyDarker
    width: 100%
    min-height: ($baseUnit * 12)

  label,
  .control-label
    font-family: $boldFontFamily
      
    &.radio,
    &.checkbox
      padding: $baseUnit * 0.7 0 0 $baseUnit * 4.5
      min-height: $baseUnit * 3.4
      position: relative
      margin-bottom: $baseUnit
      display: block
      font-family: $brandFamily
  
    input[type="radio"],
    input[type="checkbox"]
      opacity: 1

  input[type="radio"],
  input[type="checkbox"]
    height: ($baseUnit * 3.4)
    width: ($baseUnit * 3.4)
    position: absolute
    left: 0
    top: 0
    opacity: 0
    margin-left: 0

    &:focus
      & + label
        outline: none

        &:before
          box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn
  
  .plaintextedit[type=text],
  .tag-lookup-input,
  #address-lookup-input
    height: auto !important 

  li, td
    position: relative

  input[type="checkbox"]:checked + label::after, 
  input[type="radio"]:checked + label::after
    opacity: 1
  
  input[type="checkbox"] + label,
  input[type="radio"] + label
    padding: $baseUnit*0.7 0 0 $baseUnit*4.5
    min-height: $baseUnit * 3.4
    position: relative
    margin-bottom: $baseUnit
    font-family: $brandFamily

    &::before
      @include border-radius($baseUnit*0.4)
      content: ""
      border: $baseUnit*0.2 solid $colourGreyDarker
      height: ($baseUnit * 3.4)
      width: ($baseUnit * 3.4)
      position: absolute
      left: 0
      top: 0
  
    &::after
      content: ""
      position: absolute
      top: $baseUnit * 0.9
      left: $baseUnit * 0.7
      width: ($baseUnit * 2)
      height: $baseUnit
      opacity: 0
     
  input[type="checkbox"] + label
    &::after
      border: solid
      border-width: 0 0 $baseUnit*0.5 $baseUnit*0.5
      border-top-color: transparent
      transform: rotate(-45deg)

  input[type="radio"] + label
    &::before
      @include border-radius(50%)
  
    &::after
      @include border-radius(50%)
      top: $baseUnit * 0.7
      height: ($baseUnit * 2)
      background: $colourGreyDarker

  .success-message,
  .warning-message,
  .error-message
    margin-bottom: $baseUnit*0.8

  .success-message
    color: $colourGreen

  .error-message
    color: $colourRed

  .help-inline,
  .help-block
    color: $colourGrey

  .help-inline
    padding-left: $baseUnit*0.5

  .help-block
    margin-bottom: $baseUnit*1.2
    margin-top: $baseUnit*1.2
    display: block

  .success
    .help-block,
    .help-inline,
    label,
    input,
    select,
    textarea
      color: $colourValid
    
    .help-block
      .icon
        fill: $colourValid
    
    input,
    select,
    textarea
      border-color: $colourValid

  .error
    .help-block,
    .help-inline,
    label,
    input,
    select,
    textarea
      color: $colourRed
    
    .help-block
      .icon
        fill: $colourRed
    
    input,
    select,
    textarea
      border-color: $colourRed
      background-image: none

  input[type="checkbox"],
  input[type="radio"],
  select
    &:hover
      cursor: pointer

.form-label,
label
  + .question-error-msg
    margin-top: -$baseUnit*0.8

input:invalid
  color: $colourRed

abbr.sq-form-required-field[title]
  color: $colourRed
  border-bottom: none

.sq-form
  &-required-field-note
    margin-bottom: $baseUnit*2

  &-question
    margin-bottom: $baseUnit*2
    @include clearfix()

    &-title
      margin-left: 0
      width: auto
      padding-top: $baseUnit * 0.5

    &-note   
      @extend .help-block  
 
    &-error
      input
        border-color: $colourRed

      .sq-form-question-title
        color: $colourRed

    &-answer
      ul
        list-style-type: none
        margin: 0 0 $baseUnit 0

        li
          input
            float: left
            margin-right: $baseUnit
    
    &-option-list
      .sq-form-option-answer
        li
          display: block

        label
          display: inline-block
          margin-bottom: 0

  &-error
    color: $colourRed
    margin: $baseUnit 0 0 0 

@import form-md-up
