$inputWidth: 206px

@media #{$breakpoint-md-up}
  form
    &.form
      &-inline
        .form-control
          &.search-query
            padding-right: $baseUnit

        label,
        #query
          width: auto
        
        .control:not([class*="col"])
          width: $inputWidth
    
    select,
    select.form-control,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"]
      width: $inputWidth
    
    input[class*="col"],
    select[class*="col"]
      width: 100%

    input[type="search"]
      padding-right: $baseUnit
    
    &.form-horizontal
      .form-group, 
      .control-group
        .control-label
          float: left
          width: $baseUnit*16
          padding-top: $baseUnit/2
          text-align: right
      
      .controls
        margin-left: $baseUnit*18

    .form-group
      .col-form-label
        margin-right: -$baseUnit*1.8
        text-align: right
        padding: $baseUnit/2 $baseUnit*2.2 0 0
          
    .sq-form
      &-question
        padding-left: $baseUnit*18
        margin-bottom: $baseUnit*2

        &-title
          margin-left: -$baseUnit*18
          float: left
          text-align: right
          width: $baseUnit*16
          padding-top: $baseUnit/2

        &-note
          font-style: normal
          margin-bottom: $baseUnit
          display: block
          padding-top: $baseUnit/2


  .form-control,
  input,
  textarea,
  select
    &:focus
      box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn
      border-color: $colourGreyDarker
      outline: 0
  