<form action="#" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="disabled">Text input - disabled</label>
    <div class="controls">
      <input type="text" id="disabled" placeholder="Type something…" disabled>
      <span class="help-block">Example block-level help text here.</span>
    </div>
  </div>
</form>