<form action="#">
	<fieldset>
		<legend>Old BS(v2.3.2) Vertical form example</legend>
		<div class="control-group">
			<label class="control-label" for="textinputFN">First name</label>
			<div class="controls">
				<input type="text" id="textinputFN">
				<span class="help-block">Please enter your first name</span>
			</div>
		</div>
		<legend>BS(v4) Vertical form example</legend>
		<div class="form-group">
			<label for="inputEmail5">Email</label>
			<input type="email" class="form-control" id="inputEmail5">
			<span class="help-block">Please enter your first name</span>
		</div>
	</fieldset>
</form>
