<form action="#" class="form-horizontal">
	<fieldset>
		<legend for="">Old Checkbox</legend>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox" for="checkboxes">
					<input type="checkbox" id="checkboxes" value=""> Option one is this and that—be sure to include why it's great
				</label>
			</div>
		</div>
		<div class="control-group">
			<legend for="">New Checkbox</legend>
			<div class="controls">
				<div class="checkbox-option">
					<input type="checkbox" checked name="optionscheckbox2" id="optionscheckbox2" value="Yes">
					<label class="checkbox-option-label" for="optionscheckbox2">Option one is this and that—be sure to
						include why it's great</label>
				</div>
			</div>
		</div>
	</fieldset>
</form>