<form action="" class="form-horizontal">
  <fieldset>
    <legend>Old--BS(v2.3.2)</legend>
    <div class="control-group">
      <label class="control-label" for="textinput">Email</label>
      <div class="controls">
        <input type="text" id="textinput">
      </div>
    </div>


  </fieldset>
</form>


<form action="">
  <fieldset>
    <legend>New--BS(v4) Horizontal form</legend>
    <div class="form-group row">
      <label for="colFormLabelSm" class="col-md-2 col-form-label">Email</label>
      <div class="col">
        <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
      </div>
    </div>
  </fieldset>
</form>