<form action="#" class="form-horizontal">
	<fieldset>
    <legend>Old--BS(v4) Textarea</legend>
		<div class="control-group">
			<label class="control-label" for="textarea">Text area</label>
			<div class="controls">
				<textarea rows="3" class="col-md-6" id="textarea"></textarea>
			</div>
		</div>
	</fieldset>
	<form action="">
      <fieldset>
        <legend>New--BS(v4) Textarea</legend>
        <div class="form-group row">
          <label for="exampleFormControlTextarea1" class="col-md-2 col-form-label">Text area</label>
          <div class="col">
              <textarea class="form-control col-md-6" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
      </fieldset>
    </form>
</form>