<form action="#" class="form-horizontal">
	<fieldset>
		<legend>Legend</legend>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn">Cancel</button>
		</div>
		<label>Paging action</label>
		<div class="form-actions pager">
			<button type="submit" class="btn pull-left">Previous</button>
			<button type="button" class="btn btn-primary pull-right">Next</button>
		</div>
	</fieldset>
</form>