<form action="#" class="form-horizontal">
	<fieldset>
		<legend>Error--Old BS(v2.3.2)</legend>
		<div class="alert alert-error">
			Please correct the fields marked below to continue
		</div>
		<legend>Error OLD</legend>
		<div class="control-group error">
			<label class="control-label" for="textinput-error">First name</label>
			<div class="controls">
				<input type="text" id="textinput-error">
				<span class="help-block">${require-svg('warning')}Please enter your first name</span>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Success</legend>
		<div class="control-group success">
			<label class="control-label" for="textinput-success">Email address</label>
			<div class="controls">
				<input type="text" id="textinput-success">
				<span class="help-block">${require-svg('tick')}Email address available</span>
			</div>
		</div>
	</fieldset>
</form>
