<form action="#" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="language">Language</label>
		<div class="controls">
			<select id="language" class="form-control">
				<option>ThestandardLoremIpsumpassage</option>
				<option>Welsh</option>
			</select>
			<span class="help-block">Please tell us which language you would prefer to be contacted in</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="selectmultiple">Select multiple</label>
		<div class="controls">
			<select id="selectmultiple" multiple="multiple" class="col-md-6" size="3">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div>
</form>