<form action="#" class="form-horizontal">
	<fieldset>
		<legend>Legend</legend>
		<div class="control-group optional">
			<label class="control-label" for="middlename">Middle name</label>
			<div class="controls">
				<input type="text" id="middlename">
				<span class="help-inline">Optional</span>
			</div>
		</div>
	</fieldset>
</form>