<form>
  <fieldset class="sq-form-section">
    <legend class="sq-form-section-title">About the service</legend>
    <div class="sq-form-question sq-form-question-text">
      <label class="sq-form-question-title" for="q1495042_q1">Name of service</label>
      <div class="sq-form-question-answer">
        <input class="sq-form-field" type="text" name="q1495042:q1" value="" size="30" maxlength="300" id="q1495042_q1">
      </div>
    </div>
    <div class="sq-form-question sq-form-question-text">
      <label class="sq-form-question-title" for="q1495042_q6">Underlying software</label> <em
        class="sq-form-question-note">The name of the software that powers the service. If it is custom-made, enter
        "Custom".</em>
      <div class="sq-form-question-answer">
        <input class="sq-form-field" type="text" name="q1495042:q6" value="" size="30" maxlength="300" id="q1495042_q6">
      </div>
    </div>
    <div class="sq-form-question sq-form-question-text">
      <label class="sq-form-question-title" for="q1495042_q2">Web address (URL)</label> <em
        class="sq-form-question-note">Enter the most commonly used address for the service. For apps, enter the address
        of the App Store page.</em>
      <div class="sq-form-question-answer">
        <input class="sq-form-field" type="text" name="q1495042:q2" value="" size="30" maxlength="300"
          placeholder="https://" id="q1495042_q2">
      </div>
    </div>
    <div class="sq-form-question sq-form-question-option-list">
      <fieldset>
        <legend class="sq-form-question-title">Type of service</legend>
        <div class="sq-form-question-answer">
          <ul>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_0" value="0">
              <label for="q1495042_q3_0">Website</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_1" value="1">
              <label for="q1495042_q3_1">Intranet site</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_2" value="2">
              <label for="q1495042_q3_2">Corporate system accessed through a web browser</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_3" value="3">
              <label for="q1495042_q3_3">Web application</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_4" value="4">
              <label for="q1495042_q3_4">Web-based app for smartphones or tablets</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_5" value="5">
              <label for="q1495042_q3_5">Native app for smartphones or tablets</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q3" id="q1495042_q3_6" value="6">
              <label for="q1495042_q3_6">Other</label>
            </li>
          </ul>
        </div>
      </fieldset>
    </div>
    <div class="sq-form-question sq-form-question-text">
      <label class="sq-form-question-title" for="q1495042_q7">If other, please enter the type of service</label>
      <div class="sq-form-question-answer">
        <input class="sq-form-field" type="text" name="q1495042:q7" value="" size="30" maxlength="300" id="q1495042_q7">
      </div>
    </div>
    <div class="sq-form-question sq-form-question-option-list">
      <fieldset>
        <legend class="sq-form-question-title">Has the service been created to meet a strategic University objective?
        </legend>
        <div class="sq-form-question-answer">
          <ul>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q5" id="q1495042_q5_0" value="0"
                checked="checked">
              <label for="q1495042_q5_0">Yes</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q5" id="q1495042_q5_1" value="1">
              <label for="q1495042_q5_1">No</label>
            </li>
          </ul>
        </div>
      </fieldset>
    </div>
    <div class="sq-form-question sq-form-question-option-list">
      <fieldset>
        <legend class="sq-form-question-title">Audience</legend>
        <div class="sq-form-question-answer">
          <ul>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q4" id="q1495042_q4_0" value="0">
              <label for="q1495042_q4_0">External users</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q4" id="q1495042_q4_1" value="1">
              <label for="q1495042_q4_1">Research participants</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q4" id="q1495042_q4_2" value="2">
              <label for="q1495042_q4_2">Current students</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q4" id="q1495042_q4_3" value="3">
              <label for="q1495042_q4_3">Current staff (a small group)</label>
            </li>
            <li>
              <input class="sq-form-field" type="radio" name="q1495042:q4" id="q1495042_q4_4" value="4">
              <label for="q1495042_q4_4">Current staff (a whole School or Department)</label>
            </li>
            <li>
              <input class="sq-form-field" type="checkbox" name="q1495042:q4" id="q1495042_q4_5" value="5">
              <label for="q1495042_q4_5">Current staff (more than a whole School or Department)</label>
            </li>
          </ul>
        </div>
      </fieldset>
    </div>
  </fieldset>
</form>

<form id="form_email_363170" enctype="multipart/form-data"
  action="https://intranet.cardiff.ac.uk/staff/services/technical-help-and-support/getting-help-with-it/it-service-desk/it-help-request-form"
  method="post">
  <input class="sq-form-field" type="hidden" name="SQ_FORM_363170_PAGE" value="1" id="SQ_FORM_363170_PAGE">
  <input type="hidden" name="form_email_363170_referral_url" value="">
  <div id="content_container_363175">
    <p class="lead">Request assistance from the IT Service Desk.</p>
    <p>Before you complete the form, please check the <a href="https://status.cardiff.ac.uk/">current service status
        page</a> for known service issues.</p>
    <p>You can also <a
        href="https://intranet.cardiff.ac.uk/staff/services/technical-help-and-support/getting-help-with-it/it-service-desk/gofynnwch-am-gymorth-gan-y-ddesg-gwasanaeth-tg">complete
        this form in Welsh</a>.</p>
    <p></p>
    <div class="sq-form-unattached">
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q363170_q1">Name <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q363170:q1" value="" size="30" maxlength="300" id="q363170_q1">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q363170_q2">Username <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q363170:q2" value="siteimprovecrawler" size="30"
            maxlength="300" id="q363170_q2">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-email-address">
        <label class="sq-form-question-title" for="q363170_q3">Has the service been created to meet a strategic University objective?*
          <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q363170:q3" value="" size="30" maxlength="300" id="q363170_q3">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q363170_q4">Phone number <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q363170:q4" value="" size="30" maxlength="300" id="q363170_q4">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q363170_q5">Help required <abbr class="sq-form-required-field"
            title="required">*</abbr></label> <em class="sq-form-question-note">Please give as much detail as possible,
          including any error messages</em>
        <div class="sq-form-question-answer">
          <textarea class="sq-form-field" name="q363170:q5" cols="30" rows="10" maxlength="300"
            id="q363170_q5"></textarea>
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q363170_q6">Your location <abbr class="sq-form-required-field"
            title="required">*</abbr></label> <em class="sq-form-question-note">Please include room number and
          building</em>
        <div class="sq-form-question-answer">
          <textarea class="sq-form-field" name="q363170:q6" cols="30" rows="3" maxlength="300"
            id="q363170_q6"></textarea>
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q363170_q7">Location of problem (if different or relevant)</label>
        <em class="sq-form-question-note">Please include room number and building</em>
        <div class="sq-form-question-answer">
          <textarea class="sq-form-field" name="q363170:q7" cols="30" rows="3" maxlength="300"
            id="q363170_q7"></textarea>
        </div>
      </div>
    </div>
    <p></p>
    <p style="text-align: center;">
      <input class="sq-form-submit" type="submit" name="form_email_363170_submit" value="Submit"
        id="form_email_363170_submit">
    </p>
  </div>
  <div class="sq-form-question sq-form-question-tickbox-list">
    <fieldset>
      <legend class="sq-form-question-title">Cadarnhad <abbr class="sq-form-required-field" title="required">*</abbr>
      </legend>
      <div class="sq-form-question-answer">
        <ul>
          <li>
            <input class="sq-form-field" type="checkbox" name="q1214900:q1[]" id="q1214900_q1_0" value="0">
            <label for="q1214900_q1_0">Rwyf i'n cytuno â'r datganiad optio allan</label>
          </li>
        </ul>
      </div>
    </fieldset>
  </div>

</form>

<form id="form_email_1121796" enctype="multipart/form-data"
  action="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/teaching-support/lecture-capture/learn-plus-lecture-capture-opt-out-form"
  method="post">
  <input class="sq-form-field" type="hidden" name="SQ_FORM_1121796_PAGE" value="1" id="SQ_FORM_1121796_PAGE">
  <input type="hidden" name="form_email_1121796_referral_url" value="">
  <div id="content_container_1121800">
    <h1>Lecture capture opt-out form</h1>
    <p class="lead">To opt-out from being lecture-captured during the current academic year, please complete the form
      below.</p>
    <p>Opt-out requests become effective from the date that they are actioned until the end of the current academic
      year. For each academic year, a new opt-out request must be submitted.</p>
    <p class="alert">From the 18/19 academic year, all timetabled lecture activities will be scheduled to automatically
      record in teaching spaces with Learn Plus capture capabilities.</p>
    <p>Opt-out requests will be actioned within 10 days of being submitted and a confirmation will be emailed to you
      when it has been completed.</p>
    <p><a style="border: 0px"
        href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/teaching-support/lecture-capture/ffurflen-optio-allan-o-recordio-darlithoedd">This
        form is also available in Welsh.</a></p>
    <p></p>
    <fieldset class="sq-form-section">
      <legend class="sq-form-section-title">Presenter details</legend>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1121809_q1">Full name <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q1121809:q1" value="" size="30" maxlength="300"
            id="q1121809_q1">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-email-address">
        <label class="sq-form-question-title" for="q1121809_q6">Email <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q1121809:q6" value="" size="30" maxlength="300"
            id="q1121809_q6">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1121809_q8">Username <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q1121809:q8" value="siteimprovecrawler" size="30"
            maxlength="300" id="q1121809_q8">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1121809_q4">School/Department <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q1121809:q4" value="nodepartmentcode" size="30" maxlength="300"
            id="q1121809_q4">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1121809_q3">Contact number</label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="tel" name="q1121809:q3" value="" size="30" maxlength="300"
            id="q1121809_q3">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1121809_q7">Reason for opting out</label>
        <div class="sq-form-question-answer">
          <textarea class="sq-form-field" name="q1121809:q7" cols="0" rows="3" id="q1121809_q7"></textarea>
        </div>
      </div>
    </fieldset>
    <fieldset class="sq-form-section">
      <legend class="sq-form-section-title">Opt-out declaration</legend>
      <div id="content_container_1164017">
        <p>By ticking the opt-out confirmation box, I confirm that:</p>
        <ul>
          <li>I am the presenter listed above</li>
          <li>I will inform students that this activity will not be recorded</li>
          <li>where recording of teaching activity has been requested as a reasonable adjustment for a specific student,
            and I have chosen not to record, I confirm that I will implement the alternative adjustment advised by the
            Disability and Dyslexia Service or, if no alternative was recommended, I confirm that I have made contact
            with the Disability and Dyslexia Service to agree an alternative adjustment</li>
          <li>I understand that the information I provide in this form will be shared with my Head of School and other
            relevant staff within the University for coordination and planning purposes (eg the Timetabling Service and
            the Disability and Dyslexia Service)</li>
          <li>I understand I can easily opt back into lecture recording at any point by completing the <a
              href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/teaching-support/lecture-capture/request-to-record-an-event">request
              to record an event form</a>.</li>
        </ul>
      </div>
      <div class="sq-form-question sq-form-question-tickbox-list">
        <fieldset>
          <legend class="sq-form-question-title">Confirmation <abbr class="sq-form-required-field"
              title="required">*</abbr></legend>
          <div class="sq-form-question-answer">
            <ul>
              <li>
                <input class="sq-form-field" type="checkbox" name="q1168569:q1[]" id="q1168569_q1_0" value="0">
                <label for="q1168569_q1_0">I agree to the opt-out declaration</label>
              </li>
            </ul>
          </div>
        </fieldset>
      </div>
    </fieldset>
    <div id="content_container_1182738">
      <fieldset class="sq-form-section">
        <legend class="sq-form-section-title">Module details</legend>
      </fieldset>
    </div>
    <div id="content_container_1182736">
      <p>If you wish to opt-out of more than one module, please submit a new form for each one. You can submit an
        additional request upon completion of this form.</p>
    </div>
    <div id="content_container_1182740">
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1182734_q1">Module code <abbr class="sq-form-required-field"
            title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q1182734:q1" value="" size="30" maxlength="300"
            id="q1182734_q1">
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text">
        <label class="sq-form-question-title" for="q1182734_q2">Activity title / description</label>
        <div class="sq-form-question-answer">
          <input class="sq-form-field" type="text" name="q1182734:q2" value="" size="30" maxlength="300"
            id="q1182734_q2">
        </div>
      </div>

    </div>
    <div id="content_container_1164071">
      <fieldset class="sq-form-section">
        <legend class="sq-form-section-title">Lectures to be omitted from recording</legend>
        <p>Please ensure that the information provided below applies only to the dates on which you teach. Where
          multiple presenters exist on a module please ensure that you clearly stipulate the dates which this opt-out
          applies to ensure that other presenters' lecture recordings are not unscheduled.</p>
        <p>If you are unsure of your teaching timetable please liaise with the timetable contact in your School.</p>
        <div class="sq-form-question sq-form-question-option-list">
          <fieldset>
            <legend class="sq-form-question-title">Which activities should be omitted? <abbr
                class="sq-form-required-field" title="required">*</abbr></legend>
            <div class="sq-form-question-answer">
              <ul>
                <li>
                  <input class="sq-form-field" type="radio" name="q1121811:q9" id="q1121811_q9_0" value="0">
                  <label for="q1121811_q9_0">Autumn</label>
                </li>
                <li>
                  <input class="sq-form-field" type="radio" name="q1121811:q9" id="q1121811_q9_1" value="1">
                  <label for="q1121811_q9_1">Spring</label>
                </li>
                <li>
                  <input class="sq-form-field" type="radio" name="q1121811:q9" id="q1121811_q9_2" value="2">
                  <label for="q1121811_q9_2">Whole year</label>
                </li>
                <li>
                  <input class="sq-form-field" type="radio" name="q1121811:q9" id="q1121811_q9_3" value="3">
                  <label for="q1121811_q9_3">Specific lectures</label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="sq-form-question sq-form-question-text">
          <label class="sq-form-question-title" for="q1121811_q5">Venue(s) including room number(s) (if known)</label>
          <div class="sq-form-question-answer">
            <textarea class="sq-form-field" name="q1121811:q5" cols="30" rows="3" maxlength="300"
              id="q1121811_q5"></textarea>
          </div>
        </div>
        <div class="sq-form-question sq-form-question-text">
          <label class="sq-form-question-title" for="q1121811_q12">Day(s) and Time(s)</label> <em
            class="sq-form-question-note">eg Mondays 11.00,&nbsp;&nbsp;Wednesdays 14.00</em>
          <div class="sq-form-question-answer">
            <textarea class="sq-form-field" name="q1121811:q12" cols="30" rows="3" maxlength="300"
              id="q1121811_q12"></textarea>
          </div>
        </div>
        <div class="sq-form-question sq-form-question-text">
          <label class="sq-form-question-title" for="q1121811_q13">Date(s) and Time(s)</label> <em
            class="sq-form-question-note">eg 21 April at 11:00, 31 March at 13:00</em>
          <div class="sq-form-question-answer">
            <textarea class="sq-form-field" name="q1121811:q13" cols="30" rows="3" maxlength="300"
              id="q1121811_q13"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <input class="btn btn-primary" type="submit" name="form_email_1121796_submit" value="Submit opt-out request"
      id="form_email_1121796_submit">
    <p></p>
  </div>
  <div class="col-md-8 squiz-bodycopy" id="content_container_1214891">
    <div class="alert alert-warning">
      <p><strong>Data protection privacy notice</strong></p>
      <p>The information provided by you will be held by Cardiff University in accordance with the University's Data
        Protection Policy. We will use this information to process your request to opt-out of lecture capture.</p>
      <p>Visit our <a href="https://www.cardiff.ac.uk/public-information/policies-and-procedures/data-protection">public
          information pages</a> to learn more about our Data Protection Policy, your rights, and raising a concern about
        how your personal data is processed.</p>
    </div>
  </div>

  <div id="content_container_1214889">
  </div>

</form>

<form class="form-inline">

  <legend id="school-search-legend">Find modules by Academic School</legend>
  <label class="d-none" for="school">Academic School</label>
  <select class="col-md-3" id="school">
    <option value="Academic School">Academic School</option>
  </select>
  <label class="d-none" for="level">Level</label>
  <select class="col-md-2" id="level">
    <option value="Level">Level</option>
  </select>

  <a class="searchModule btn btn-success" href="" data-search="school">Search</a>
</form>

<form class="form-inline">
  <legend id="handbook-search-legend">Download module catalogues</legend>
  <label class="d-none" for="school1">Academic School</label>
  <select name="school1" id="school1">
    <option value="Academic School">Academic School</option>
    <option value="ARCHI">Welsh School of Architecture</option>
    <option value="BIOSI">Cardiff School of Biosciences</option>
  </select>
  <label class="d-none" for="handbook_level">Level</label>
  <select id="handbook_level" name="handbook_level">
    <option value="Level">Level</option>
    <option value="3">Level 3</option>
    <option value="L3">Foundation</option>
    <option value="L4">Level 4 UG Certificate</option>
    <option value="L5">Level 5 UG Diploma</option>
    <option value="NA">Not Applicable</option>
  </select>
  <label class="d-none" for="handyear">Academic year</label>
  <select name="handyear" id="handyear">
    <option value="Academic year" selected="">Academic year</option>
    <option value="2012">2012/2013</option>
    <option value="2013">2013/2014</option>
    <option value="2014">2014/2015</option>
    <option value="2015">2015/2016</option>
    <option value="2016">2016/2017</option>
    <option value="2017">2017/2018</option>
    <option value="2018">2018/2019</option>
    <option value="2019">2019/2020</option>
  </select>
  <a href="" data-search="school" class="searchHandbook btn btn-success"><i
      class="icon icon-download icon-mini"></i>Download</a>
</form>