<!--old form-->
<form class="form form-inline">
  <legend>Old BS(v2.3.2) Inline example</legend>
  <label for="email1">Password</label>
  <input type="text" aria-label="email1" id="email1" placeholder="Email">
  <input type="password" aria-label="password1" placeholder="Password">
  <input type="submit" class="btn btn-primary" value="Sign in"></input>
</form>

<!--Form New-->
<form class="form-inline">
  <legend>BS(v4) Inline example</legend>
  <div class="form-group">
    <label for="email">Password</label>
    <input type="email" aria-label="email" placeholder="Email" id="email" class="form-control" aria-describedby="email">
    <input type="password" aria-label="password" placeholder="Password" id="inputPassword6" class="form-control">
    <input type="submit" class="btn btn-primary" value="Sign in"></input>
  </div>
</form>

<!--Form New-->
<form class="form-inline form-large form" action="" method="GET" role="search">
  <input type="hidden" name="collection" value="ug-courses">
  <label class="sr-only" for="query">Search Undergraduate courses</label>
  <input name="query" id="query" title="Search query" type="search" value=""
    placeholder="Search by keyword, UCAS code, subject etc" class="form-control input-lg query search-query col-md-6">
  <button type="submit"
    class="btn btn-primary btn-lg d-none d-md-block d-lg-block">${require-svg('search')}Search</button>
  <button type="submit" class="search-submit d-block d-md-none">${require-svg('search')}</button>
</form>
