<form class="form-search form-search-large mb-0" label="example text goes here">
  <input type="text" placeholder="Example text goes here" class="col-12">
  <button type="submit" class="btn btn-within-input btn-within-input-large p-2 pl-0"><span
      class="icon-search"></span></button>
</form>