<form action="#" class="form-horizontal">
  <div class="form">
    <fieldset>
      <legend for="">Old Radio</legend>
      <div class="control-group">
        <p class="control-label" for="radio">Have you previously received support for your
          disability?</p>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Yes
          </label>
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="">No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form">
    <fieldset>
      <legend for="">New Radio</legend>
      <div class="control-group">
        <p class="control-label">Have you previously received support for your
          disability?</p>
        <div class="controls">
          <div class="radio-option">
            <input type="radio" checked name="optionsRadios3" id="optionsRadios3" value="Yes">
            <label class="radio-option-label" for="optionsRadios3">Yes</label>
          </div>
          <div class="radio-option">
            <input type="radio" name="optionsRadios3" id="optionsRadios5" value="No">
            <label class="radio-option-label" for="optionsRadios5">No</label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>