.personalised-school-container,
.school-container
  margin-bottom: $baseUnit*3
  
  &-text
    background-color: $colourGenoa
    color: $colourWhite
    font-size: map-get($font15, 'size')
    text-transform: uppercase
  
.personalised
  &-standardpage-container 
    position: relative
    margin-top: -$baseUnit*2

    .icon-personalisation 
      top: -20px
      right: 0
      
      .icon 
        width: 48px
        height: 56px
      
    .personalised-school-container 
      margin-right: $baseUnit*6.3

  &-content-container 
    position: relative
    padding: $baseUnit $baseUnit*2 $baseUnit
    border: $baseUnit*0.1 solid $colourGreySoft
    margin-bottom: $baseUnit*3

    &:last-child 
      margin-bottom: 0

    .school-container 
      margin: 0 0 $baseUnit*3 #{-$baseUnit}

  &-search-container 
    .icon-personalisation 
      margin-top: -$baseUnit
  
  &-school
    &-container
      margin: $baseUnit 0 $baseUnit*3
      border-top: $baseUnit*0.1 solid $colourGreyLighter
      position: relative

      &-text
        padding: $baseUnit*0.5 $baseUnit*1.5
        margin-top: $baseUnit
        display: inline-block

    &-search-container
      margin: -$baseUnit*0.5 0 $baseUnit 0

.school-container-text
  padding: $baseUnit*0.7 $baseUnit*1.1 $baseUnit*0.5

.personalised-block,
.unpersonalised-block
  border: $baseUnit*0.1 solid $colourGreySoft
  position: relative
  padding: $baseUnit*2

  .school-container
    position: relative
    top: -8px
    left: -10px

.unpersonalised-block
  .icon-personalisation
    polygon
      fill: $colourUnpersonalisedGrey
    
  .school-container
    &-text
      background: $colourUnpersonalisedGrey

@import 'personalised-md-up'