<main id="content" class="content">
  <div class="container">
    <div class="row">

      <div class=" col-md-12">
        <!--<div class="container">-->
        <div class="row">
          <div class="col-md-9">







            <div class="row">
              <div class="col-md-4 d-none d-lg-block">
                <h3 class="facet-filter-title">Filter by</h3>
                <div class="facet">
                  <div class="facet-heading">
                    <a href="#facet-date" class="facet-title" data-toggle="collapse">Date<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                        <title>Chevron down</title>
                        <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)">
                        </path>
                      </svg></a>
                  </div>
                  <div class="facet-body collapse show" id="facet-date">
                    <form class="form" method="GET">
                      <input type="hidden" name="collection" value="intranet-staff-events">
                      <input type="hidden" name="form" value="staff-search-en-v2">
                      <input type="hidden" name="departmentcode" value="nodepartmentcode">
                      <input type="hidden" name="meta_Z_orsand" value="|[" allstaff" "nodepartmentcode" ]">

                      <fieldset>
                        <legend class="d-none">Date</legend>
                        <div class="control-group">
                          <label class="control-label" for="fromDate">From</label>
                          <div class="controls">
                            <input type="date" name="fromDate" id="fromDate" placeholder="dd/mm/yyyy">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="toDate">To</label>
                          <div class="controls">
                            <input type="date" name="toDate" id="toDate" placeholder="dd/mm/yyyy">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Apply</button>
                      </fieldset>
                    </form>
                  </div>
                </div>





                <div class="facet">
                  <div class="facet-heading">
                    <a href="#facet-Type" class="facet-title" data-toggle="collapse">Type<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                        <title>Chevron down</title>
                        <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)">
                        </path>
                      </svg></a>
                  </div>
                  <div class="facet-body collapse show" id="facet-Type">
                    <ul class="facet-items">








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Type%7Ctype=conferences">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Conferences
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Type%7Ctype=lectures+and+talks">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Lectures And Talks
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Type%7Ctype=performances">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Performances
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Type%7Ctype=training">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Training
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Type%7Ctype=workshops">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Workshops
                        </a>
                      </li>


                    </ul>
                  </div>
                </div>





                <div class="facet">
                  <div class="facet-heading">
                    <a href="#facet-Topic" class="facet-title" data-toggle="collapse">Topic<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                        <title>Chevron down</title>
                        <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)">
                        </path>
                      </svg></a>
                  </div>
                  <div class="facet-body collapse show" id="facet-Topic">
                    <ul class="facet-items">








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Topic%7Ctopic=health+and+wellbeing">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Health And Wellbeing
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Topic%7Ctopic=learning+and+teaching">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Learning And Teaching
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Topic%7Ctopic=science+and+technology">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Science And Technology
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Topic%7Ctopic=equality+and+diversity">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Equality And Diversity
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Topic%7Ctopic=arts+and+culture">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Arts And Culture
                        </a>
                      </li>


                    </ul>
                  </div>
                </div>





                <div class="facet">
                  <div class="facet-heading">
                    <a href="#facet-Series" class="facet-title" data-toggle="collapse">Series<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                        <title>Chevron down</title>
                        <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)">
                        </path>
                      </svg></a>
                  </div>
                  <div class="facet-body collapse show" id="facet-Series">
                    <ul class="facet-items">








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Series%7Cseries=school+of+music+concert+series">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>School Of Music Concert Series
                        </a>
                      </li>








                      <li class="facet-item">
                        <a
                          href="?collection=intranet-staff-events&form=staff-search-en-v2&departmentcode=nodepartmentcode&f.Series%7Cseries=staff+wellbeing">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Checkbox</title>
                            <path
                              d="M4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
                          </svg>Staff Wellbeing
                        </a>
                      </li>


                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-8" id="content-body">

                <!-- new search form -->
                <div class="search-form">
                  <form class="form mb-20" method="GET" role="search" aria-label="Events search bar" action="">
                    <div class="d-flex">
                      <div class="search-form-container">
                        <div class="search-form-query-container">
                          <label class="search-form-label" for="search-form-query">
                            <span class="sr-only">Search all events</span>
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                              <title>Search</title>
                              <path
                                d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
                                transform="translate(-0.03 0)" />
                            </svg>
                          </label>
                          <input type="hidden" name="collection" value="intranet-staff-events">
                          <input type="search" name="query" class="search-form-query" id="search-form-query"
                            title="Search query" value="" placeholder="Search all events" />
                          <a href="#" class="search-form-clear" aria-label="Clear search query">
                            <span aria-hidden="true"><svg class="icon" focusable="false"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                                <title>Close</title>
                                <path
                                  d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z"
                                  transform="translate(-2 -2)" />
                              </svg></span>
                          </a>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success d-none d-lg-block">Search</button>
                    </div>
                  </form>
                </div>
                <!-- new search form -->

                <a class="btn btn-lg btn-block d-lg-none" id="launch-facet-menu-popup" href="#">Filter results</a>

                <!-- Don't show school selected facet -->

                <p class="search-results-count"><span id="search-page-start">1</span>-<span
                    id="search-page-end">8</span>
                  of <span id="search-total-matching">8</span> search results

                  <!-- Start curations -->
                  <!-- End curations -->


                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-06-10 14:00:00">10</time>
                      <time class="event-date-month" datetime="2020-06-10 14:00:00">Jun</time>
                      <time class="event-date-year" datetime="2020-06-10 14:00:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/2252297-online-drop-in-remote-assessment"
                          aria-label="Online drop-in: Remote Assessment  - 10-06-2020">Online drop-in: Remote Assessment
                        </a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>14:00-15:00</li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-06-17 12:30:00">17</time>
                      <time class="event-date-month" datetime="2020-06-17 12:30:00">Jun</time>
                      <time class="event-date-year" datetime="2020-06-17 12:30:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/1768241-keep-safe-suicide-safety-skills-workshop"
                          aria-label="Keep Safe: Suicide safety skills workshop - 17-06-2020">Keep Safe: Suicide safety
                          skills workshop</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>12:30-16:30</li>
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                            <title>Marker</title>
                            <path
                              d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                              transform="translate(-6 0)" />
                          </svg><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/51a-park-place">51a
                            Park Place</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-06-23 10:45:00">23</time>
                      <time class="event-date-month" datetime="2020-06-23 10:45:00">Jun</time>
                      <time class="event-date-year" datetime="2020-06-23 10:45:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/2401241-challenging-stereotypes-series-bame-staff-in-prisons-by-horace-carter-allen"
                          aria-label="Challenging stereotypes series: BAME staff in prisons by Horace Carter-Allen - 23-06-2020">Challenging
                          stereotypes series: BAME staff in prisons by Horace Carter-Allen</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>10:45-11:30</li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-07-01 09:30:00">1</time>
                      <time class="event-date-month" datetime="2020-07-01 09:30:00">Jul</time>
                      <time class="event-date-year" datetime="2020-07-01 09:30:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/1768242-keep-safe-suicide-safety-skills-workshop"
                          aria-label="Keep Safe: Suicide safety skills workshop - 01-07-2020">Keep Safe: Suicide safety
                          skills workshop</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>09:30-13:30</li>
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                            <title>Marker</title>
                            <path
                              d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                              transform="translate(-6 0)" />
                          </svg><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/michael-griffith">Michael
                            Griffith</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-07-08 12:15:00">8</time>
                      <time class="event-date-month" datetime="2020-07-08 12:15:00">Jul</time>
                      <time class="event-date-year" datetime="2020-07-08 12:15:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/1758430-education-seminar-enriching-the-student-experience-through-assessment"
                          aria-label="Education Seminar - Enriching the student experience through assessment - 08-07-2020">Education
                          Seminar - Enriching the student experience through assessment</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>12:15-13:45</li>
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                            <title>Marker</title>
                            <path
                              d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                              transform="translate(-6 0)" />
                          </svg><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/glamorgan-building">Glamorgan
                            Building</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-08-05 00:30:00">5</time>
                      <time class="event-date-month" datetime="2020-08-05 00:30:00">Aug</time>
                      <time class="event-date-year" datetime="2020-08-05 00:30:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/1768243-keep-safe-suicide-safety-skills-workshop"
                          aria-label="Keep Safe: Suicide safety skills workshop - 05-08-2020">Keep Safe: Suicide safety
                          skills workshop</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>00:30-16:30</li>
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                            <title>Marker</title>
                            <path
                              d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                              transform="translate(-6 0)" />
                          </svg><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/main-building">Main
                            Building</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-09-05 13:00:00">5</time>
                      <time class="event-date-month" datetime="2020-09-05 13:00:00">Sep</time>
                      <time class="event-date-year" datetime="2020-09-05 13:00:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/1766847-peter-maxwell-davies-five-world-premieres"
                          aria-label="Peter Maxwell Davies: Five world premieres - 05-09-2020">Peter Maxwell Davies:
                          Five
                          world premieres</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>13:00-14:00</li>
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                            <title>Marker</title>
                            <path
                              d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                              transform="translate(-6 0)" />
                          </svg><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/31-corbett-road">Music
                            Building</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="teaser teaser-small teaser-staff-event  ">
                    <div class="event-date">
                      <time class="event-date-day" datetime="2020-09-14 09:00:00">14</time>
                      <time class="event-date-month" datetime="2020-09-14 09:00:00">Sep</time>
                      <time class="event-date-year" datetime="2020-09-14 09:00:00">2020</time>
                    </div>
                    <div class="teaser-body">
                      <h1 class="teaser-title"><a
                          href="https://intranet.cardiff.ac.uk/staff/events/view/2060562-citer-annual-scientific-meeting-2020"
                          aria-label="CITER Annual Scientific Meeting 2020 - 14-09-2020">CITER Annual Scientific Meeting
                          2020</a></h1>
                      <ul class="list list-icons">
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Clock outline</title>
                            <path
                              d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                              transform="translate(0 0)" />
                          </svg>09:00-17:00</li>
                        <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                            <title>Marker</title>
                            <path
                              d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                              transform="translate(-6 0)" />
                          </svg><a
                            href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/postgraduate-teaching-centre">Cardiff
                            Business School Postgraduate Teaching Centre</a></li>
                      </ul>
                    </div>
                  </div>



                  <div>
                    <ul class="pagination">
                      <li class="page-item">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                          <title>Chevron left</title>
                          <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z"
                            transform="translate(-6.13 0)">
                          </path>
                        </svg><span class="sr-only">Prev</span>
                      </li>




                      <li class="page-item active">
                        <a class="page-link"
                          href="?collection=intranet-staff-events&amp;form=staff-search-en-v2&amp;departmentcode=nodepartmentcode&amp;&amp;start_rank=1">1</a>
                      </li>

                      <li class="page-item">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                          <title>Chevron right</title>
                          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                        </svg><span class="sr-only">Next</span>
                      </li>
                    </ul>
                  </div>

              </div>

            </div>

            <!--- Mobile stuff -->
            <div class="facet facet-popup d-none" id="facet-menu-popup">
              <div class="facet-heading">
                <h1 class="facet-title">Filter results<svg class="icon" focusable="false"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                    <title>Close</title>
                    <path
                      d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z"
                      transform="translate(-2 -2)" />
                  </svg></h1>
              </div>
              <div class="facet-body">
                <ul class="facet-items">
                  <li class="facet-group-title" data-facet="facet-popup-event-type"><a href="#">Event view</a></li>
                  <li class="facet-group-title" data-facet="facet-popup-date-period"><a href="#">Filter by date</a></li>





                  <li class="facet-group-title" data-facet="facet-popup-Type"><a href="#">Type</a></li>





                  <li class="facet-group-title" data-facet="facet-popup-Topic"><a href="#">Topic</a></li>





                  <li class="facet-group-title" data-facet="facet-popup-Series"><a href="#">Series</a></li>
                </ul>
                <div class="facet-actions">
                </div>
              </div>
            </div>
            <div class="facet facet-popup d-none" id="facet-popup-event-type">
              <div class="facet-heading">
                <a href="#facet-news-type" class="facet-title">Event view</a>
              </div>
              <div class="facet-body collapse show" id="facet-news-type">
                <form method="GET">

                  <input type="hidden" name="collection" value="intranet-staff-events">
                  <fieldset>
                    <legend class="sr-only">Event view</legend>
                    <ul class="facet-items">
                      <li class="facet-item active">
                        <input type="radio" name="f.School|Z" id="allstaff-mobile" checked value="">
                        <label for="allstaff-mobile">All events</label>
                      </li>
                    </ul>
                  </fieldset>
                  <div class="facet-actions">
                    <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary">Apply</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="facet facet-popup d-none" id="facet-popup-date-period">
              <div class="facet-heading">
                <a href="#facet-date-period" class="facet-title">Filter by date</a>
              </div>
              <div class="facet-body" id="facet-date-period">
                <form class="form" method="GET">
                  <input type="hidden" name="collection" value="intranet-staff-events">
                  <input type="hidden" name="form" value="staff-search-en-v2">
                  <input type="hidden" name="departmentcode" value="nodepartmentcode">
                  <input type="hidden" name="meta_Z_orsand" value="|[" allstaff" "nodepartmentcode" ]">
                  <fieldset class="mx-20 my-20">
                    <legend class="sr-only">Filter by date</legend>
                    <div class="form-group">
                      <label class="control-label" for="fromDate-mobile">From</label>
                      <div class="controls">
                        <input type="date" name="fromDate" id="fromDate-mobile" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="toDate-mobile">To</label>
                      <div class="controls">
                        <input type="date" name="toDate" id="toDate-mobile" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                  </fieldset>
                  <div class="facet-actions">
                    <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary">Apply</button>
                  </div>
                </form>
              </div>
            </div>






            <div class="facet facet-popup d-none" id="facet-popup-Type">
              <div class="facet-heading">
                <a href="#facet-Type" class="facet-title">Type</a>
              </div>
              <div class="facet-body" id="facet-Type">
                <form action="" method="GET" role="search" aria-label="Type search">
                  <input type="hidden" name="collection" value="intranet-staff-events">

                  <input type="hidden" name="form" value="staff-search-en-v2">






                  <input type="hidden" name="facetScope" value="">
                  <fieldset>
                    <legend class="sr-only">Type</legend>
                    <ul class="facet-items">







                      <li class="facet-item">
                        <input id="facet-Type-conferences" type="checkbox" name="f.Type|type" value="conferences" />
                        <label for="facet-Type-conferences">Conferences</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Type-lectures_and_talks" type="checkbox" name="f.Type|type"
                          value="lectures and talks" />
                        <label for="facet-Type-lectures_and_talks">Lectures and talks</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Type-performances" type="checkbox" name="f.Type|type" value="performances" />
                        <label for="facet-Type-performances">Performances</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Type-training" type="checkbox" name="f.Type|type" value="training" />
                        <label for="facet-Type-training">Training</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Type-workshops" type="checkbox" name="f.Type|type" value="workshops" />
                        <label for="facet-Type-workshops">Workshops</label>
                      </li>

                    </ul>
                  </fieldset>
                  <div class="facet-actions">
                    <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
                  </div>
                  <!--<button type="submit" class="button"><span class="glyphicon glyphicon-filter"></span> Apply</button>-->
                </form>
              </div>
            </div>





            <div class="facet facet-popup d-none" id="facet-popup-Topic">
              <div class="facet-heading">
                <a href="#facet-Topic" class="facet-title">Topic</a>
              </div>
              <div class="facet-body" id="facet-Topic">
                <form action="" method="GET" role="search" aria-label="Topic search">
                  <input type="hidden" name="collection" value="intranet-staff-events">

                  <input type="hidden" name="form" value="staff-search-en-v2">






                  <input type="hidden" name="facetScope" value="">
                  <fieldset>
                    <legend class="sr-only">Topic</legend>
                    <ul class="facet-items">







                      <li class="facet-item">
                        <input id="facet-Topic-health_and_wellbeing" type="checkbox" name="f.Topic|topic"
                          value="health and wellbeing" />
                        <label for="facet-Topic-health_and_wellbeing">Health and wellbeing</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Topic-learning_and_teaching" type="checkbox" name="f.Topic|topic"
                          value="learning and teaching" />
                        <label for="facet-Topic-learning_and_teaching">Learning and teaching</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Topic-science_and_technology" type="checkbox" name="f.Topic|topic"
                          value="science and technology" />
                        <label for="facet-Topic-science_and_technology">Science and technology</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Topic-equality_and_diversity" type="checkbox" name="f.Topic|topic"
                          value="equality and diversity" />
                        <label for="facet-Topic-equality_and_diversity">Equality and diversity</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Topic-arts_and_culture" type="checkbox" name="f.Topic|topic"
                          value="arts and culture" />
                        <label for="facet-Topic-arts_and_culture">Arts and culture</label>
                      </li>

                    </ul>
                  </fieldset>
                  <div class="facet-actions">
                    <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
                  </div>
                  <!--<button type="submit" class="button"><span class="glyphicon glyphicon-filter"></span> Apply</button>-->
                </form>
              </div>
            </div>





            <div class="facet facet-popup d-none" id="facet-popup-Series">
              <div class="facet-heading">
                <a href="#facet-Series" class="facet-title">Series</a>
              </div>
              <div class="facet-body" id="facet-Series">
                <form action="" method="GET" role="search" aria-label="Series search">
                  <input type="hidden" name="collection" value="intranet-staff-events">

                  <input type="hidden" name="form" value="staff-search-en-v2">






                  <input type="hidden" name="facetScope" value="">
                  <fieldset>
                    <legend class="sr-only">Series</legend>
                    <ul class="facet-items">







                      <li class="facet-item">
                        <input id="facet-Series-school_of_music_concert_series" type="checkbox" name="f.Series|series"
                          value="school of music concert series" />
                        <label for="facet-Series-school_of_music_concert_series">School of Music concert series</label>
                      </li>






                      <li class="facet-item">
                        <input id="facet-Series-staff_wellbeing" type="checkbox" name="f.Series|series"
                          value="staff wellbeing" />
                        <label for="facet-Series-staff_wellbeing">staff wellbeing</label>
                      </li>

                    </ul>
                  </fieldset>
                  <div class="facet-actions">
                    <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
                  </div>
                  <!--<button type="submit" class="button"><span class="glyphicon glyphicon-filter"></span> Apply</button>-->
                </form>
              </div>
            </div>
            <!-- End Mobile stuff -->

          </div>
          <div class="col-md-3 content-related">
            <!-- #60149PL -->
            <!--noindex-->

            <div class="box box-calltoaction " data-assetid="1123556" data-paintlayoutid="17407" data-status="Live">
              <div class="box-header">
                <h2 class="box-title"><a
                    href="https://intranet.cardiff.ac.uk/staff/applications/view/create-event/create/_nocache"
                    class="ga-event" data-action="click" data-category="Call to action" data-label="Add your event">Add
                    your event</a></h2>
              </div>
              <div class="box-body">Promote your own events by adding them to the public website or intranet.</div>

              <!--Link button-->
              <div class="box-footer"><a
                  href="https://intranet.cardiff.ac.uk/staff/applications/view/create-event/create/_nocache"
                  class="btn btn-primary btn-sm ga-event" data-action="click" data-category="Call to action"
                  data-label="Add your event">Add an event</a></div>

            </div>
            <!--endnoindex-->
            <!-- /#60149PL -->
            <div class="box box-calltoaction">
              <div class="box-header">
                <h2 class="box-title"><a href="http://www.cardiff.ac.uk/events/browse-events">Public events</a></h2>
              </div>
              <div class="box-body">We host a wide range of events, which are open to the public. We have lectures,
                discussions, festivals, film screenings, concerts, performances and more.</div>
              <div class="box-footer">
                <a href="http://www.cardiff.ac.uk/events/browse-events" class="btn btn-primary btn-sm">View public
                  events</a>
              </div>

            </div>

            <div class="box box-related" id="posts">
              <div class="box-header">
                <h2 class="box-title">Take part in research</h2>
              </div>
              <div class="box-body">
                <div class="well" id="yammerSignIn">
                  <p>Connect with Yammer to see the latest opportunities.</p>
                  <p>
                    <span id="yammer-login" data-groupID="8237225" data-YamType="news-compact" data-msgLimit="5"
                      data-charLimit="140" data-Header="Noticeboard"></span>
                  </p>
                </div>
              </div>
              <div class="box-footer">
                <p><a href="https://www.yammer.com/cardiff.ac.uk/#/threads/inGroup?type=in_group&amp;feedId=8237225"
                    target="_blank" rel="noopener noreferrer">See more from "Take part in research" on Yammer</a></p>
              </div>
            </div>
            <!-- in this section -->
            <div id="content_container_2397681">
              <div class="box">
                <div class="box-header">
                  <h2 class="box-title">In this section</h2>
                </div>
                <div class="box-content">
                  <ul class="list list-links">
                    <li><a href="https://intranet.cardiff.ac.uk/staff">Staff</a></li>
                    <li><a href="https://intranet.cardiff.ac.uk/students">Students</a></li>
                    <li><a href="https://intranet.cardiff.ac.uk/outage">Outage</a></li>
                    <li><a href="https://intranet.cardiff.ac.uk/user-dropdown">User dropdown</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--</div>-->

      </div>
    </div>
    <div class="content-footer">
      <hr />
      <div class="row">

        <div class="col-md-6 offset-md-6 d-print-none">
          <p class="text-md-right">Spotted an issue? <a class="feedback-link"
              href="https://squiz.cardiff.ac.uk/intranet-development/staff/feedback?url=https://squiz.cardiff.ac.uk/intranet-development/staff-v2/get-involved/events">Let
              us know</a> and we will fix it.</p>
        </div>
      </div>
    </div>
  </div>

</main>