<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form id="form_email_365299" enctype="multipart/form-data"
        action="https://intranet.cardiff.ac.uk/staff/services/libraries/using-our-libraries/recommend-a-book-or-journal/recommend-a-book"
        method="post"><input type="hidden" name="SQ_FORM_365299_PAGE" value="1" class="sq-form-field"
          id="SQ_FORM_365299_PAGE"><input type="hidden" name="form_email_365299_referral_url"
          value="https://my2.siteimprove.com/Policy/1349753827/PolicyDetails/Content?PolicyId=19256730998">
        <div id="content_container_365311">
          <p><a
              href="https://intranet.cardiff.ac.uk/cy/students/your-study/libraries/using-our-libraries/recommend-a-book-or-journal/argymell-llyfr"
              style="border: 0px">Cwblhewch y ffurflen yn Gymraeg.</a></p>
          <p>If there is a book you would like to recommend as an addition to the library, please complete our
            suggestion form.</p>
          <p>Please note, it may not be possible to fulfill all requests due to budgetary constraints and collection
            development policies.</p>
          <p></p>
          <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">Your details</legend>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365634_q1">Name</label>
              <div class="sq-form-question-answer"><input type="text" name="q365634:q1" value="" size="30"
                  maxlength="300" id="q365634_q1" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-email-address "><label class="sq-form-question-title"
                for="q365634_q2">Email</label>
              <div class="sq-form-question-answer"><input type="text" name="q365634:q2" value="sambellsw1@cardiff.ac.uk"
                  size="30" maxlength="300" id="q365634_q2" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365634_q3">School/Department</label>
              <div class="sq-form-question-answer"><input type="text" name="q365634:q3" value="" size="30"
                  maxlength="300" id="q365634_q3" class="sq-form-field"></div>
            </div>
          </fieldset>
          <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">Book details</legend>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q1">Author</label>
              <div class="sq-form-question-answer"><input type="text" name="q365630:q1" value="" size="30"
                  maxlength="300" id="q365630_q1" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q2">Title</label>
              <div class="sq-form-question-answer"><input type="text" name="q365630:q2" value="" size="30"
                  maxlength="300" id="q365630_q2" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q3">Publisher</label>
              <div class="sq-form-question-answer"><input type="text" name="q365630:q3" value="" size="30"
                  maxlength="300" id="q365630_q3" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q4">Date of publication</label>
              <div class="sq-form-question-answer"><input type="text" name="q365630:q4" value="" size="30"
                  maxlength="300" id="q365630_q4" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q5">Place of publication</label>
              <div class="sq-form-question-answer"><input type="text" name="q365630:q5" value="" size="30"
                  maxlength="300" id="q365630_q5" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q6">ISBN</label>
              <div class="sq-form-question-answer"><input type="text" name="q365630:q6" value="" size="30"
                  maxlength="300" id="q365630_q6" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-select "><label class="sq-form-question-title"
                for="q365630_q7">Would you prefer print or electronic (if available)?</label>
              <div class="sq-form-question-answer"><select name="q365630:q7" id="q365630_q7" class="sq-form-field">
                  <option value="0">Print</option>
                  <option value="1">Electronic</option>
                </select></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q365630_q8">Additional information</label>
              <div class="sq-form-question-answer"><textarea name="q365630:q8" cols="30" rows="5" maxlength="300"
                  id="q365630_q8" class="sq-form-field"></textarea></div>
            </div>
          </fieldset>
          <p></p>
          <p style="text-align: center;"><input type="submit" name="form_email_365299_submit" value="Submit"
              class="sq-form-submit" id="form_email_365299_submit"></p>
        </div>
      </form>
    </div>
  </div>
</div>