<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <legend id="module-search-legend">Search for an individual module</legend>
          <label class="d-none" for="module">Module code</label><input id="module" name="module" type="text"
            placeholder="Module code" class="span2">
          <label class="d-none" for="modyear">Academic year</label><select id="modyear" name="modyear" class="span2">
            <option value="Academic year" selected="">Academic year</option>
            <option value="2012">2012/2013</option>
            <option value="2013">2013/2014</option>
            <option value="2014">2014/2015</option>
            <option value="2015">2015/2016</option>
            <option value="2016">2016/2017</option>
            <option value="2017">2017/2018</option>
            <option value="2018">2018/2019</option>
            <option value="2019">2019/2020</option>
          </select>
          <a href="" data-search="module" class="searchModule btn btn-success"><i
              class="icon icon-search icon-mini"></i>
            Search</a>
        </form>
      </div>
      <div class="col-md-12">
        <form class="form-inline">
          <legend id="school-search-legend">Find modules by Academic School</legend>
          <label class="d-none" for="school">Academic School</label><select id="school" class="span3">
            <option value="Academic School">Academic School</option>
            <option value="ARCHI">Welsh School of Architecture</option>
            <option value="BIOSI">Cardiff School of Biosciences</option>
            <option value="CARBS">Cardiff Business School</option>
            <option value="CARDF">Cardiff University - generic name</option>
            <option value="CHEMY">Cardiff School of Chemistry</option>
            <option value="COMSC">Cardiff School of Computer Science and Informatics</option>
            <option value="DENTL">School of Dentistry</option>
            <option value="EARTH">Cardiff School of Earth &amp; Ocean Sciences</option>
            <option value="ELANP">English Language Programmes</option>
            <option value="ENCAP">School of English, Communication &amp; Philosophy</option>
            <option value="ENGIN">Cardiff School of Engineering</option>
            <option value="GEOPL">Cardiff School of Geography and Planning</option>
            <option value="HCARE">School of Healthcare Sciences</option>
            <option value="HUMRS">Human Resources</option>
            <option value="INTOF">INTERNATIONAL OFFICE</option>
            <option value="JOMEC">Cardiff School of Journalism, Media &amp; Cult'l Stud</option>
            <option value="LAWPL">Cardiff School of Law and Politics</option>
            <option value="LEARN">Continuing and Professional Education</option>
            <option value="MATHS">Cardiff School of Mathematics</option>
            <option value="MEDIC">School of Medicine</option>
            <option value="MLANG">School of Modern Languages</option>
            <option value="MUSIC">Cardiff School of Music</option>
            <option value="OPTOM">Cardiff School of Optometry &amp; Vision Sciences</option>
            <option value="PHRMY">School of Pharmacy and Pharmaceutical Sciences</option>
            <option value="PHYSX">Cardiff School of Physics &amp; Astronomy</option>
            <option value="PSYCH">Cardiff School of Psychology</option>
            <option value="SHARE">School of History, Archaeology and Religion</option>
            <option value="SOCSI">Cardiff School of Social Sciences</option>
            <option value="WELSH">Ysgol y Gymraeg, Prifysgol Caerdydd</option>
          </select>
          <label class="d-none" for="level">Level</label><select id="level" class="span2">
            <option value="Level">Level</option>
            <option value="3">Level 3</option>
            <option value="L3">Foundation</option>
            <option value="L4">Level 4 UG Certificate</option>
            <option value="L5">Level 5 UG Diploma</option>
            <option value="L6">Level 6 UG Degree</option>
            <option value="L7">Level 7 Masters</option>
            <option value="L8">Level 8 Doctoral</option>
            <option value="NA">Not Applicable</option>
            <option value="">All</option>
          </select>
          <label class="d-none" for="modschyear">Academic year</label><select name="modschyear" id="modschyear"
            class="span2">
            <option value="Academic year" selected="">Academic year</option>
            <option value="2012">2012/2013</option>
            <option value="2013">2013/2014</option>
            <option value="2014">2014/2015</option>
            <option value="2015">2015/2016</option>
            <option value="2016">2016/2017</option>
            <option value="2017">2017/2018</option>
            <option value="2018">2018/2019</option>
            <option value="2019">2019/2020</option>
          </select>
          <a href="" data-search="school" class="searchModule btn btn-success"><i
              class="icon icon-search icon-mini"></i> Search</a>
        </form>
      </div>
      <div class="col-md-12">
        <form id="form_email_1497624" enctype="multipart/form-data"
          action="https://intranet.cardiff.ac.uk/staff/services/communications-and-marketing/digital/standards-for-digital-services/request-a-digital-service-policy-exemption"
          method="post" class="form-new"><input type="hidden" name="SQ_FORM_1497624_PAGE" value="1"
            class="sq-form-field" id="SQ_FORM_1497624_PAGE"><input type="hidden" name="form_email_1497624_referral_url"
            value="https://cardiffuniversity.atlassian.net/jira/software/projects/MOP1/boards/48?selectedIssue=MOP1-904">
          <style type="text/css">
            .sq-form-question-note {
              margin-bottom: 10px;
              display: block;
              padding-top: 5px;
            }
          </style>

          <h1>Request a Digital Service Policy exemption</h1>
          <p class="lead">Use this form to request an exemption from the Digital Service Policy.</p>
          <p>Your request will be passed to the Digital Governance Board which will respond within 30 days.</p>

          <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">About the service</legend>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q1495042_q1">Name of service</label>
              <div class="sq-form-question-answer"><input type="text" name="q1495042:q1" value="" size="30"
                  maxlength="300" id="q1495042_q1" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q1495042_q6">Underlying software</label> <em class="sq-form-question-note">The name of the software
                that powers the service. If it is custom-made, enter "Custom".</em>
              <div class="sq-form-question-answer"><input type="text" name="q1495042:q6" value="" size="30"
                  maxlength="300" id="q1495042_q6" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q1495042_q2">Web address (URL)</label> <em class="sq-form-question-note">Enter the most commonly
                used address for the service. For apps, enter the address of the App Store page.</em>
              <div class="sq-form-question-answer"><input type="text" name="q1495042:q2" value="" size="30"
                  maxlength="300" placeholder="https://" id="q1495042_q2" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-option-list ">
              <fieldset>
                <legend class="sq-form-question-title">Type of service</legend>
                <div class="sq-form-question-answer">
                  <ul>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_0" value="0" class="sq-form-field">
                      <label for="q1495042_q3_0">Website</label></li>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_1" value="1" class="sq-form-field">
                      <label for="q1495042_q3_1">Intranet site</label></li>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_2" value="2" class="sq-form-field">
                      <label for="q1495042_q3_2">Corporate system accessed through a web browser</label></li>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_3" value="3" class="sq-form-field">
                      <label for="q1495042_q3_3">Web application</label></li>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_4" value="4" class="sq-form-field">
                      <label for="q1495042_q3_4">Web-based app for smartphones or tablets</label></li>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_5" value="5" class="sq-form-field">
                      <label for="q1495042_q3_5">Native app for smartphones or tablets</label></li>
                    <li><input type="radio" name="q1495042:q3" id="q1495042_q3_6" value="6" class="sq-form-field">
                      <label for="q1495042_q3_6">Other</label></li>
                  </ul>
                </div>
              </fieldset>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q1495042_q7">If other, please enter the type of service</label>
              <div class="sq-form-question-answer"><input type="text" name="q1495042:q7" value="" size="30"
                  maxlength="300" id="q1495042_q7" class="sq-form-field"></div>
            </div>
            <div class="sq-form-question sq-form-question-option-list ">
              <fieldset>
                <legend class="sq-form-question-title">Has the service been created to meet a strategic University
                  objective?</legend>
                <div class="sq-form-question-answer">
                  <ul>
                    <li><input type="radio" name="q1495042:q5" id="q1495042_q5_0" value="0" checked="checked"
                        class="sq-form-field"> <label for="q1495042_q5_0">Yes</label></li>
                    <li><input type="radio" name="q1495042:q5" id="q1495042_q5_1" value="1" class="sq-form-field">
                      <label for="q1495042_q5_1">No</label></li>
                  </ul>
                </div>
              </fieldset>
            </div>
            <div class="sq-form-question sq-form-question-option-list ">
              <fieldset>
                <legend class="sq-form-question-title">Audience</legend>
                <div class="sq-form-question-answer">
                  <ul>
                    <li><input type="radio" name="q1495042:q4" id="q1495042_q4_0" value="0" class="sq-form-field">
                      <label for="q1495042_q4_0">External users</label></li>
                    <li><input type="radio" name="q1495042:q4" id="q1495042_q4_1" value="1" class="sq-form-field">
                      <label for="q1495042_q4_1">Research participants</label></li>
                    <li><input type="radio" name="q1495042:q4" id="q1495042_q4_2" value="2" class="sq-form-field">
                      <label for="q1495042_q4_2">Current students</label></li>
                    <li><input type="radio" name="q1495042:q4" id="q1495042_q4_3" value="3" class="sq-form-field">
                      <label for="q1495042_q4_3">Current staff (a small group)</label></li>
                    <li><input type="radio" name="q1495042:q4" id="q1495042_q4_4" value="4" class="sq-form-field">
                      <label for="q1495042_q4_4">Current staff (a whole School or Department)</label></li>
                    <li><input type="radio" name="q1495042:q4" id="q1495042_q4_5" value="5" class="sq-form-field">
                      <label for="q1495042_q4_5">Current staff (more than a whole School or Department)</label></li>
                  </ul>
                </div>
              </fieldset>
            </div>
          </fieldset>
          <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">Details of System Owner (Business)</legend>
            <div class="sq-form-question sq-form-question-email-address "><label class="sq-form-question-title"
                for="q1495043_q1">Email address</label>
              <div class="sq-form-question-answer"><input type="email" name="q1495043:q1"
                  value="SambellsW1@cardiff.ac.uk" size="30" maxlength="300" id="q1495043_q1" class="sq-form-field">
              </div>
            </div>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q1495043_q2">School or Department</label>
              <div class="sq-form-question-answer"><input type="text" name="q1495043:q2" value="COMMS" size="30"
                  maxlength="300" id="q1495043_q2" class="sq-form-field"></div>
            </div>
          </fieldset>
          <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">Exemptions required</legend>
            <div class="sq-form-question sq-form-question-text "><label class="sq-form-question-title"
                for="q1497627_q2">Reasons for exemption request</label> <em class="sq-form-question-note">Please be
                specific about the aspects of the Digital Service Policy that cannot be met and why.</em>
              <div class="sq-form-question-answer"><textarea name="q1497627:q2" cols="30" rows="10" maxlength="300"
                  id="q1497627_q2" class="sq-form-field"></textarea></div>
            </div>
          </fieldset>

          <input type="submit" name="form_email_1497624_submit" value="Submit" class="sq-form-submit"
            id="form_email_1497624_submit">
        </form>
      </div>
    </div>
  </div>
</body>