<div class="r-staff-homepage l-none">
  <div class="content">

    ${require('../components/toolbox/toolbox.html')}
    <section class="content-group" aria-label="Popular links">
      <div class="container">
        <h2>Popular links</h2>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <h3 class="lead text-underline"><a href="">Find people (TBC)</a></h3>
            <h3 class="lead text-underline"><a href="">Find a University team (TBC)</a></h3>
            <h3 class="lead text-underline"><a href="">Book a training course (TBC)</a></h3>
            <h3 class="lead text-underline d-lg-none"><a
                href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/it-support/getting-help-with-it">Get
                IT help</a></h3>
            <h3 class="lead text-underline d-lg-none"><a
                href="https://intranet.cardiff.ac.uk/staff/services-archived-information-architecture/for-line-managers">Line
                management guidance</a></h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <h3 class="lead text-underline d-none d-lg-block"><a
                href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/it-support/getting-help-with-it">Get
                IT help</a></h3>
            <h3 class="lead text-underline d-none d-lg-block"><a
                href="https://intranet.cardiff.ac.uk/staff/services-archived-information-architecture/for-line-managers">Line
                management guidance</a></h3>
            <h3 class="lead text-underline"><a
                href="https://intranet.cardiff.ac.uk/staff/pay-perks-and-contracts/perks-and-pensions/staff-discounts-deals">Staff
                discounts and deals</a></h3>
            <h3 class="lead text-underline d-lg-none"><a href="">Use the library (TBC)</a></h3>
            <h3 class="lead text-underline d-lg-none"><a href="https://intranet.cardiff.ac.uk/staff/forms">Forms</a>
            </h3>
            <h3 class="lead text-underline d-lg-none"><a
                href="https://intranet.cardiff.ac.uk/staff/policies">Policies</a></h3>
          </div>
          <div class="d-none d-lg-block col-lg-4">
            <h3 class="lead text-underline"><a href="">Use the library (TBC)</a></h3>
            <h3 class="lead text-underline"><a href="https://intranet.cardiff.ac.uk/staff/forms">Forms</a></h3>
            <h3 class="lead text-underline"><a href="https://intranet.cardiff.ac.uk/staff/policies">Policies</a></h3>
          </div>
        </div>
      </div>
    </section>
    <section class="content-group" aria-labelledby="homepage-news-title">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="homepage-news-title">News</h2>
          </div>
          <div class="col-lg-4">
            <div class="teaser teaser-vertical with-image ">
              <figure class="teaser-image">

                <a href="https://intranet.cardiff.ac.uk/staff/news/view/2396952-new-tools-to-host-webinars">
                  <img class=""
                    data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=737&amp;h=415&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=367&amp;h=204&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=290&amp;h=161&amp;fit=crop&amp;q=60&amp;auto=format 290w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=223&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format 223w"
                    data-src="https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                    src="https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                    sizes="(max-width: 350px) 100vw, (min-width: 768px) 223px, (min-width: 980px) 290px, (min-width: 1200px) 367px"
                    alt="Image of a zoom videoconference."
                    srcset="https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=737&amp;h=415&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=367&amp;h=204&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=290&amp;h=161&amp;fit=crop&amp;q=60&amp;auto=format 290w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1987498/Laptop-Webinar.jpg?w=223&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format 223w">
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title"><a
                    href="https://intranet.cardiff.ac.uk/staff/news/view/2396952-new-tools-to-host-webinars">New tools
                    to host webinars</a></h2>
                <p class="teaser-category"><a href="https://intranet.cardiff.ac.uk/staff/news">UNIVERSITY NEWS<svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                      <title>Chevron right</title>
                      <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)">
                      </path>
                    </svg></a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="teaser teaser-vertical with-image with-personalisation">
              <figure class="teaser-image">
                <div class="icon-personalisation"><svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 22.4 26.5" style="enable-background:new 0 0 22.4 26.5;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        fill: #198663
                      }

                      .st1 {
                        fill: #FFFFFF
                      }
                    </style>
                    <g>
                      <polygon class="st0" points="22.4,19.4 11.2,26.5 0,19.4 0,0 22.4,0"></polygon>
                      <g>
                        <path class="st1"
                          d="M17.1,16.1C17.1,16.1,17.1,16.1,17.1,16.1l-2.6-0.9c-0.7-0.3-1-1.5-1.1-1.9c0.4-0.4,0.7-1,0.7-1.6 c0-0.3,0.1-0.4,0.1-0.4c0.1,0,0.1-0.1,0.2-0.1c0,0,0.3-0.8,0.3-1.3c0,0,0,0,0-0.1c0-0.1-0.1-0.3-0.3-0.4V7.8c0-1-0.3-1.4-0.6-1.6 c0-0.5-0.5-1.5-2.3-1.5c-1.9,0-3.1,1.9-3.1,3.1c0,0.6,0,1,0,1.3c0,0.1,0,0.2,0,0.3C8.2,9.5,8.1,9.7,8,9.8c0,0,0,0,0,0.1 c0,0.5,0.3,1.3,0.3,1.3c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.4c0,0.7,0.7,1.4,1,1.6c-0.1,0.4-0.4,1.5-1,1.8l-2.7,0.9 c-0.2,0.1-0.3,0.1-0.5,0.2c1.5,1.4,3.5,2.3,5.7,2.3C13.4,18.6,15.6,17.6,17.1,16.1z">
                        </path>
                      </g>
                    </g>
                  </svg></div>
                <a href="https://intranet.cardiff.ac.uk/staff/news/view/2396885-your-wellbeing-days-activities">
                  <img class=""
                    data-srcset="https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=737&amp;h=415&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=367&amp;h=204&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=290&amp;h=161&amp;fit=crop&amp;q=60&amp;auto=format 290w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=223&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format 223w"
                    data-src="https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                    src="https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                    sizes="(max-width: 350px) 100vw, (min-width: 768px) 223px, (min-width: 980px) 290px, (min-width: 1200px) 367px"
                    alt="Wellbeing days"
                    srcset="https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=737&amp;h=415&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=367&amp;h=204&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=290&amp;h=161&amp;fit=crop&amp;q=60&amp;auto=format 290w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2396966/wellbeing2.jpg?w=223&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format 223w">
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title"><a
                    href="https://intranet.cardiff.ac.uk/staff/news/view/2396885-your-wellbeing-days-activities">Your
                    Wellbeing Days activities</a></h2>
                <p class="teaser-category"><a
                    href="https://intranet.cardiff.ac.uk/staff/news?collection=intranetnews&amp;form=search-en&amp;context=en&amp;f.School|school=medic&amp;departmentcode=medic">SCHOOL
                    OF MEDICINE NEWS<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                      <title>Chevron right</title>
                      <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)">
                      </path>
                    </svg></a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="teaser teaser-vertical with-image with-personalisation">
              <figure class="teaser-image">
                <div class="icon-personalisation"><svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 22.4 26.5" style="enable-background:new 0 0 22.4 26.5;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        fill: #198663
                      }

                      .st1 {
                        fill: #FFFFFF
                      }
                    </style>
                    <g>
                      <polygon class="st0" points="22.4,19.4 11.2,26.5 0,19.4 0,0 22.4,0"></polygon>
                      <g>
                        <path class="st1"
                          d="M17.1,16.1C17.1,16.1,17.1,16.1,17.1,16.1l-2.6-0.9c-0.7-0.3-1-1.5-1.1-1.9c0.4-0.4,0.7-1,0.7-1.6 c0-0.3,0.1-0.4,0.1-0.4c0.1,0,0.1-0.1,0.2-0.1c0,0,0.3-0.8,0.3-1.3c0,0,0,0,0-0.1c0-0.1-0.1-0.3-0.3-0.4V7.8c0-1-0.3-1.4-0.6-1.6 c0-0.5-0.5-1.5-2.3-1.5c-1.9,0-3.1,1.9-3.1,3.1c0,0.6,0,1,0,1.3c0,0.1,0,0.2,0,0.3C8.2,9.5,8.1,9.7,8,9.8c0,0,0,0,0,0.1 c0,0.5,0.3,1.3,0.3,1.3c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.4c0,0.7,0.7,1.4,1,1.6c-0.1,0.4-0.4,1.5-1,1.8l-2.7,0.9 c-0.2,0.1-0.3,0.1-0.5,0.2c1.5,1.4,3.5,2.3,5.7,2.3C13.4,18.6,15.6,17.6,17.1,16.1z">
                        </path>
                      </g>
                    </g>
                  </svg></div>
                <a
                  href="https://intranet.cardiff.ac.uk/staff/news/view/2396992-free-intensive-work-welsh-courses-beginning-in-june-at-all-levels">
                  <img class=""
                    data-srcset="https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=737&amp;h=415&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=367&amp;h=204&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=290&amp;h=161&amp;fit=crop&amp;q=60&amp;auto=format 290w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=223&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format 223w"
                    data-src="https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                    src="https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                    sizes="(max-width: 350px) 100vw, (min-width: 768px) 223px, (min-width: 980px) 290px, (min-width: 1200px) 367px"
                    alt="Cymraeg"
                    srcset="https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=737&amp;h=415&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=367&amp;h=204&amp;fit=crop&amp;q=60&amp;auto=format 367w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=290&amp;h=161&amp;fit=crop&amp;q=60&amp;auto=format 290w,
                    https://cardiff.imgix.net/__data/assets/image/0005/2397002/cymraeg.jpg?w=223&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format 223w">
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title"><a
                    href="https://intranet.cardiff.ac.uk/staff/news/view/2396992-free-intensive-work-welsh-courses-beginning-in-june-at-all-levels">Free
                    intensive 'Work Welsh' courses beginning in June at all levels</a></h2>
                <p class="teaser-category"><a
                    href="https://intranet.cardiff.ac.uk/staff/news?collection=intranetnews&amp;form=search-en&amp;context=en&amp;f.School|school=medic&amp;departmentcode=medic">SCHOOL
                    OF MEDICINE NEWS<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                      <title>Chevron right</title>
                      <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)">
                      </path>
                    </svg></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-lg-right"><a href="https://intranet.cardiff.ac.uk/staff/news"
              class="btn btn-more">View more news<svg class="icon" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 19.75 32">
                <title>Chevron right</title>
                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
              </svg></a></div>
        </div>
      </div>
    </section>
    <section class="content-group" aria-label="Featured pages">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="feature-item box box-feature fill-height">
              <header class="box-header"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 16.2" class="icon"
                  style="enable-background:new 0 0 17 16.2;" xml:space="preserve">
                  <g>
                    <path
                      d="M13.8,16.2l-5.3-2.8l-5.3,2.8l1-5.9L0,6.2l5.9-0.9L8.5,0l2.6,5.3L17,6.2l-4.3,4.2L13.8,16.2z M4.3,7.6l2.1,2.1 l-0.5,2.9l2.6-1.4l2.6,1.4l-0.5-2.9l2.1-2.1L9.8,7.2L8.5,4.5L7.2,7.2L4.3,7.6z">
                    </path>
                  </g>
                </svg>
                <h2 class="box-title">Featured</h2>
              </header>
              <div class="box-body">
                <h3><a class="box-body-title"
                    href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/coronavirus-outbreak"
                    aria-label="Coronavirus (COVID-19) outbreak">Coronavirus (COVID-19) outbreak</a></h3>
                <p>Read our guidance on the recent outbreak of the coronavirus (COVID-19).</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item box box-feature fill-height">
              <header class="box-header"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 16.2" class="icon"
                  style="enable-background:new 0 0 17 16.2;" xml:space="preserve">
                  <g>
                    <path
                      d="M13.8,16.2l-5.3-2.8l-5.3,2.8l1-5.9L0,6.2l5.9-0.9L8.5,0l2.6,5.3L17,6.2l-4.3,4.2L13.8,16.2z M4.3,7.6l2.1,2.1 l-0.5,2.9l2.6-1.4l2.6,1.4l-0.5-2.9l2.1-2.1L9.8,7.2L8.5,4.5L7.2,7.2L4.3,7.6z">
                    </path>
                  </g>
                </svg>
                <h2 class="box-title">Featured</h2>
              </header>
              <div class="box-body">
                <div class="icon-personalisation"><svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 22.4 26.5" style="enable-background:new 0 0 22.4 26.5;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        fill: #198663
                      }

                      .st1 {
                        fill: #FFFFFF
                      }
                    </style>
                    <g>
                      <polygon class="st0" points="22.4,19.4 11.2,26.5 0,19.4 0,0 22.4,0"></polygon>
                      <g>
                        <path class="st1"
                          d="M17.1,16.1C17.1,16.1,17.1,16.1,17.1,16.1l-2.6-0.9c-0.7-0.3-1-1.5-1.1-1.9c0.4-0.4,0.7-1,0.7-1.6 c0-0.3,0.1-0.4,0.1-0.4c0.1,0,0.1-0.1,0.2-0.1c0,0,0.3-0.8,0.3-1.3c0,0,0,0,0-0.1c0-0.1-0.1-0.3-0.3-0.4V7.8c0-1-0.3-1.4-0.6-1.6 c0-0.5-0.5-1.5-2.3-1.5c-1.9,0-3.1,1.9-3.1,3.1c0,0.6,0,1,0,1.3c0,0.1,0,0.2,0,0.3C8.2,9.5,8.1,9.7,8,9.8c0,0,0,0,0,0.1 c0,0.5,0.3,1.3,0.3,1.3c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.4c0,0.7,0.7,1.4,1,1.6c-0.1,0.4-0.4,1.5-1,1.8l-2.7,0.9 c-0.2,0.1-0.3,0.1-0.5,0.2c1.5,1.4,3.5,2.3,5.7,2.3C13.4,18.6,15.6,17.6,17.1,16.1z">
                        </path>
                      </g>
                    </g>
                  </svg></div>
                <h3><a class="box-body-title"
                    href="https://intranet.cardiff.ac.uk/staff/your-employment-archived-information-architecture/your-performance/performance-development-review"
                    aria-label="Performance development review">Performance development review</a></h3>
                <p>Information about annual performance development reviews..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    ${require('../components/homepage-events/homepage-events.html')}
    <section class="content-group with-background bg-wild-sand" aria-labelledby="homepage-quick-links-title">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="content-group-title" id="homepage-quick-links-title"><svg class="icon"
                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 22.4 26.5"
                style="enable-background:new 0 0 22.4 26.5;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #198663
                  }

                  .st1 {
                    fill: #FFFFFF
                  }
                </style>
                <g>
                  <polygon class="st0" points="22.4,19.4 11.2,26.5 0,19.4 0,0 22.4,0"></polygon>
                  <g>
                    <path class="st1"
                      d="M17.1,16.1C17.1,16.1,17.1,16.1,17.1,16.1l-2.6-0.9c-0.7-0.3-1-1.5-1.1-1.9c0.4-0.4,0.7-1,0.7-1.6 c0-0.3,0.1-0.4,0.1-0.4c0.1,0,0.1-0.1,0.2-0.1c0,0,0.3-0.8,0.3-1.3c0,0,0,0,0-0.1c0-0.1-0.1-0.3-0.3-0.4V7.8c0-1-0.3-1.4-0.6-1.6 c0-0.5-0.5-1.5-2.3-1.5c-1.9,0-3.1,1.9-3.1,3.1c0,0.6,0,1,0,1.3c0,0.1,0,0.2,0,0.3C8.2,9.5,8.1,9.7,8,9.8c0,0,0,0,0,0.1 c0,0.5,0.3,1.3,0.3,1.3c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.4c0,0.7,0.7,1.4,1,1.6c-0.1,0.4-0.4,1.5-1,1.8l-2.7,0.9 c-0.2,0.1-0.3,0.1-0.5,0.2c1.5,1.4,3.5,2.3,5.7,2.3C13.4,18.6,15.6,17.6,17.1,16.1z">
                    </path>
                  </g>
                </g>
              </svg> Quick links</h2>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="teaser teaser-boxed bg-white fill-height ">
              <div class="teaser-body">

                <h1 class="teaser-title">
                  <a
                    href="https://intranet.cardiff.ac.uk/staff/training-and-development/staff-courses-and-programmes/the-cardiff-professional">Courses
                    to Support the Cardiff Professional</a>
                </h1>
                <p class="teaser-description">Information for development courses based on Career Pathway.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="teaser teaser-boxed bg-white fill-height ">
              <div class="teaser-body">

                <h1 class="teaser-title">
                  <a href="https://intranet.cardiff.ac.uk/staff/supporting-your-work/research-support/engagement">Research
                    engagement and impact</a>
                </h1>
                <p class="teaser-description">An overview of engagement, advice and resources, funding, opportunities.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="teaser teaser-boxed bg-white fill-height ">
              <div class="teaser-body">

                <h1 class="teaser-title">
                  <a href="https://intranet.cardiff.ac.uk/staff/wellbeing-and-support/equality-and-diversity">Equality
                    and diversity</a>
                </h1>
                <p class="teaser-description">How we are inclusive, links to the Strategic Equality Plan and annual
                  reports and equality staff networks.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="teaser teaser-boxed bg-white fill-height ">
              <div class="teaser-body">

                <h1 class="teaser-title">
                  <a
                    href="https://intranet.cardiff.ac.uk/staff/your-employment-archived-information-architecture/pay-pensions-and-benefits">Pay,
                    pensions and benefits</a>
                </h1>
                <p class="teaser-description">Your pay, expenses, cycle to work scheme, pensions, staff discounts. Your
                  pay, expenses, cycle to work scheme, pensions, staff discounts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    ${require('../components/apps-toolbar/apps-toolbar.html')}
  </div>
</div>