<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Module descriptions</h1>
      ${require('../components/module-search/module-search.html')}
      ${require('../components/handbook-search/handbook-search.html')}
    </div>
  </div>
</div>