<main class="content" id="content">
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1>University teams</h1>
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" href="#browse-by-directorate" data-toggle="tab">Browse by
              directorate</a></li>
          <li class="nav-item"><a class="nav-link" href="#browse-by-a-to-z" data-toggle="tab">Browse by A-Z</a></li>
        </ul>
        <div class="tab-content ">
          <div class="tab-pane active" id="browse-by-directorate">
            <h2>Browse by directorate</h2>
            <div class="row">
              <div class=" span6 col-md-6  squiz-bodycopy" id="new_content_container_59229_2394424">

                <div class="teaser" data-assetid="55419" data-paintlayoutid="17407" data-status="Live">
                  <div class="teaser-body">
                    <h2 class="teaser-title"><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/55419-college-of-arts-humanities-and-social-sciences">College
                        of Arts, Humanities and Social Sciences</a></h2>
                    <p>From Business to Law, Music to Journalism, we have an internationally recognised intellectual
                      capacity
                      considering the key theoretical and practical questions in the study of the economy, politics and
                      society.</p>
                  </div>
                </div>

                <!-- PL: 17407 -->
              </div>

              <div class=" span6 col-md-6  squiz-bodycopy" id="new_content_container_59225_2394426">

                <div class="teaser" data-assetid="55939" data-paintlayoutid="17407" data-status="Live">
                  <div class="teaser-body">
                    <h2 class="teaser-title"><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/bls/55939-college-of-biomedical-and-life-sciences">College
                        of Biomedical and Life Sciences</a></h2>
                    <p>The College of Biomedical and Life Sciences brings together eight schools with immense strength
                      in
                      research and teaching, not just in Wales, but the UK and worldwide.</p>
                  </div>
                </div>

                <!-- PL: 17407 -->
              </div>

              <div class=" span6 col-md-6  squiz-bodycopy" id="new_content_container_59227_2394428">

                <div class="teaser" data-assetid="56260" data-paintlayoutid="17407" data-status="Live">
                  <div class="teaser-body">
                    <h2 class="teaser-title"><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/pse/56260-college-of-physical-sciences-and-engineering">College
                        of Physical Sciences and Engineering</a></h2>
                    <p>The College of Physical Sciences &amp; Engineering is a centre of academic excellence,
                      internationally
                      renowned for research and teaching excellence, innovation, industrial engagement, sustainable
                      solutions
                      and societal impact.</p>
                  </div>
                </div>

                <!-- PL: 17407 -->
              </div>

              <div class=" span6 col-md-6  squiz-bodycopy" id="new_content_container_59223_2394430">

                <div class="teaser" data-assetid="50782" data-paintlayoutid="17407" data-status="Live">
                  <div class="teaser-body">
                    <h2 class="teaser-title"><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/professional-services/50782-professional-services">Professional
                        Services</a></h2>
                    <p>This area is for Professional Services staff who work together across central University
                      administrative
                      divisions, Colleges and Academic Schools.</p>
                  </div>
                </div>

                <!-- PL: 17407 -->
              </div>

              <div class=" span6 col-md-6  squiz-bodycopy" id="new_content_container_67533_2394434">

                <div class="teaser" data-assetid="64234" data-paintlayoutid="17407" data-status="Live">
                  <div class="teaser-body">
                    <h2 class="teaser-title"><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/64234-vice-chancellors-office">Vice-Chancellor's
                        Office</a></h2>
                    <p>The Vice-Chancellor's Office provides a focal point for the co-ordination and integration of
                      University
                      business.</p>
                  </div>
                </div>

                <!-- PL: 17407 -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="browse-by-a-to-z">
            <h2>Browse by A-Z</h2>
            <div class="row">
              <div class="col-lg-4">

                <h3>A (26)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51093-academic-and-student-support-services">Academic
                        and Student Support Services</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67767-quality-and-standards">Academic
                        Quality</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/77664-academic-study-skills-and-mentoring-team">Academic
                        Study Skills and Mentoring Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/63766-accounts-payable">Accounts
                        payable</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67821-administration-and-hotline">Administration
                        and Hotline</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53529-administration-services">Administration
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/847509-administrative-hub">Administrative
                        Hub</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51774-administrative-support">Administrative
                        Support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67769-admissions">Admissions</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/63966-advanced-research-computing">Advanced
                        Research Computing @ Cardiff (ARCCA)</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53044-advice-and-money">Advice
                        and Money</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/253276-ahss-alumni-relations">AHSS
                        Alumni relations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/519844-ahss-college-board">AHSS
                        College Board</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/253273-ahss-communications">AHSS
                        Communications</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/477672-ahss-education-and-quality-team">AHSS
                        Education and Quality</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/495449-ahss-finance-team">AHSS
                        Finance</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/495280-ahss-human-resources">AHSS
                        Human Resources</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/253289-ahss-international-team">AHSS
                        International</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/253274-ahss-marketing">AHSS
                        Marketing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/253269-ahss-marketing-communications-and-international-recruitment">AHSS
                        Marketing, Communications and International Recruitment</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/522696-ahss-operations-board">AHSS
                        Operations Board</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/470482-ahss-research-impact-team">AHSS
                        Research Impact</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/253275-ahss-web-and-media-production">AHSS
                        Web and media production</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51032-alumni-relations">Alumni
                        Relations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491514-application-servers-team">Application
                        Servers team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51017-assurance-services">Assurance
                        Services</a></li>
                  </div>

                </ul>
                <h3>B (6)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1033224-business-analysis-and-change-management">Business
                        Analysis and Change Management</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1690021-business-continuity-and-incident-response">Business
                        Continuity and Incident Response</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51770-business-development">Business
                        Development</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1167984-business-intelligence">Business
                        Intelligence (BI)</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55601-cardiff-business-school">Business
                        School</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491194-business-systems">Business
                        systems</a></li>
                  </div>

                </ul>
                <h3>C (30)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50993-campus-development">Campus
                        Development</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53538-campus-facilities">Campus
                        Facilities</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50994-campus-operations">Campus
                        Operations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59242-cardiff-award">Cardiff
                        Award Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/58101-careers-and-employability">Careers
                        and Employability</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53528-catering-and-bar-services">Catering
                        and Bar Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491769-central-support-services">Central
                        support services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490549-change-and-release-management">Change
                        and Release Management</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51765-civic-mission">Civic
                        Mission</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59473-classroom-experience">Classroom
                        Experience Project Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53533-cleaning">Cleaning</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491515-client-devices-team">Client
                        Devices team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490690-collaboration">Collaboration</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/ahss/55419-college-of-arts-humanities-and-social-sciences">College
                        of Arts, Humanities and Social Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/bls/55939-college-of-biomedical-and-life-sciences">College
                        of Biomedical and Life Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/pse/56260-college-of-physical-sciences-and-engineering">College
                        of Physical Sciences and Engineering</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51101-commercial-development">Commercial
                        Development</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1689989-committee-services">Committee
                        Support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50849-communications">Communications</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491770-communications">Communications</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/41241-communications-and-marketing">Communications
                        and Marketing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490611-configuration-and-continuity-management">Configuration
                        and Continuity Management</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55777-continuing-and-professional-education">Continuing
                        and Professional Education</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51754-contracts">Contracts</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/bls/535712-core-bioinformatics-and-statistics">Core
                        Bioinformatics and Statistics</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/63760-corporate-financial-services">Corporate
                        Financial Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491172-corporate-systems">Corporate
                        systems</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59543-counselling-health-and-wellbeing">Counselling,
                        Health and Wellbeing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/132986-cpd-unit">CPD
                        Unit</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/customer-services">Customer
                        Services</a></li>
                  </div>

                </ul>
                <h3>D (12)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490949-data-centres-operations">Data
                        Centre Operations team</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490890-data-centres-and-engineering">Data
                        Centres and Engineering team</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491529-database-team">Database
                        team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/day-care-services">Day
                        Care Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491700-departmental-support">Departmental
                        support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490770-desktop-applications-and-office-365">Desktop
                        applications and Office 365</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51031-development">Development</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51030-development-and-alumni-relations">Development
                        and Alumni Relations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/41027-digital-communications">Digital
                        Communications</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53534-direct-labour">Direct
                        Labour</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/58180-disability-and-dyslexia-service">Disability
                        and Dyslexia Service</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/65620-doctoral-academy">Doctoral
                        Academy</a></li>
                  </div>

                </ul>
              </div>
              <div class="col-lg-4">
                <h3>E (12)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/63767-e-business-suite-support">E-Business
                        Suite Support</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/68728-endowment-funds">Endowment
                        Funds</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51110-english-language-programmes">English
                        Language Programmes</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59497-enterprise-and-start-up-team">Enterprise
                        and Start-up Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491459-entitlements">Entitlements</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/69911-environment">Environment</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/68821-estates-administration-support">Estates
                        Administration Support </a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50990-estates-and-campus-facilities">Estates
                        and Campus Facilities</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/68811-estates-management">Estates
                        Management</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53532-projects-management">Estates
                        Project Management</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/european-office">European
                        and International Research Office (EIRO)</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/european-grants">European
                        Grants</a></li>
                  </div>

                </ul>
                <h3>F (3)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/63378-film-unit">Film
                        Unit</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491702-finance">Finance</a>
                    </li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51038-finance">Finance</a>
                    </li>
                  </div>

                </ul>
                <h3>G (4)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1066329-global-opportunities-team">Global
                        Opportunities Team </a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/522750-go-wales-team">GO
                        Wales Team</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/70173-governance-services">Governance
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/65651-graduate-centre">Graduate
                        Centre team</a></li>
                  </div>

                </ul>
                <h3>H (3)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67700-hr-service-centre">HR
                        Service Centre</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51033-human-resources">Human
                        Resources</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51034-human-resources-operations">Human
                        Resources Operations</a></li>
                  </div>

                </ul>
                <h3>I (13)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/63765-income-section">Income</a>
                    </li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51099-innovation-and-business-engagement-team">Innovation
                        and Business Engagement Team</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51761-system-project-team">Innovation
                        System Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/473236-internal-audit-team">Internal
                        Audit Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51104-international-office">International
                        Office</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/66250-international-student-support">International
                        Student Support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491470-it-architecture">IT
                        architecture</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/it-business-partners">IT
                        business partners</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491630-security">IT
                        Security</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490414-service-desk-level-1">IT
                        Service Desk (level 1)</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490430-service-management">IT
                        Service Management </a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/68276-it-services">IT
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490711-enablement-it-training-and-education">IT
                        training and education</a></li>
                  </div>

                </ul>
                <h3>L (5)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67826-timetabling-room-booking/1483660-lara-taffer">Lara
                        Taffer</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491369-learning-technology-systems">Learning
                        technology systems</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1633379-legal-services">Legal
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1690013-legal-services">Legal
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491409-library-systems">Library
                        systems</a></li>
                  </div>

                </ul>
                <h3>M (3)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53535-maintenance">Maintenance</a>
                    </li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59692-management-accounts">Management
                        Accounts</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/65011-marketing">Marketing</a>
                    </li>
                  </div>

                </ul>
                <h3>N (2)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490829-networks-and-telephony">Networks
                        and telephony</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491491-networks-team">Networks
                        team</a></li>
                  </div>

                </ul>
                <h3>O (2)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/160812-open-access-support-team">Open
                        Access Support Team</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51035-organisational-and-staff-development">Organisational
                        and Staff Development</a></li>
                  </div>

                </ul>
                <h3>P (25)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51043-pensions">Pensions</a>
                    </li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/96478-performance-risk">Performance
                        and Risk Team</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/847451-intelligence-and-planning">Planning
                        and Intelligence</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491513-platform-and-storage-services">Platform
                        and storage services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490850-platforms-server-and-entitlements">Platforms,
                        Server and Entitlements team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67708-policy-and-projects-team">Policy
                        and Projects Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51095-portfolio-and-partnerships">Portfolio
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51759-post-awards">Post-awards</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/65002-postgraduate-recruitment">Postgraduate
                        Recruitment</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/754735-postgraduate-research-quality-and-operations">Postgraduate
                        Research Quality and Operations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51756-pre-awards">Pre-awards</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/print-services">Print
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491790-process-governance">Process
                        governance</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51042-procurement">Procurement
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/professional-services/50782-professional-services">Professional
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/474673-programme-management-office">Programme
                        Management Office</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/colleges/pse/795322-pse-college-board">PSE
                        College Board</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380594-pse-college-professional-services-team">PSE
                        College Professional Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380613-pse-communications-and-marketing">PSE
                        Communications and Marketing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380611-pse-education">PSE
                        Education</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380610-pse-finance">PSE
                        Finance</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380609-pse-human-resources">PSE
                        Human Resources</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380614-international-recruitment-and-admissions">PSE
                        International Recruitment and Admissions</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/380612-pse-research">PSE
                        Research</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50965-public-affairs">Public
                        Affairs</a></li>
                  </div>

                </ul>
              </div>
              <div class="col-lg-4">
                <h3>R (10)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51106-registry">Registry</a>
                    </li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51046-research-and-innovation-services">Research
                        and Innovation Services</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51096-research-development">Research
                        Development</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51734-research-development-team">Research
                        Development Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51747-research-governance">Research
                        Governance</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51097-research-governance-and-contracts">Research
                        Governance and Contracts</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51098-research-grants">Research
                        Grants</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1267822-research-systems">Research
                        Systems</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/1183715-residence-life-team">Residence
                        Life Team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50997-residences">Residences
                        Services</a></li>
                  </div>

                </ul>
                <h3>S (51)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/69910-safety">Safety</a>
                    </li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53537-safety-compliance">Safety
                        and Compliance</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51036-safety-and-environment">Safety
                        and Environment</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/69000-salaries">Salaries</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56010-school-of-biosciences">School
                        of Biosciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56213-school-of-chemistry">School
                        of Chemistry</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56221-school-of-computer-science-and-informatics">School
                        of Computer Science and Informatics</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56089-school-of-dentistry">School
                        of Dentistry</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56222-school-of-earth-and-ocean-sciences">School
                        of Earth and Ocean Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56230-school-of-engineering">School
                        of Engineering</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55635-school-of-english-communication-and-philosophy">School
                        of English, Communication and Philosophy</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55610-school-of-planning-and-geography">School
                        of Geography and Planning</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56090-school-of-healthcare-sciences">School
                        of Healthcare Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55657-school-of-history-archaeology-and-religion">School
                        of History, Archaeology and Religion</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55674-school-of-journalism-media-and-cultural-studies">School
                        of Journalism, Media and Culture</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55683-school-of-law-and-politics">School
                        of Law and Politics</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56258-school-of-mathematics">School
                        of Mathematics</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56098-school-of-medicine">School
                        of Medicine</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55785-school-of-modern-languages">School
                        of Modern Languages</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55800-school-of-music">School
                        of Music</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56099-school-of-optometry-and-vision-sciences">School
                        of Optometry and Vision Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56165-school-of-pharmacy-and-pharmaceutical-sciences">School
                        of Pharmacy and Pharmaceutical Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56267-school-of-physics-and-astronomy">School
                        of Physics and Astronomy</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56175-school-of-psychology">School
                        of Psychology</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55420-school-of-social-sciences">School
                        of Social Sciences</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/55816-school-of-welsh">School
                        of Welsh</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491709-secretariat">Secretariat</a>
                    </li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50999-security-and-portering">Security
                        and Portering Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491570-server-team">Server
                        team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490349-services-and-operations">Service
                        and Operations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490531-service-transition">Service
                        Transition </a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490753-service-validation-and-testing">Service
                        validation and testing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/53531-space-management">Space
                        Management</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/special-collections-and-archives">Special
                        Collections and Archives</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490769-specialist-operations">Specialist
                        Operations</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/specialist-unit-for-review-evidence">Specialist
                        Unit for Review Evidence</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51014-sport">Sports
                        Services</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51037-staff-counselling">Staff
                        wellbeing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491571-storage-and-backup-team">Storage
                        and Backup team</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51015-strategic-planning-and-governance">Strategic
                        Planning and Governance</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491750-strategic-support">Strategic
                        support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/66318-student-cases">Student
                        Cases</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67768-student-engagement-and-education-support">Student
                        Engagement and Education Support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59053-student-records">Student
                        Operations Registry</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/50985-student-recruitment">Student
                        Recruitment (UK/EU)</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51107-student-support-and-wellbeing">Student
                        Support and Wellbeing</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67770-systems-development">Student
                        System Support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491436-student-systems">Student
                        systems</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490861-supplier-management-office">Supplier
                        Management Office</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/60015-support-worker-service">Support
                        Worker Service</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491665-systems-development-and-integration">Systems
                        development and integration</a></li>
                  </div>

                </ul>
                <h3>T (5)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/490889-technical-operations">Technical
                        Operations</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51771-technology-transfer">Technology
                        Transfer</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/59466-work-experience">The
                        Futures Connect Team </a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/67826-timetabling-room-booking">Timetabling
                        and Room Booking</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/847329-translation-unit">Translation
                        Unit</a></li>
                  </div>

                </ul>
                <h3>U (5)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/65006-undergraduate-recruitment-and-widening-participation">Undergraduate
                        Recruitment and Widening Participation</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51092-University-IT">University
                        IT</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491009-university-it-support">University
                        IT support</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/51108-university-library-service">University
                        Library Service</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/491171-university-technical-solutions-group">University
                        Technical Solutions Group</a></li>
                  </div>

                </ul>
                <h3>V (1)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/intranet/teams/64234-vice-chancellors-office">Vice-Chancellor's
                        Office</a></li>
                  </div>

                </ul>
                <h3>W (4)</h3>
                <ul class="list list-links">
                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56167-postgraduate-medical-and-dental-education">Wales
                        Deanery (Postgraduate Medical and Dental Education)</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/69907-welsh-language-services-unit">Welsh
                        Language Services Unit</a></li>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/56208-welsh-school-of-architecture">Welsh
                        School of Architecture</a></li>
                  </div>

                  <div>
                    <li><a
                        href="https://intranet.cardiff.ac.uk/staff/university-staff-and-teams/view/171187-widening-access">Widening
                        Access</a></li>
                  </div>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content-footer">
          <hr>
          <div class="row">
            <div class="col-md-12">
              <p>Last updated: 28/05/2020 09:59</p>
            </div>
            <div class="col-md-12 d-print-none">
              <p>Spotted an issue? <a class="feedback-link"
                  href="https://squiz.cardiff.ac.uk/intranet-development/staff/feedback?url=https://squiz.cardiff.ac.uk/intranet-development/staff-v2/university-staff-and-teams">Let
                  us know</a> and we will fix it.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>