<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <section class="box box-related">
          <header class="box-header">
            <h1 class="box-title">Latest blog posts</h1>
          </header>
          <div class="box-body">
            <a href="" class="wpfeed-link" data-numberofresults="3" data-url="https%3A%2F%2Fblogs.cardiff.ac.uk%2Fstudentlifecu"
              data-template="teaser-small" data-withimage="false" data-loadingheight="130">Noticeboard</a>
          </div>
        </section>
    </div>
  </div>
</div>