<h2>Progress bar</h2>
${require('variations/progress.html')}
<h2>Progress bar striped</h2>
${require('variations/progress-striped.html')}
<h2>Progress bar striped active</h2>
${require('variations/progress-striped-animated.html')}
<h2>Progress bar stacked</h2>
${require('variations/progress-stacked.html')}