<div class="process">
  <ol class="process-steps">

    <li id="process-step-6563691" class="process-step">
      <a href="#" class="process-step-title">
        Heading one shortest
        ${require-svg('process-arrow')}
      </a>
      <ol class="process-step-list">
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
      </ol>
    </li>

    <li id="process-step-6566492" class="active process-step">
      <a href="#" class="process-step-title">
        Heading two larger larger larger
        ${require-svg('process-arrow')}
      </a>
      <ol class="process-step-list ">
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
      </ol>
    </li>

    <li id="process-step-6563893" class="process-step">
      <a href="#" class="process-step-title">
        Heading 3
        ${require-svg('process-arrow')}
      </a>
      <ol class="process-step-list ">
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
      </ol>
    </li>

    <li id="process-step-6564094" class="process-step">
      <a href="#" class="process-step-title">
        Heading 4 largest largest largest largest largest largest largest largest largest
        ${require-svg('process-arrow')}
      </a>
      <ol class="process-step-list ">
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
      </ol>
    </li>

    <li id="process-step-6564135" class="process-step">
      <a href="#" class="process-step-title">
        Heading 5 larger larger larger larger larger larger larger 
        ${require-svg('process-arrow')}
      </a>
      <ol class="process-step-list ">
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
        <li class="process-step-item"><a href="#">Link goes here</a></li>
      </ol>
    </li>

  </ol>
</div>