<div class="process">
    <ol class="process-steps">
  
      <li id="process-step-656369" class="process-step">
        <a href="#" class="process-step-title">
          Confirmation of module
          ${require-svg('process-arrow')}
        </a>
      </li>
  
      <li id="process-step-656649" class="active process-step">
        <a href="#" class="process-step-title">
          Confirmation of module
          ${require-svg('process-arrow')}
        </a>
      </li>
  
      <li id="process-step-656389" class="process-step">
        <a href="#" class="process-step-title">
          Confirmation of module
          ${require-svg('process-arrow')}
        </a>
      </li>
  
      <li id="process-step-656409" class="process-step">
        <a href="#" class="process-step-title">
          Confirmation of module
          ${require-svg('process-arrow')}
        </a>
      </li>
  
      <li id="process-step-656413" class="process-step">
        <a href="#" class="process-step-title">
          Confirmation of module
          ${require-svg('process-arrow')}
        </a>
      </li>
  
    </ol>
  </div>