.dictionary
  @include clearfix()
  margin-bottom: ($baseUnit*4)

.nav-dictionary
  font-family: $boldFontFamily

  li
    margin-bottom: ($baseUnit*0.5)
    
    a 
      @include border-radius(0)
      border: none
      color: $colourGrey
      background-color: $white
      padding: 0 ($baseUnit * 1.2)
      line-height: ($baseUnit*3)
      height: ($baseUnit*3)
      margin: 0
      box-sizing: border-box

    &.active a 
      color: $colourWhite
      background-color: $colourBlack

    > a:hover 
      color: $colourGreyDarker
      background-color: $colourGreyLight

  .disabled 
    padding: 0 12px 0 12px
    line-height: ($baseUnit*3)
    height: ($baseUnit*3)
    color: $colourGreyLight
    box-sizing: border-box
    margin-right: 4px

.dictionary-letter 
  @include clearfix()
  border-top: 2px solid $colourGreyLight
  padding: $baseUnit*2 0 $baseUnit*2 0
  position: relative
  min-height: ($baseUnit*5)

.dictionary-letter-title 
  font-family: $boldFontFamily
  font-size: map-get($font44, 'size')
  line-height: map-get($font44, 'line-height')
  color: colourRed
  width: $baseUnit*10
  position: absolute
  left: 0
  top: $baseUnit*2

.dictionary-terms
  margin: 0 0 0 ($baseUnit*14)
  padding: 0
  list-style: none
  column-gap: ($baseUnit*2)

.dictionary-term
  padding-bottom: $baseUnit
  break-inside: avoid

  small
    font-size: map-get($font17, 'size')
    display: block
    margin-left: $baseUnit*2

@import "dictionary-sm-down"
@import "dictionary-sm-up"
@import "dictionary-lg-only"
@import "dictionary-xl-up"