@media #{$breakpoint-xl-up}
  .dictionary-terms
    @include content-columns(4, ($baseUnit*2))
    
    li a:focus
      background-color: $colourSweetCorn
      outline: none
      
  .nav-dictionary
    li
      a
        &:focus
          outline: none
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn