.content
  padding: ($baseUnit*2) 0

  a:visited 
    color: $linkColourVisited

.content-footer
  margin-top: ($baseUnit*4)
  
  .feedback
    text-align: right

@import "content-md-up"
@import "content-lg-up"