<h2>Alerts</h2>
${require('variations/alert.html')}
<h3>Colour Variations</h3>
${require('variations/alert-colours.html')}
${require('variations/alert-colours-code.html')}
<h3>Dismissible</h3>
${require('variations/alert-dismissible.html')}
<h3>Links</h3>
${require('variations/alert-links.html')}
<h3>Alert Module search</h3>
${require('variations/alert-modulesearch.html')}
<h3>Secondary Alerts</h3>
${require('variations/alert-secondary.html')}
<h3>Alert Squiz</h3>
${require('variations/alert-squiz.html')}
<h3>Alert Squiz no desc</h3>
${require('variations/alert-squiz-no-desc.html')}
<h3>Alert with icon</h3>
${require('variations/alert-with-icon.html')}
