<div class="well" id="yammerSignIn">
  <p>Connect with Yammer to see the latest opportunities.</p>
  <p>
    <span
      id="yammer-login"
      data-groupid="8237225"
      data-yamtype="news-compact"
      data-msglimit="5"
      data-charlimit="140"
      data-header="Noticeboard"
      ><img
        alt="Log in with Yammer"
        role="button"
        tabindex="0"
        src="https://s0-azure.assets-yammer.com/assets/images/yammer_signin.png"
        style="cursor: pointer;"
    /></span>
  </p>
</div>
