<section class="content-group with-background bg-jungle-mist" aria-label="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Test paragraph</p>
      </div>
    </div>
  </div>
</section>
<section class="content-group with-background bg-wild-sand" aria-label="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Test paragraph</p>
      </div>
    </div>
  </div>
</section>