.tag
  @include border-radius($baseUnit*0.2)
  display: block
  float: left
  background-color: $colourGreyLightest
  border: $baseUnit*0.1 solid $colourGreyLighter
  margin: 0 $baseUnit*0.5 $baseUnit*0.5 0
  padding: 0 $baseUnit*0.5

  a
    display: inline-block
    padding: 0 $baseUnit*0.5
    margin: 0 #{-$baseUnit*0.5}
    color: $colourGreyDarker

    &:hover
      text-decoration: none
      background-color: $colourGreyNickel
      border-color: $colourGreyNickel