<div class="download">
	<h2 class="download-title"><a href="#">Annual Review 2012</a> </h2>
	<p class="download-date">10 January 2013</p>
	<p class="download-actions"><a class="btn btn-primary" href="#">${require-svg('download')}PDF
			<small>1.2Mb</small></a></p>
</div>