<div class="download with-image">
	<figure class="download-image">
		<a href="#"><img src="//www.placehold.it/50x70" alt="alternative text"></a>
	</figure>
	<h2 class="download-title"><a href="#">Annual Review 2012</a> </h2>
	<p class="download-date"><em>10 January 2013</em></p>
	<p class="download-description">The Uiversity's achievements, successes and distinctions in 2012. This review
		highlights some of the University recent chievements, successes and distinctions.</p>
	<p class="download-actions"><a class="btn btn-primary" href="#">${require-svg('download')}PDF
			<small>7.3Mb</small></a></p>
	</div>