<div class="table-responsive">
  <table class="table">
    <caption class="table-caption">Fig 2. Responsive Table Caption Example</caption>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last Name</th>
        <th class="contract-phone">Username</th>
        <th class="contract-phone">Tel. No</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Smith</td>
        <td>@sagms36</td>
        <td>71515</td>
      </tr>
      <tr>
        <td>David</td>
        <td>Davies</td>
        <td>@sagdd24</td>
        <td>71539</td>
      </tr>
    </tbody>
  </table>
</div>