<table class="table table-hover">
  <caption class="table-caption">Fig 2. Table Caption Example with Hover Effects</caption>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Telephone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Smith</td>
      <td>@sagms36</td>
      <td>71515</td>
    </tr>
    <tr>
      <td>David</td>
      <td>Davies</td>
      <td>@sagdd24</td>
      <td>71539</td>
    </tr>
  </tbody>
</table>