<table class="table footable-loaded footable">
  <caption class="table-caption">
    Test caption text
  </caption>
  <tbody>
    <tr>
      <th style="width:25%">Room Layout</th>
      <td>Board room</td>
    </tr>
    <tr>
      <th>Seating</th>
      <td>Flexible</td>
    </tr>
    <tr>
      <th>Capacity</th>
      <td>60</td>
    </tr>
    <tr>
      <th>Display</th>
      <td>Projector/large display (1), Audio playback</td>
    </tr>
    <tr>
      <th>Learn Plus Capture</th>
      <td>Lectern PC, Lectern microphone</td>
    </tr>
    <tr>
      <th>Accessibility</th>
      <td>Hearing loop</td>
    </tr>
    <tr>
      <th>Other</th>
      <td>
        Retractable projection screen
      </td>
    </tr>
  </tbody>
</table>
