<div class="container-modulesearch">
  <form class="form-inline">
    <legend id="module-search-legend"><h2>Search for an individual module</h2></legend>
    <label class="sr-only" for="module">Module code</label><input id="module" name="module" type="text"
      placeholder="Module code" class="">
    <label class="sr-only" for="modyear">Academic year</label><select id="modyear" name="modyear" class="">
      <option value="Academic year" selected>Academic year</option>
      <option value="2012">2012/2013</option>
      <option value="2013">2013/2014</option>
      <option value="2014">2014/2015</option>
      <option value="2015">2015/2016</option>
      <option value="2016">2016/2017</option>
      <option value="2017">2017/2018</option>
      <option value="2018">2018/2019</option>
      <option value="2019">2019/2020</option>
    </select>
    <a href="" data-search="module" class="searchModule btn btn-lg btn-success">${require-svg('search')}
      Search</a>
  </form>


  <form class="form-inline">
    <legend id="school-search-legend"><h2>Find modules by Academic School</h2></legend>
    <label class="sr-only" for="school">Academic School</label><select id="school" class="">
      <option value="Academic School">Academic School</option>
    </select>
    <label class="sr-only" for="level">Level</label><select id="level" class="">
      <option value="Level">Level</option>
    </select>
    <label class="sr-only" for="modschyear">Academic year</label><select name="modschyear" id="modschyear" class="">
      <option value="Academic year" selected>Academic year</option>
      <option value="2012">2012/2013</option>
      <option value="2013">2013/2014</option>
      <option value="2014">2014/2015</option>
      <option value="2015">2015/2016</option>
      <option value="2016">2016/2017</option>
      <option value="2017">2017/2018</option>
      <option value="2018">2018/2019</option>
      <option value="2019">2019/2020</option>
    </select>
    <a href="" data-search="school" class="searchModule btn btn-lg btn-success">${require-svg('search')}
      Search</a>
  </form>

  <div id="moduleResults"></div>
  <div id="moduleDetails"></div>
</div>