.search-form
  color: $colourBlack

  form
    margin-bottom: 0

  &-container
    flex: 1 1 auto
    position: relative
    margin: 0 $baseUnit 0 0
    display: flex

    .icon
      fill: $colourTapa

  .has-input
    .search-form-clear
      display: flex
      visibility: visible

  .search-form
    &-label
      position: absolute
      left: 0
      top: 0
      bottom: 0
      display: flex
      align-items: center
      margin-bottom: 0

      .icon
        @include square(20px)
        margin: 0 $baseUnit*1.5
        cursor: auto

    &-query
      font-size: map-get($font17, 'size')
      line-height: map-get($font20, 'line-height')
      font-family: $brandFamily
      min-height: 50px
      padding: $baseUnit*0.8 $baseUnit*4.3 $baseUnit*0.8 $baseUnit*5
      outline: none
      width: 100%
      height: auto
      overflow: hidden

      &::-ms-clear
        display: none

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration  
        display: none

      &::placeholder
        font-size: map-get($font17, 'size')
        font-family: $brandFamily
        color: $colourSilver

      &-container
        position: relative
        width: 100%

    &-clear
      position: absolute
      right: 0
      top: 0
      bottom: 0
      display: none
      align-items: center
      justify-content: center
      width: $baseUnit*4.3
      margin: $baseUnit*0.2 $baseUnit*0.2 $baseUnit*0.2 0
      border-top-right-radius: $baseUnit*0.4
      border-bottom-right-radius: $baseUnit*0.4

      .icon
        @include square(map-get($svgWidths, 'xxs'))
        vertical-align: baseline
        pointer-events: none
        margin-right: 0

@import 'search-form-lg-up'