@media #{$breakpoint-lg-up}
  .search-form
    button
      font-size: 1.3125rem
      width: 90px
      border-radius: 0

    &-container
      margin-right: $baseUnit

    input[type="submit"]
      order: 2
      
    .search-form  
      &-label
        .icon
          margin: 0 $baseUnit

      &-query
        padding: $baseUnit*0.8 $baseUnit*4.3 $baseUnit*0.8 $baseUnit*4
        min-height: 40px
        order: 2

        &:focus
          outline: $baseUnit*0.3 solid $colourSweetCorn
          outline-offset: $baseUnit*0.1
          box-shadow: none

      &-clear
        .icon
          fill: $colourGreyDarker

        &:focus
          background-color: $colourSweetCorn
          box-shadow: none
          outline: none

          .icon
            fill: $colourGreyDarker

    &.with-border
      padding: $baseUnit*4 0