
<div class="apps-toolbar d-none">
  <button class="apps-toolbar-icon-close js-apps-toolbar-toggle">
    ${require-svg('close')}
    <span class="sr-only">Close application popup</span>
  </button>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Your applications</h1>
        <p>Edit your application toolbar by adding and removing apps from the list. Your apps will be available on any
          device.</p>
        <div class="apps-toolbar-selected">
          <ul>
          </ul>
          <button class="btn btn-lg btn-success js-save-toolbar">Save</button>
        </div>
        <div class="apps-toolbar-slider-options">
          <form action="#" class="apps-toolbar-form">
            <label class="sr-only" for="search">Search</label>
            <input type="text" name="search" id="search" placeholder="Search">
            <button type="reset" value="Reset" class="clear">${require-svg('close')}</button>
            <button class="search" type="submit">${require-svg('search')}</button>
          </form>
        </div>
        <div class="apps-toolbar-slider">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  var matrixData = {
    jsApiKey: '3741698235',
    user: '1574962',
    application_icons: 'https://intranet.cardiff.ac.uk/_designs/intranet-designs/staff/live/snippets/application_icons.svg',
    selected: [{ "id": "office_365_and_email", "assetid": 9950, "url": "https://office365.cardiff.ac.uk", "name": "Office 365 and email" }, { "id": "core_hr", "assetid": 29655, "url": "https://pobl.cardiff.ac.uk", "name": "Core HR" }, { "id": "learning_central", "assetid": 10194, "url": "https://learningcentral.cf.ac.uk/auth-saml/saml/login?apId=_155_1&redirectUrl=https%3A%2F%2Flearningcentral.cf.ac.uk%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab", "name": "Learning Central" }, { "id": "myfiles_shared_drives", "assetid": 10196, "url": "http://netstorage-mwe.cf.ac.uk", "name": "MyFiles (Shared drives)" }, { "id": "yammer", "assetid": 316769, "url": "https://www.yammer.com/cardiff.ac.uk/", "name": "Yammer" }, { "id": "librarysearch", "assetid": 10110, "url": "https://nhs-shib.hosted.exlibrisgroup.com/pds?lang=eng&func=load-login&institute=44WHELF_CAR_SHIB&url=https://whel-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=44WHELF_CAR_VU1&lang=en_US", "name": "LibrarySearch" }, { "isEmpty": true }]
  }
</script>
