.content-group
  @include clearfix()
  padding: $baseUnit*4 0

  &:not(.with-background) + &:not(.with-background)
    padding-top: 0

  &:first-child
    padding-top: 0

  &.content-group-applications
    padding: $baseUnit 0 $baseUnit*1.5

  &-title
    display: flex
    align-items: center
    color: $colourGreyDarker
    
    .icon
      height: 29px
      width: 24px
      margin-right: $baseUnit*2

@import 'content-group-md-up'
@import 'content-group-lg-up'