<h2>Well</h2>
${require('variations/well.html')}
<h3>Small well</h3>
${require('variations/well-small.html')}
<h3>Large well</h3>
${require('variations/well-large.html')}
<h3>Yammer well</h3>
<div class="col-md-3">
  ${require('variations/well-yammer.html')}
</div>