.nav-local
  ul
    list-style-type: none
    margin-left: 0

    .nav-item
      border-bottom: $baseUnit*0.1 solid $colourTintLighter

      .nav-link
        display: block
        text-decoration: none
        margin: $baseUnit*0.1 0
        padding: $baseUnit*1.5
        font-family: $brandFamily
        font-size: map-get($font18, 'size')
        line-height: map-get($font18, 'line-height')
        border-bottom: 0
        border-left: $baseUnit*0.5 solid $colourTransparent

        &:hover
          text-decoration: underline

      &.active
        border-bottom: 0

        > .nav-link
          color: $colourRed
          border-left-color: $colourRed
          border-bottom: 0

        .nav-children
          .nav-link
            padding-left: $baseUnit*3.5
  
    .nav-children
      border-top: $baseUnit*0.1 solid $colourTintLighter


@import 'nav-local-lg-up'        