<div class="facet">
  <div class="facet-heading">
    <a href="#facet-date" class="facet-title" data-toggle="collapse">Date ${require-svg('chevron-down')}</a>
  </div>
  <div class="facet-body collapse show" id="facet-date">
    <form class="form" method="GET">
      <input type="hidden" name="collection" value="intranet-student-events">
      <input type="hidden" name="form" value="student-search-en">
      <fieldset>
        <legend class="d-none" aria-label="date">Date</legend>
        <div class="control-group">
          <label class="control-label" for="fromDate">From</label>
          <div class="controls">
            <input placeholder="yyyy-mm-dd" type="date" name="fromDate" id="fromDate">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="toDate">To</label>
          <div class="controls">
            <input placeholder="yyyy-mm-dd" type="date" name="toDate" id="toDate">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
      </fieldset>
    </form>
  </div>
</div>