<ul class="nav nav-facets">
  <li class="facet"><a href="#"><span class="badge badge-facet count">4</span>Help and Support</a></li>
  <li class="facet"><a href="#"><span class="badge badge-facet count">8</span>Administration</a></li>
  <li class="facet"><a href="#"><span class="badge badge-facet count">15</span>Communication</a></li>
  <li class="facet"><a href="#"><span class="badge badge-facet count">16</span>Media</a></li>
  <li class="facet"><a href="#"><span class="badge badge-facet count">23</span>Research</a></li>
  <li class="facet"><a href="#"><span class="badge badge-facet count">42</span>Software</a></li>
</ul>