<a class="btn btn-lg btn-block btn-filter d-block ad-md-none" id="launch-facet-menu-popup" href="#">Filter
	Results</a>
<div class="facet facet-popup d-none" id="facet-menu-popup">
	<div class="facet-heading">
		<h1 class="facet-title">Filter results ${require-svg('close')}</h1>
	</div>
	<div class="facet-body">
		<ul class="facet-items">
			<li class="facet-group-title" data-facet="facet-popup-news-type"><a href="#">News type</a></li>
			<li class="facet-group-title" data-facet="facet-popup-Year"><a href="#">Browse by date</a></li>
			<li class="facet-group-title" data-facet="facet-popup-category"><a href="#">Filter by category</a></li>
		</ul>
		<div class="facet-actions">
		</div>
	</div>
</div>
<div class="facet facet-popup d-none" id="facet-popup-news-type">
	<div class="facet-heading">
		<a href="#facet-news-type-popup" class="facet-title">News type</a>
	</div>
	<div class="facet-body" id="facet-news-type-popup">
		<form class="form" method="GET">
			<input type="hidden" name="collection" value="intranetnews">
			<fieldset>
				<legend class="d-none" aria-label="news">News</legend>
				<ul class="facet-items">
					<li class="facet-item  active">
						<input id="facet-Year-all-news" type="radio" checked="checked" name="f.Year|year" value="">
						<label for="facet-Year-all-news">All years</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2020" type="radio" name="f.Year|year" value="2020">
						<label for="facet-Year-2020">2020</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2021" type="radio" name="f.Year|year" value="2021">
						<label for="facet-Year-2021">2021</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2022" type="radio" name="f.Year|year" value="2022">
						<label for="facet-Year-2022">2022</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2023" type="radio" name="f.Year|year" value="2023">
						<label for="facet-Year-2023">2023</label>
					</li>
				</ul>
				<div class="facet-actions">
					<button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
					<button type="submit" class="btn btn-lg btn-primary">Apply</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="facet facet-popup d-none" id="facet-popup-Year">
	<div class="facet-heading">
		<a href="#facet-Browse-by-date" class="facet-title">Browse by date</a>
	</div>
	<div class="facet-body" id="facet-Browse-by-date">
		<form class="form" method="GET">
			<input type="hidden" name="collection" value="intranetnews">
			<fieldset>
				<legend class="d-none" aria-label="date">Date</legend>
				<ul class="facet-items">
					<li class="facet-item  active">
						<input id="facet-Year-browse-by-date" type="radio" checked="checked" name="f.Year|year"
							value="">
						<label for="facet-Year-browse-by-date">All years</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2020a" type="radio" name="f.Year|year" value="2020">
						<label for="facet-Year-2020a">2020</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2019a" type="radio" name="f.Year|year" value="2019">
						<label for="facet-Year-2019a">2019</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2018a" type="radio" name="f.Year|year" value="2018">
						<label for="facet-Year-2018a">2018</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2017a" type="radio" name="f.Year|year" value="2017">
						<label for="facet-Year-2017a">2017</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2016a" type="radio" name="f.Year|year" value="2016">
						<label for="facet-Year-2016a">2016</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2015a" type="radio" name="f.Year|year" value="2015">
						<label for="facet-Year-2015a">2015</label>
					</li>
					<li class="facet-item  ">
						<input id="facet-Year-2014a" type="radio" name="f.Year|year" value="2014">
						<label for="facet-Year-2014a">2014</label>
					</li>
				</ul>
				<div class="facet-actions">
					<button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
					<button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="facet facet-popup d-none" id="facet-popup-category">
	<div class="facet-heading">
		<a href="#facet-Category-popup" class="facet-title" aria-label="Filter by category mobile">Filter by
			category</a>
	</div>
	<div class="facet-body" id="facet-Category-popup">
		<form action="" method="GET" role="search">
			<input type="hidden" name="collection" value="intranet-applications">
			<input type="hidden" name="form" value="search-en">
			<input type="hidden" name="facetScope" value="">
			<fieldset>
				<legend class="d-none" aria-label="category">Category</legend>
				<ul class="facet-items">
					<li class="facet-item">
						<input id="facet-Category-administration" type="checkbox" name="f.Category|C"
							value="administration">
						<label for="facet-Category-administration">Administration</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-collaboration" type="checkbox" name="f.Category|C"
							value="collaboration">
						<label for="facet-Category-collaboration">Collaboration</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-communication" type="checkbox" name="f.Category|C"
							value="communication">
						<label for="facet-Category-communication">Communication</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-help_and_support" type="checkbox" name="f.Category|C"
							value="help and support">
						<label for="facet-Category-help_and_support">Help and support</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-it_utilities" type="checkbox" name="f.Category|C"
							value="it utilities">
						<label for="facet-Category-it_utilities">IT utilities</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-libraries" type="checkbox" name="f.Category|C" value="libraries">
						<label for="facet-Category-libraries">Libraries</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-media" type="checkbox" name="f.Category|C" value="media">
						<label for="facet-Category-media">Media</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-research" type="checkbox" name="f.Category|C" value="research">
						<label for="facet-Category-research">Research</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-software" type="checkbox" name="f.Category|C" value="software">
						<label for="facet-Category-software">Software</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-studying" type="checkbox" name="f.Category|C" value="studying">
						<label for="facet-Category-studying">Studying</label>
					</li>
					<li class="facet-item">
						<input id="facet-Category-teaching_and_learning" type="checkbox" name="f.Category|C"
							value="teaching and learning">
						<label for="facet-Category-teaching_and_learning">Teaching and learning</label>
					</li>
				</ul>
				<div class="facet-actions">
					<button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
					<button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
				</div>
			</fieldset>

		</form>
	</div>
</div>