<div class="facet">
  <div class="facet-heading">
    <a href="#facet-Category" class="facet-title" data-toggle="collapse" aria-label="Filter by category">Filter by
      category ${require-svg('chevron-down')}</a>
  </div>
  <div class="facet-body show collapse" id="facet-Category" style="height: auto;">
    <ul class="facet-items">
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Administration</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Communication</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Media</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Research</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Software</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Hardware</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Teaching</a></li>
      <li class="facet-item"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Software</a></li>
      <li class="facet-item d-none"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Hardware</a></li>
      <li class="facet-item d-none"><a href="#" tabindex="0">${require-svg('checkbox-unticked')}Teaching</a></li>
    </ul>
    <a href="#" class="facet-show-more" data-facet="facet-Category" tabindex="0">Show all categories</a>
  </div>
</div>