<div class="facet facet-radio">
  <div class="facet-heading">
    <h3 class="facet-title">Browse by date</h3>
  </div>
  <div class="facet-body" id="facet-Year">
    <ul class="facet-items">
      <li class="facet-item active">
        <a href="#" class="facet-item-title">
          ${require-svg('radio-full')}All years
        </a>
      </li>
      <li class="facet-item">
        <a href="#" class="facet-item-title">
          ${require-svg('radio-empty')}2019
        </a>
      </li>
      <li class="facet-item">
        <a href="#" class="facet-item-title">
          ${require-svg('radio-empty')}2018
        </a>
      </li>
      <li class="facet-item">
        <a href="#" class="facet-item-title">
          ${require-svg('radio-empty')}2017
        </a>
      </li>
      <li class="facet-item">
        <a href="#" class="facet-item-title">
          ${require-svg('radio-empty')}2016
        </a>
      </li>
      <li class="facet-item">
        <a href="#" class="facet-item-title">
          ${require-svg('radio-empty')}2015
        </a>
      </li>
    </ul>
  </div>
</div>