<div class="facet facet-type">
  <div class="facet-body" id="facet-type">
    <ul class="facet-items">
      <li class="facet-item all active"><a href="#" class="facet-item-title">All types <span
            class="count">(766)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">
          ${require-svg('globe')}Pages <span class="count">(350)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('profile')}People
          <span class="count">(177)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('file')}Documents
          <span class="count">(138)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('news')}News <span
            class="count">(80)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('book')}Library
          databases <span class="count">(12)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('users')}Teams <span
            class="count">(7)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('applications')}Applications <span
            class="count">(1)</span></a></li>
      <li class="facet-item"><a href="#" class="facet-item-title">${require-svg('schools')}Facilities
          <span class="count">(1)</span></a></li>
    </ul>
  </div>
</div>