<nav class="nav-breadcrumb" aria-label="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">News</a></li>
            <li aria-hidden="true" class="breadcrumb-item-separator">
              ${require-svg('chevron-right')}
            </li>
            <li class="breadcrumb-item" aria-current="page">Research integrity update</li>
          </ol>
      </div>
    </div>
  </div>
</nav>