<div style="height: 100px"></div>
${require('variations/personalised-standardpage-container.html')}
<h3>^^ Personalised Standard Page Container</h3>
<div class="col-md-6">
    <h3>Personalised Content Container</h3>
    ${require('variations/personalised-content-container.html')}
    <h3>Personalised Content Container No School Container</h3>
    ${require('variations/personalised-content-container-no-school-container.html')}
</div>
<h3>Personalised school container in col-md-9</h3>
<div class="col-md-9">
    ${require('variations/personalised-school-container.html')}
</div>