<h3>Static Accordion</h3>
${require('variations/accordion.html')}
<h2>Squiz Accordion Dynamic</h2>
${require('variations/accordion-squiz.html')}
<h2>Accordion large</h2>
${require('variations/accordion-large.html')}