// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $btn-bg-colour;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    background-color: $btn-bg-colour-hover;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $variation, $bgColour, $colour, $colourHover, $borderColour, $bgHover in $btn-colours {
  .btn-#{$variation} {
    @include button-variant($bgColour, $borderColour, $bgHover);
    color: $colour;
    
    .icon {
      fill: $colour;
    }

    &:active:not(.disabled):not(:disabled),
    &:focus,
    &:hover {
      color: $colourHover;
      background-color: $bgHover;

      .icon {
        fill: $colourHover;
      }
    }
  }
}

@each $variation, $bgColour, $colour, $colourHover, $borderColour, $bgHover in $btn-colours {
  .btn-outline-#{$variation} {
    background-color: transparent;
    @include button-outline-variant($bgColour);

    .icon {
      fill: $bgColour;
    }

    &:active:not(.disabled):not(:disabled),
    &:focus,
    &:hover {
      color: $colourHover;
      background-color: $bgHover;

      .icon {
        fill: $colourHover;
      }
    }
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
