.modal
  &-header
    h3
      font-size: map-get($font17, 'size')

    &.modal-image
      padding: $baseUnit*1.2 $baseUnit*1.5 $baseUnit*2.2 $baseUnit*1.5
      border-bottom: 0

    .close
      margin: $baseUnit*0.2 0 0 0
      padding: 0
      opacity: 0.5
      .icon
        @include square(map-get($svgWidths, "xs"))
        margin: 0
  
      &:hover,
      &:focus
        text-decoration: none
        cursor: pointer
        opacity: 0.4
 
  &-content
    background-clip: border-box

  &-body 
    overflow-y: auto
    max-height: none
    padding: ($baseUnit*1.5)
    
    .image 
      margin: 0
    
    .image.float-left 
      margin: 0 ($baseUnit*2) ($baseUnit*2) 0
    
    .image.float-right 
      margin: 0 0 ($baseUnit*2) ($baseUnit*2)
  
  &-form
    margin-bottom: 0

  &-footer
    @include border-radius(0)
    @include clearfix()
    padding: $baseUnit*1.4 $baseUnit*1.5 $baseUnit*1.5
    margin-bottom: 0
    border-top: 0
    text-align: right
    background-color: $colourGreyLightest
    box-shadow: inset 0 $baseUnit*0.1 0 $colourWhite
    
    .btn + .btn 
      margin-left: ($baseUnit*0.5)
      margin-bottom: 0
    
    .btn-group .btn + .btn 
      margin-left: -$baseUnit*0.1

    .btn-block + .btn-block 
      margin-left: 0

  &.modal-image 
    .close 
      @include square($baseUnit*4)
      line-height: ($baseUnit*4)
      opacity: 1
      position: absolute
      top: ($baseUnit*-0.5)
      right: $baseUnit
      background-color: $colourBlack
      text-align: center
      padding: 0
      z-index: 1

      &:hover
        opacity: 1

      .icon-close 
        margin-top: ($baseUnit*0.5)
        margin-left: ($baseUnit*0.5)

        .icon
          fill: $colourWhite

    .modal-body
      padding: 0

    .image
      img
        width: 100%

@import "modal-md-up"
@import "modal-lg-up"