@media #{$breakpoint-lg-up}
  .modal
    .modal-header,
    &.modal-image 
      button 
        &:focus,
        &:not(:disabled):not(.disabled):focus
          background-color: $colourSweetCorn
          outline: none
          opacity: 1
          outline: $baseUnit*0.3 solid $colourSweetCorn

    &.modal-image
      button
        &:focus,
        &:not(:disabled):not(.disabled):focus
          background: $colourBlack