<a href="#" class="btn" data-toggle="tooltip" data-placement="top" title="Top tooltip content">Top</a>
<a href="#" class="btn" data-toggle="tooltip" data-placement="right" title="Right tooltip content">Right</a>
<a href="#" class="btn" data-toggle="tooltip" data-placement="bottom" title="Bottom tooltip content">Bottom</a>
<a href="#" class="btn" data-toggle="tooltip" data-placement="left" title="Left tooltip content">Left</a>
