<section class="box box-related" id="posts">
  <header class="box-header">
    <h2 class="box-title">Take part in research</h2>
  </header>
  <div class="box-body">
    <ul class="media-list-small">
      <li class="media">
        <div class="media-body">
          <p><a href="https://www.yammer.com/cardiff.ac.uk/messages/587732940832768" target="_blank"
              rel="noopener noreferrer">Sending on behalf of a student who is struggling to find participants:
              "Hi Everyone! I am looking for participants aged 18-30, fluent in...</a></p>
          <div class="media-author">Posted by Cariad Sealey | <time class="date media-meta-date"
              datetime="2020-03-12 08:43:33">25 days ago</time></div>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><a href="https://www.yammer.com/cardiff.ac.uk/messages/585358064410624" target="_blank"
              rel="noopener noreferrer">***PARTICIPANTS WANTED*** March - April 2020
              WANT TO SLEEP FOR SCIENCE (and get paid £60 for it)?!
              We are looking for healthy participants...</a></p>
          <div class="media-author">Posted by Sofia Pereira | <time class="date media-meta-date"
              datetime="2020-03-10 17:24:19">27 days ago</time></div>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><a href="https://www.yammer.com/cardiff.ac.uk/messages/583436824805376" target="_blank"
              rel="noopener noreferrer">Hi all!
              We are looking for healthy (and English native speaker) participants interested in being part in a
              creativity and sleep study! --...</a></p>
          <div class="media-author">Posted by Viviana Greco | <time class="date media-meta-date"
              datetime="2020-03-09 09:35:44">28 days ago</time></div>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><a href="https://www.yammer.com/cardiff.ac.uk/messages/576264581627904" target="_blank"
              rel="noopener noreferrer">We are looking for ENGLISH NATIVE SPEAKER participants for a short memory
              experiment, hope you will be interested in taking part in.
              Please...</a></p>
          <div class="media-author">Posted by Zixi Jin | <time class="date media-meta-date"
              datetime="2020-03-04 10:50:45">1 month ago</time></div>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><a href="https://www.yammer.com/cardiff.ac.uk/messages/573826651209728" target="_blank"
              rel="noopener noreferrer">New CUBRIC Sleep study.
              See poster for more info.
              No sleeping in the lab!
              Get paid £200!</a></p>
          <div class="media-author">Posted by Holly Kings | <time class="date media-meta-date"
              datetime="2020-03-02 18:28:53">1 month ago</time></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="box-footer">
    <p><a href="https://www.yammer.com/cardiff.ac.uk/#/threads/inGroup?type=in_group&amp;feedId=8237225" target="_blank"
        rel="noopener noreferrer">See more from "Take part in research" on Yammer</a></p>
  </div>
</section>