.progress
  margin-bottom: 1.5rem
  background-image: linear-gradient(to bottom, darken($colourWildSandGrey, 0), lighten($colourGreySofter, 1%))
  box-shadow: inset 0 1px 2px rgba($colourBlack, 0.1)
  
  &-wrapper
    padding: 0

  &-title 
    font-family: $brandFamily
    font-size: map-get($font15, 'size')
    text-transform: uppercase
    letter-spacing: $baseUnit*0.05
    margin-bottom: ($baseUnit/2)
    color: $colourGrey

    &-info 
      font-family: $brandFamily
      font-size: map-get($font15, 'size')
      text-transform: none
      letter-spacing: 0
      margin-top: 0
      margin-bottom: ($baseUnit/2)
      color: $colourGrey