<div class="circle-navigation">
  <ol class="circle-navigation" data-graphname="10475345" data-graphbasebgcolour="#333333" data-graphfgcolour="#FFFFFF"
    data-labelfontsize="14">
    <li>
      <a href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/assessment-and-feedback/designing-assessments">Designing assessments</a>
    </li>
    <li>
      <a href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/assessment-and-feedback/setting-and-holding-assessments">Setting and holding assessments</a>
    </li>
    <li>
      <a href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/assessment-and-feedback/preparing-and-supporting-students">Preparing and supporting students</a>
    </li>
    <li>
      <a href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/assessment-and-feedback/marking-assessments">Marking assessments</a>
    </li>
    <li>
      <a href="https://intranet.cardiff.ac.uk/staff/teaching-and-supporting-students/assessment-and-feedback/Providing-feedback">Providing feedback</a>
    </li>
  </ol>
</div>