.toolbox
  width: 100%
  background-color: $colourWhite
  padding: $baseUnit*2 $baseUnit $baseUnit*3 $baseUnit*2
  border-radius: $baseUnit*0.5

  .toolbox
    &-links 
      margin: 0 #{-$baseUnit*0.75} $baseUnit*0.5
      display: flex
      flex-wrap: wrap
    
    &-item
      padding: 0 $baseUnit*0.75
      margin-bottom: $baseUnit*2
      width: 100%

      &-name
        width: 100%

      a
        display: flex
        flex-shrink: 0
        color: $colourGreyDarker
        font-size: 1.125rem
        cursor: pointer
        text-decoration: none
        align-items: center

        .icon, path
          fill: $colourWhite

        .icon
          @include square(50px)
          padding: $baseUnit*1.1
          margin-right: $baseUnit
          border-radius: $baseUnit*0.5
          background-color: $colourBostonBlue
          flex-shrink: 0
          transition: background $appsRemoveDuration $appsRemoveTiming

        &:hover
          text-decoration: none

          .icon
            background-color: $colourJellyBean

      &.empty
        a:hover
          .icon
            path
              fill: $colourWhite
            
        .icon
          background-color: rgba($colourJellyBean, 0.5)
          padding: $baseUnit*1.5

          path
            fill: $colourLochinvar

  &-edit
    display: inline-block
    font-size: 1.125rem

    .icon
      @include square(map-get($svgWidths, '20'))
      fill: $colourPickledBluewood
      margin: 0 $baseUnit $baseUnit*0.3 0

@import 'toolbox-380-up'
@import 'toolbox-md-up'
@import 'toolbox-xl-up'