@media #{$breakpoint-md-up}
  .toolbox
    padding: $baseUnit*3.5 $baseUnit*4 0
    border-radius: $baseUnit
    box-shadow: 0 0 $baseUnit 0 rgba($colourBlack, 0.1)

    .toolbox
      &-links
        margin: 0 #{-$baseUnit*2.5}
        padding-bottom: $baseUnit*0.5

      &-item
        width: 25%
        flex-basis: 25%
        margin-bottom: $baseUnit*3
        padding: 0
    
        a
          flex-direction: column
          text-align: center
          height: unset
          margin: 0 auto
          width: 120px
          
          .icon
            @include square(120px)
            padding: $baseUnit*2.5
            margin: 0 0 $baseUnit
            align-self: center

        &.empty
          .icon
            padding: $baseUnit*5

    &-edit
      margin: $baseUnit*2.5 0 0