.media
  margin: $baseUnit*1.5 0 $baseUnit*2 0

  &.float,
  .float
    &-left
      margin-right: $baseUnit

    &-right
      margin-left: $baseUnit

  &-object 
    display: block

  &-heading 
    margin: 0 0 $baseUnit*0.5

  &-list-small 
    margin-left: 0
    list-style: none

    .media
      word-break: break-word

      .media-author
        font-family: $headingsFontFamilyLight
        font-size: map-get($font14, 'size')
        line-height: 1.25rem
        margin-bottom: 0
        margin-top: $baseUnit*0.5

        .media-meta-date 
          font-family: $brandFamily
          font-size: map-get($font13, 'size')
          line-height: map-get($font17, 'normal')
          color: $colourGreyDarkest
        
      .media-reply 
        margin-bottom: $baseUnit
        margin-top: $baseUnit*0.5

  &:first-child
    margin-top: 0

.media,
.media-body 
  overflow: hidden
  zoom: 1

@import 'media-lg-up'