@media #{$breakpoint-lg-up}      
  .media-list 
    .media 
      a 
        &:focus 
          outline: $baseUnit*0.2 solid $colourSweetCorn
          background-color: $colourTransparent
          box-shadow: none

          img 
            box-shadow: none
          
      .media-body 
        a 
          &:focus 
            background-color: $colourSweetCorn
            color: $colourBlack
            outline: none
            box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn
            text-decoration: none
          
        .media-reply 
          a 
            &:focus 
              color: $colourLink