@media #{$breakpoint-lg-only}
  .header-global
    padding: 0

    &-user
      right: 110px

    form
      .search-form
        margin-right: $baseUnit*10

        &-container
          width: 240px