.header-global
  background-color: $colourPickledBlueWood
  z-index: $zindex-modal-backdrop + 10
  position: relative

  &-mobile
    &-search
      background-color: $colourGreySofter
      padding: 0 $baseUnit*2.7
      z-index: $zindex-modal-backdrop + 10
      position: relative

      .search
        &-form
          &-container
            margin: 0

      form
        margin-bottom: 0
        padding-bottom: $baseUnit*6

      &-title
        font-size: map-get($font30, 'size')
        font-family: $headingsFontFamilyLight
        color: $colourBlack
        margin: 0 0 $baseUnit*1.3
        padding: $baseUnit*5 0 0

  &-container
    height: $mobileHeaderHeight

    .search
      &-form
        display: none

  .menu-open,
  .search-open
    background-color: $colourComet

  &-control
    padding: $baseUnit*2
    width: 70px
    border-left: $baseUnit*0.1 solid $colourWhite
    cursor: pointer

    .icon
      @include square(map-get($svgWidths, 'lg'))
      fill: $colourWhite
      margin: auto

    &-menu
      .icon
        .bar
          &:nth-child(4),
          &:nth-child(2)
            transform: rotate(0)
            transition: transform $mobileMenuBurgerDuration $mobileMenuBurgerTiming $mobileMenuBurgerDelay

          &:nth-child(3)
            transform: scale(1)
            transition: transform $mobileMenuBurgerMiddleDuration $animationCubic $mobileMenuBurgerMiddleDelay
                    
      &.menu-open
        .icon
          .bar
            &:nth-child(3)
              transform: scale(0)

            &:nth-child(4)
              transform: rotate(-45deg) translate(-11px, -2px)
      
            &:nth-child(2)
              transform: rotate(45deg) translate(2px, -5px)  

  &-brand
    display: flex
    align-items: center
    font-family: $headingsFontFamilyLight
    color: $colourWhite
    font-size: map-get($font20, "size")
    text-decoration: none
    padding: $baseUnit*1.5

    &:hover
      text-decoration: none
      color: $colourWhite

    svg
      @include square(map-get($svgWidths, 'xxl'))
      flex-shrink: 0
      margin-right: $baseUnit

  .search-form
    .search-form
      &-query,
      &-clear
        border-radius: 0
      
      &-query
        border: $baseUnit*0.1 solid $colourDustyGrey
    
      &-clear
        margin: $baseUnit*0.1 $baseUnit*0.1 $baseUnit*0.1 0

@import "header-global-sm-up"
@import "header-global-md-up"
@import "header-global-lg-up"
@import "header-global-lg-only" 
@import 'header-global-xl-up'