@media #{$breakpoint-lg-up}
  .header-global
    background-color: $colourWhite

    a
      color: $colourGreyDarker

      &:focus
        box-shadow: $focus-box-shadow
        background-color: $colourSweetCorn

    &-container
      position: relative
      max-width: map-get($container-max-widths, "lg")
      margin: 0 auto
      align-items: center
      height: 110px
      padding: 0 $baseUnit*1.5

      .search
        &-form
          display: block

          &-clear
            &:focus
              box-shadow: 0 0 0 0 $colourSweetCorn
          
          &-container
            width: 364px         

      .dropdown
        &-menu
          margin-top: $baseUnit
          border: $baseUnit*0.1 solid $colourDustyGrey
          border-radius: 0
          min-width: 135px
          padding: 0

          &:before            
            content: ''
            display: inline-block
            border-left: $baseUnit*0.7 solid transparent
            border-right: $baseUnit*0.7 solid transparent
            border-bottom: $baseUnit*0.7 solid $colourDustyGrey
            position: absolute
            top: -7px
            left: 5px

          &:after
            content: ''
            display: inline-block
            border-left: $baseUnit*0.6 solid transparent
            border-right: $baseUnit*0.6 solid transparent
            border-bottom: $baseUnit*0.6 solid $colourWhite
            position: absolute
            top: -6px     
            left: 6px

        &-item
          line-height: map-get($font17, 'line-height')
          font-size: map-get($font15, 'size')
          margin: $baseUnit*0.5
          padding: $baseUnit*0.5 0 $baseUnit*0.5 $baseUnit*1.5
          color: $colourGreyDarker
          background-color: $colourTransparent
          display: block
          width: auto

    &-brand
      padding: 0
      font-size: 1.875rem

      &:hover
        color: $colourGreyDarker

      .icon
        margin-right: $baseUnit

    &-user,
    &-context
      .icon:first-of-type
        @include square(20)

      &:hover
        text-decoration: none

    &-user
      position: absolute
      right: 130px
      top: 43px

      .icon
        fill: $colourSilver

        &:last-of-type
          @include square(map-get($svgWidths, 'xxs'))
          fill: $colourGreyDarker
          margin-bottom: $baseUnit*0.2

      &-name
        max-width: 100px
        text-overflow: ellipsis
        display: inline-block
        white-space: nowrap
        overflow-x: hidden
        vertical-align: bottom
        margin-right: $baseUnit*0.5

    &-context
      text-decoration: none
      font-size: 1.125rem