@media #{$breakpoint-sm-up}
  .header-global
    &-control
      width: 90px

    &-brand
      font-size: 1.625rem
      padding: $baseUnit*2 $baseUnit*1.5

      .icon
        margin-right: $baseUnit*1.5