<div class="  tab-pane squiz-bodycopy" desc="Mandatory courses" id="mandatory_courses_1130885">
  <h3>Mandatory courses for all staff</h3>
  <table class="table" id="table12578">
    <thead>
      <tr>
        <th style="width: 10%;">Role</th>
        <th style="width: 25%;">Course</th>
        <th>Delivery</th>
        <th>Frequency</th>
        <th> Course information</th>
        <th id="table12578r1c6">Enquiries</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table12578r1c1">
          All staff
        </td>
        <td headers="table12578r1c2">
          Equality, Diversity and Inclusion
        </td>
        <td headers="table12578r1c3">
          Online training
        </td>
        <td headers="table12578r1c4">Every 3 years</td>
        <td headers="table12578r1c5"><a
            href="https://learningcentral.cf.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1">Learning
            Central</a></td>
        <td headers="table12578r1c6"><a href="mailto:staffdevelopment@cardiff.ac.uk">staffdevelopment@cardiff.ac.uk</a>
        </td>
      </tr>
      <tr>
        <td headers="table12578r1c1">All staff</td>
        <td headers="table12578r1c2">Counter-Fraud and Anti-Bribery</td>
        <td headers="table12578r1c3">Online training</td>
        <td headers="table12578r1c4">Every 3 years</td>
        <td headers="table12578r1c5"><a
            href="https://learningcentral.cf.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1">Learning
            Central</a></td>
        <td headers="table12578r1c6"><u><a
              href="mailto:AssuranceServices@cardiff.ac.uk">assuranceservices@cardiff.ac.uk</a></u></td>
      </tr>
      <tr>
        <td headers="table12578r1c1">
          All staff
        </td>
        <td headers="table12578r1c2">
          Information Security training
        </td>
        <td headers="table12578r1c3">
          Online training
        </td>
        <td headers="table12578r1c4">Annually</td>
        <td headers="table12578r1c5"><a
            href="https://learningcentral.cf.ac.uk/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_1_1"
            target="_blank">Learning Central</a></td>
        <td headers="table12578r1c6"><a href="mailto:ISF@cardiff.ac.uk">isf@cardiff.ac.uk</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="  tab-pane squiz-bodycopy" desc="Strongly recommended courses" id="strongly_recommended_courses_1130960">
  <h3>Strongly recommended courses for all staff</h3>
  <table class="table" id="table12578">
    <thead>
      <tr>
        <th id="table12578r1c1" style="width: 10%;">Role</th>
        <th id="table12578r1c2" style="width: 25%;">Course</th>
        <th id="table12578r1c3">Delivery</th>
        <th id="table12578r1c4"> Course information</th>
        <th id="table12578r1c5">Enquiries</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table12578r1c1">
          All staff
        </td>
        <td headers="table12578r1c2">
          Fundamentals of Safety, Health and Environmental Management
        </td>
        <td headers="table12578r1c3">
          Classroom
        </td>
        <td headers="table12578r1c4"><a
            href="https://intranet.cardiff.ac.uk/staff/your-employment/training-and-development/training-courses/health-and-safety-training-courses"
            target="_blank">Health and Safety Courses</a></td>
        <td headers="table12578r1c5"><a href="mailto:safety@cardiff.ac.uk">safety@cardiff.ac.uk</a></td>
      </tr>
      <tr>
        <td headers="table12578r1c1">
          All staff
        </td>
        <td headers="table12578r1c2">
          PDR online modules: An introduction to the University's PDR setting objectives and giving feedback
        </td>
        <td headers="table12578r1c3">
          e-learning
        </td>
        <td headers="table12578r1c4"><a
            href="https://intranet.cardiff.ac.uk/staff/your-employment/your-performance/performance-development-review">Performance
            Development Review (PDR)</a></td>
        <td headers="table12578r1c5"><a href="mailto:staffdevelopment@cardiff.ac.uk">staffdevelopment@cardiff.ac.uk</a>
        </td>
      </tr>
      <tr>
        <td headers="table12578r1c1">All staff</td>
        <td headers="table12578r1c2">
          <div>An introduction to the Prevent duty</div>
        </td>
        <td headers="table12578r1c3">Online training</td>
        <td headers="table12578r1c4"><a
            href="https://learningcentral.cf.ac.uk/webapps/blackboard/content/listContent.jsp?course_id=_380339_1&amp;content_id=_4482980_1">Learning
            Central</a></td>
        <td headers="table12578r1c5"><a href="mailto:SSW-HR@cardiff.ac.uk">SSW-HR@cardiff.ac.uk</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="  tab-pane squiz-bodycopy" desc="Recommended courses" id="recommended_courses_1130969">
  <h3>Recommended all staff courses</h3>
  <table class="table" id="table75953" style="width: 100%;" border="0">
    <thead>
      <tr>
        <th id="table75953r1c1" style="width: 10%;">Role</th>
        <th id="table75953r1c2" style="width: 25%;">Course</th>
        <th id="table75953r1c3">Delivery</th>
        <th id="table75953r1c4"> Course information</th>
        <th id="table75953r1c5">Enquiries</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table75953r1c1">
          All staff
        </td>
        <td headers="table75953r1c2">
          Top tips for PDR reviewees
        </td>
        <td headers="table75953r1c3">
          Classroom
        </td>
        <td headers="table75953r1c4"><a
            href="https://intranet.cardiff.ac.uk/staff/your-employment/training-and-development/training-courses/leadership-and-management">Leadership
            and Management</a></td>
        <td headers="table75953r1c5"><a href="mailto:staffdevelopment@cardiff.ac.uk">staffdevelopment@cardiff.ac.uk</a>
        </td>
      </tr>
      <tr>
        <td headers="table75953r1c1">
          All staff
        </td>
        <td headers="table75953r1c2">
          Getting the&nbsp; best out of PDR for reviewees
        </td>
        <td headers="table75953r1c3">
          Classroom
        </td>
        <td headers="table75953r1c4"><a
            href="https://intranet.cardiff.ac.uk/staff/your-employment/training-and-development/training-courses/leadership-and-management">Leadership
            and Management</a></td>
        <td headers="table75953r1c5"><a href="mailto:staffdevelopment@cardiff.ac.uk">staffdevelopment@cardiff.ac.uk</a>
        </td>
      </tr>
      <tr>
        <td headers="table75953r1c1">All staff</td>
        <td headers="table75953r1c2">Safeguarding awareness and procedure</td>
        <td headers="table75953r1c3">PDR</td>
        <td headers="table75953r1c4"><a
            href="https://intranet.cardiff.ac.uk/staff/your-employment/training-and-development/training-courses/safeguarding-children-and-adults-at-risk">Safeguarding
            children and adults at risk</a></td>
        <td headers="table75953r1c5">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>