<div class="tabbable tabs-left">
    <ul class="nav flex-column nav-tabs">
      <li class="nav-item"><a class="nav-link" href="#lA" data-toggle="tab">Section 1</a></li>
      <li class="nav-item"><a class="nav-link active" href="#lB" data-toggle="tab">Section 2</a></li>
      <li class="nav-item"><a class="nav-link" href="#lC" data-toggle="tab">Section 3</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="lA">
        <p>Tab content for section 1.</p>
      </div>
      <div class="tab-pane active" id="lB">
        <p>Tab content for section 2.</p>
      </div>
      <div class="tab-pane" id="lC">
        <p>Tab content for section 3.</p>
      </div>
    </div>
  </div>