<ul class="nav nav-tabs">
  <li class="nav-item "><a class="nav-link active" href="#section1" data-toggle="tab">Section 1</a></li>
  <li class="nav-item"><a class="nav-link" href="#section2" data-toggle="tab">Section 2</a></li>
  <li class="nav-item"><a class="nav-link" href="#section3" data-toggle="tab">Section 3</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="section1">
    <p>Tab content for section 1.</p>
  </div>
  <div class="tab-pane" id="section2">
    <p>Tab content for section 2.</p>
  </div>
  <div class="tab-pane" id="section3">
    <p>Tab content for section 3.</p>
  </div>
</div>