<div class="col-md-4">
	<section class="box box-files" aria-label="Related downloads section">
		<header class="box-header">
			<h2 class="box-title">Downloads test</h2>
		</header>
		<div class="box-body">
			<ul class="list list-icons">${require-svg('file')}Document
				<li data-assetid="1370052" data-paintlayoutid="17407" data-status="Live"><a href="">Transforming Cardiff
						presentation slides</a></li>
				<li data-assetid="1425712" data-paintlayoutid="17407" data-status="Live"><a href="">Letter from the
						Vice-Chancellor</a></li>
				<br>
			</ul>
		</div>
	</section>
</div>