<div class="box box-event" data-assetid="2252291">
  <div class="box-event-date">
    <time class="box-event-date-day" datetime="2020-06-03 11:00:00">03</time>
    <time class="box-event-date-month" datetime="2020-06-03 11:00:00">Jun</time>
    <time class="box-event-date-year" datetime="2020-06-03 11:00:00">2020</time>
  </div>
  <div class="box-body">
    <span class="box-title"><a href="https://intranet.cardiff.ac.uk/intranet/staff/intranet-events/2252291-online-drop-in-remote-assessment">Online drop-in: Remote Assessment </a></span>
    <ul class="list unstyled">
      <li class="box-body-time">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>Clock</title><path d="M16,0a16,16,0,1,1,0,32A16,16,0,1,1,16,0Zm7.41,20.59L18,15.16V8H14v8.84l6.59,6.56Z" transform="translate(0)"></path></svg><span>11:00-12:00</span>
      </li>
    </ul>
  </div>
</div>