<div class="row">
  <div class="col-md-6">
    <div class="feature-item box box-feature fill-height">
      <header class="box-header">
        ${require-svg('star-outline')}
        <h2 class="box-title">Featured</h2>
      </header>
      <div class="box-body">
        <h3>
          <a class="box-body-title" href="#" aria-label="Transforming Cardiff">New workload allocation model</a>
        </h3>
        <p>
          The proposed new academic workload allocation model is the result of the workload modelling review which took
          place between February and May 2019.
          Find out more about the changes that are proposed.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="feature-item box box-feature fill-height">
      <header class="box-header">
        ${require-svg('star-outline')}
        <h2 class="box-title">Featured</h2>
      </header>
      <div class="box-body">
        <div class="icon-personalisation">${require-svg('personalisation')}</div>
        <h3>
          <a class="box-body-title" href="#" aria-label="Transforming Cardiff">New workload allocation model</a>
        </h3>
        <p>
          Find out more about the changes that are proposed.
        </p>
      </div>
    </div>
  </div>
</div>