<div class="col-md-3">
  <section class="box box-calltoaction with-image">
    <header class="box-header">
      <a href="#">
        <img
          src="https://cardiff.imgix.net/__data/assets/image/0015/531231/ALT.jpg?w=570&h=321&fit=crop&q=60&auto=format"
          sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
          alt="Google map of Main Building area">
      </a>
      <h1 class="box-title"><a class="ga-event" href="" data-action="click" data-category="Call to action"
          data-label="Find your way around">Membership to the Association of Learning Technologists</a></h1>
    </header>
    <div class="box-body">We have now joined the Association for Learning Technology (ALT) as an organisational member -
      join now for free as an associate member.</div>
    <!--Link button-->
    <div class="box-footer"><a class="btn btn-primary btn-sm ga-event" href="" data-action="click"
        data-category="Call to action" data-label="Find your way around">View map</a></div>
  </section>
</div>