<section class="box with-icon col-md-3">
  <header class="box-header">
    ${require-svg('applications')}
    <h1 class="box-title">Applications</h1>
  </header>
  <div class="box-body">
    <section class="teaser teaser-small with-links">
      <div class="teaser-body">
        <h1 class="teaser-title">
          <a class="ga-event" data-category="Applications" data-action="click"
            data-label="Mentimeter - audience response tool" target="_blank" href="#">Mentimeter - audience response
            tool</a>
        </h1>
        <p> Mentimeter is a web-based, real-time polling tool that enables you to interact with your audience.
        </p>
      </div>
      <footer class="teaser-footer">
        <ul class="list list-horizontal">
          <li><a href="">Find out more about Mentimeter - audience response tool</a></li>
          <li><a href="">Help with Mentimeter - audience response tool</a></li>
        </ul>
      </footer>
    </section>
  </div>
  <footer class="box-footer">
    <p><a href="#">All applications</a></p>
  </footer>
</section>