<div class="col-md-4">
  <section class="box">
    <header class="box-header">
      <h1 class="box-title"><a href="#">Box with link header</a></h1>
    </header>
    <div class="box-body">
      <p class="lead">This is the Lead text in the box-body.</p>
      <ul class="list">
        <li>List item</li>
      </ul>
    </div>
    <footer class="box-footer">
      <p><a href="#">This link is in the box-footer</a></p>
    </footer>
  </section>
</div>