@media #{$breakpoint-md-up}
  .teaser
    &.teaser-large
      .teaser-title
        font-size: 3.125rem
        line-height: 3.125rem

      &.teaser-vertical  
        margin: $baseUnit*1.1
        padding: $baseUnit