$teaserSmallImageWidth: $baseUnit*7
$teaserImageWidth: $baseUnit*17
$teaserLargeImageWidth: $baseUnit*27
$teaserLargerImageWidth: $baseUnit*37
$teaserKeyWidth: $baseUnit*2.5
$teaserMarginBottom: $baseUnit*2

.teaser
  @include clearfix()
  margin-bottom: $teaserMarginBottom

  &-title 
    font-family: $headingsFontFamilyLight
    font-size: map-get($font29, 'size')
    line-height: map-get($font29, 'line-height')
    margin-bottom: 0

    a:after 
      content: ''

  &-category 
    font-family: $headingsFontFamily
    font-size: map-get($font15, 'size')
    line-height: 1.25rem
    text-transform: none
    margin-bottom: 0

    a 
      color: $colourRed
    
    .icon
      @include square(17px)
      margin-bottom: $baseUnit*0.7

  &-body 
    position: relative

    .teaser-date 
      font-family: $headingsFontFamily
      font-size: map-get($font13, 'size')
      margin-bottom: $baseUnit*0.5
      color: $colourTintDarker

  &-footer 
    font-size: map-get($font15, 'size')
    margin: ($baseUnit*0.5) 0 0

    li 
      a 
        text-decoration: none
    
        &:hover 
          text-decoration: underline

    .icon
      opacity: 0.6
      color: $colourLink

  &.teaser-small 
    margin-bottom: $baseUnit

    .teaser-title 
      font-family: $headingsFontFamily
      font-size: map-get($font18, 'size')
      line-height: map-get($font17, 'line-height')
      margin-bottom: $baseUnit*0.2
    
    .teaser-body 
      font-size: map-get($font12, 'size')
      line-height: 1rem

      p 
        a 
          text-decoration: none
    
          &:hover 
            text-decoration: underline
    
    .teaser-date 
      line-height: 1.25rem

  &.teaser-large 
    border-top: $baseUnit*0.3 solid $colourTintLightest
    border-bottom: $baseUnit*0.3 solid $colourTintLightest
    margin: #{$baseUnit*2} 0 #{$baseUnit*3}
    padding: #{$baseUnit*2} 0 #{$baseUnit*3}

    .teaser-title 
      font-family: $headingsFontFamilyLight
      font-size: map-get($font36, 'size')
      line-height: map-get($font36, 'line-height')
      margin-bottom: $baseUnit*0.5
    
    .teaser-body
      p
        font-family: $headingsFontFamily
        font-size: map-get($font16, 'size')
        line-height: 1.25rem
      
      .teaser-category 
        text-transform: none
        font-family: $headingsFontFamily
        font-size: map-get($font15, 'size')
        line-height: 1.25rem

        .icon 
          @include square(14px)
          fill: $colourRed
  
  &.with-image 
    padding-left: ($teaserImageWidth + ($baseUnit*2))

    .teaser-image 
      margin: 0
      margin-left: -($teaserImageWidth + ($baseUnit*2))
      float: left
      position: relative

      img 
        @include box-shadow(0 0 $baseUnit*0.2 rgba($colourBlack, 0.2))
      
      a 
        display: block
    
    &.teaser-small 
      padding-left: ($teaserSmallImageWidth + $baseUnit)

      .teaser-image 
        margin-left: -($teaserSmallImageWidth + $baseUnit)
      
    &.teaser-large 
      padding-left: ($teaserLargeImageWidth + ($baseUnit*2))

      .teaser-image 
        margin-left: -($teaserLargeImageWidth + ($baseUnit*2))

  &.teaser-vertical
    .teaser-title
      font-family: $headingsFontFamilyLight
      font-size: map-get($font26, 'size')
      line-height: map-get($font26, 'line-height')
      margin-bottom: $baseUnit*2

    .teaser-category
      font-family: $headingsFontFamilyLight
      font-size: 0.875rem
      text-transform: uppercase

      .icon
        @include square(10px)
        margin: $baseUnit*0.5 0 $baseUnit*0.7 $baseUnit*0.3
        fill: $colourTapa

      a
        color: $colourLink
        text-decoration: none
        padding: $baseUnit*0.8 $baseUnit $baseUnit*0.8 0

        &:hover
          text-decoration: underline 

    &.with-image
      padding-left: 0
      display: flex
      flex-direction: column

      .teaser-image 
        margin-left: 0
        margin-bottom: $baseUnit
        float: none
        width: 100%

        img
          width: 100%
      
      &.teaser-small
        .teaser-title
          font-size: map-get($font18, 'size')
          line-height: map-get($font17, 'line-height')
          margin-bottom: $baseUnit*0.2

  &.with-personalisation
    .teaser-body
      .teaser-category
        a
          color: $colourGenoa

    .teaser-image
      position: relative  
      
  &.teaser-featured 
    border-top: $baseUnit*0.3 solid $colourTintLightest
    border-bottom: $baseUnit*0.3 solid $colourTintLightest
    margin: #{$baseUnit*2} 0 #{$baseUnit*3}
    padding: #{$baseUnit*2} 0 #{$baseUnit*3}

    .teaser-footer 
      .list-horizontal 
        margin-bottom: 0
      
    .teaser-body 
      .teaser-category 
        text-transform: none
        font-family: $headingsFontFamily
        font-size: map-get($font15, 'size')
        line-height: 1.25rem

        .icon 
          @include square(map-get($svgWidths, 'xs'))
          fill: $colourRed

  &.teaser-news
    .teaser-date 
      margin: 0

    &.with-image 
      padding-left: 0

      .teaser-image
        margin: 0
        float: right
        width: 100%

        img
          width: 100%

      &.teaser-small
        padding-left: ($teaserSmallImageWidth + $baseUnit)

        .teaser-image
          margin: 0 0 0 #{-($teaserSmallImageWidth + $baseUnit)}
          float: left
          width: $teaserSmallImageWidth

  &.teaser-event 
    margin-bottom: $baseUnit*0.5

    .event-meta 
      margin-bottom: $baseUnit
      margin-top: $baseUnit*0.5

      .icon
        position: relative
        top: -2px 

      li 
        margin-bottom: $baseUnit*0.5

  &.teaser-staff-event 
    border-top: $baseUnit*0.1 solid $colourGreyLighter

    &:last-child 
      border-bottom: $baseUnit*0.1 solid $colourGreyLighter
    
    .event-date 
      margin: #{$baseUnit*2.5} #{$baseUnit*3} 0 0
    
    &.teaser-personalised 
      .event-date,
      .teaser-body 
        margin-top: $baseUnit*1.3

      .school-container 
        margin-bottom: 0
      
    .teaser-body 
      display: inline-block
      vertical-align: top
      margin-top: $baseUnit*2.5
      width: calc(100% - 80px)

      .teaser-title 
        font-size: map-get($font29, 'size')
        line-height: map-get($font29, 'line-height')
        margin-bottom: 0
        font-family: $headingsFontFamilyLight
      
      .list 
        font-size: map-get($font15, 'size')
        margin: $baseUnit 0
        font-family: $headingsFontFamily

        li
          margin-bottom: $baseUnit*0.4

        .icon
          margin-bottom: 0
          fill: $colourGreyDarker
        
        li:last-child 
          p 
            margin-bottom: 0
          
    .teaser-vertical 
      .teaser-image 
        width: ($gridColumnWidth*2) + $gridGutterWidth

  &.teaser-section 
    .teaser-title 
      font-size: map-get($font28, 'size')
      line-height: map-get($font27, 'line-height')
      font-family: $headingsFontFamilyLight
      margin-bottom: $baseUnit

    .teaser-body 
      p 
        color: $colourGreyDarker

    &:nth-child(even) 
      float: right
      clear: right
    
    &:nth-child(odd) 
      float: left
      clear: left

    .school-container 
      margin-right: $baseUnit*3.7

      &-text 
        display: inline-block
        padding: #{$baseUnit*0.3} $baseUnit #{$baseUnit*0.1}

  &.teaser-boxed 
    border: $baseUnit*0.1 solid $colourGreySoft
    padding: $baseUnit*2

    .teaser-title 
      font-size: map-get($font22, 'size')
      line-height: map-get($font22, 'line-height')
      margin-bottom: $baseUnit
    
    .teaser-body 
      .teaser-category 
        color: $colourGreyDarkest
        font-size: map-get($font11, 'size')
        line-height: 1.25rem
      
      p 
        margin-bottom: 0

  &.with-key
    &:before
      @include square($teaserKeyWidth)
      @include border-radius(100%)
      font-family: $boldFontFamily
      content: attr(data-key)
      background: $colourRed
      color: $colourWhite
      display: inline-block
      text-align: center
      vertical-align: middle
      font-size: map-get($font11, 'size')
      line-height: 1.4375rem
      margin: 0
      float: left
      
    .teaser-body 
      margin-left: ($teaserKeyWidth + $baseUnit)

    + .teaser.with-key
      border-top: $baseUnit*0.1 solid $colourGreyLight
      padding-top: $baseUnit

    &[data-campus*='Heath'] 
      &:before 
        background: $colourBtnLinkColour
    
    &[data-campus*='Cathays'] 
      &:before 
        background: $colourRed
      
    &[data-campus*='Hospital'] 
      &:before 
        background: $colourTahitiGold 

  &-personalised,
  &-news,
  &-section 
    border-top: $baseUnit*0.1 solid $colourGreyLighter
    position: relative
    padding-top: $baseUnit*2

    .school-container 
      margin: (-$baseUnit) 0 #{$baseUnit*2} 0

  &.fill-height
    height: calc(100% - #{$teaserMarginBottom})

.col-md-9
  .teaser
    &.with-image
      .teaser-image
        margin-bottom: $baseUnit*3

@import 'teaser-md-only'
@import 'teaser-md-up'
@import 'teaser-lg-up'