@media #{$breakpoint-lg-up}
  .teaser 
    &.with-image 
      a 
        &:focus 
          img 
            box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn

    .teaser-body 
      .teaser-category 
        a 
          &:focus 
            text-decoration: none
      
      p 
        a 
          &:focus 
            background-color: $colourSweetCorn
            box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn
    
    .teaser-title 
      a 
        &:focus 
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn
          text-decoration: none

    &.teaser-news
      &.with-image
        padding-right: $baseUnit*19

        .teaser-image
          margin: 0 (-$baseUnit*19) 0 0
          width: 170px

      &.teaser-small
        &.with-image
          padding-right: 0

    &.teaser-section
      .teaser-title
        font-size: 2.1875rem
        line-height: 2.1875rem