<!-- Button to trigger modal -->
<a href="#demo-with-img" role="button" class="btn btn-primary" data-toggle="modal">Launch demo with image</a>

<!-- Modal -->
<div id="demo-with-img" class="modal modal-image fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
          class="icon-close icon-small">${require-svg('close')}</span></button>
      <div class="modal-body">
        <figure class="image">
          <img src="http://placehold.it/570x320" alt="Placeholder">
        </figure>
      </div>
    </div>
  </div>
</div>