<h2>Badge</h2>
<span class="badge">1</span>
<span class="badge badge-success">2</span>
<span class="badge badge-info">3</span>
<span class="badge badge-warning">4</span>
<span class="badge badge-important">5</span>
<span class="badge badge-inverse">6</span> 
<br ><br >
<span class="badge">badge</span>
<span class="badge badge-success">badge-success</span>
<span class="badge badge-info">badge-info</span>
<span class="badge badge-warning">badge-warning</span>
<span class="badge badge-important">badge-important</span>
<span class="badge badge-inverse">badge-inverse</span> 