.footer-global
  @include fontantialiasing()
  margin: ($baseUnit*2) 0 0 0
  padding: $baseUnit*2 0
  background: $colourPickledBluewood
  color: $colourTintLightest

  .icon 
    color: $colourPrimeGrey

  a
    color: $colourTintLightest
    border-bottom: ($baseUnit*0.1) solid $colourGreyLighter
    padding-bottom: ($baseUnit*0.1)

    &:hover
      text-decoration: none
      color: $colourGreyLighter
      border-bottom-color: $colourGreySoft
      
  p 
    a 
      text-decoration: none

  .list
    li
      a
        text-decoration: none
        
  .footer-subtitle
    font-size: map-get($font27, 'size')
    color: $colourTintLightest
    line-height: $baseUnit*3
    margin-bottom: $baseUnit
    
    a
      border: none

@import footer-global-sm-up
@import footer-global-lg-up