@media #{$breakpoint-lg-up}
  .footer-global
    .list
      li
        a 
          &:focus
            text-decoration: underline
    a
      &:focus
        background-color: $colourSweetCorn
        color: $colourPickledBluewood
        box-shadow: 0 0 0 ($baseUnit * 0.3) $colourSweetCorn
        text-decoration: underline
        outline: none