<h2>Box</h2>
${require('variations/box.html')}

<h3>With icon</h3>
${require('variations/box-icon.html')}

<h3>Box-Event</h3>
${require('variations/box-event.html')}

<h3>Box-Inverse</h3>
${require('variations/box-inverse.html')}

<h3>Box-file</h3>
${require('variations/box-file.html')}

<h3>Box calltoaction with img</h3>
${require('variations/box-calltoaction.html')}

<h2>Box feature</h2>
${require('variations/box-feature.html')}

<h2>Box feature personalisation</h2>
${require('variations/box-feature-personalisation.html')}


<h2>Equal height boxes</h2>
${require('variations/box-eq-height.html')}