<footer class="footer-global hidden-print">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h2 class="footer-subtitle"><a href="https://intranet.cardiff.ac.uk/staff/about-the-intranet">About the
            intranet</a></h2>
        <p>The intranet is the website for staff and current students and a way to access other University systems that
          require a web browser.</p>
        <p>Cardiff University is a member of the Russell Group of Universities and a registered charity No. 1136855<br>Copyright
          © Cardiff University</p>
      </div>

      <div class="col-md-3 offset-md-1">
        <h2 class="footer-subtitle">Quick links</h2>
        <ul class="list">
          <li><a href="https://intranet.cardiff.ac.uk/staff/forms" class="ga-event" data-action="click" data-category="footer-global"
              data-label="Forms">Forms</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/staff/policies" class="ga-event" data-action="click"
              data-category="footer-global" data-label="Policies">Policies</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/staff/applications" class="ga-event" data-action="click"
              data-category="footer-global" data-label="Applications">Applications</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/staff/directories/university-staff-and-teams" class="ga-event"
              data-action="click" data-category="footer-global" data-label="University staff and teams">University
              staff and teams</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/staff/map" class="ga-event" data-action="click" data-category="footer-global"
              data-label="Map">Map</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings" class="ga-event"
              data-action="click" data-category="footer-global" data-label="University buildings">University buildings</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/students/on-campus/services-and-facilities" class="ga-event"
              data-action="click" data-category="footer-global" data-label="University staff and teams">Find services
              and facilities</a></li>
          <li><a href="https://intranet.cardiff.ac.uk/staff/directories/groups-and-networks" class="ga-event"
              data-action="click" data-category="footer-global" data-label="Groups and networks">Groups and networks</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2 class="footer-subtitle">Emergencies</h2>
        <p>If there is an emergency on campus, call Security on<br> +44 (0)29 2087 4444.</p>
        <p><a href="https://intranet.cardiff.ac.uk/students/health-and-wellbeing/urgent-advice">Urgent advice or
            support for students</a></p>
        <p>
        </p>
      </div>

    </div>
    <div class="row">

      <div class="col-md-12">
        <ul class="list list-horizontal">
          <li><a href="https://intranet.cardiff.ac.uk/students/">Student intranet</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<script data-main="../../dist/js/main" src="../../dist/lib/require.js"></script>