.event
  &-header 
    border-bottom: $baseUnit*0.3 solid $colourGreyLighter
    margin-bottom: $baseUnit*3
    
    &-date
      font-size: map-get($font20, 'size')
      margin-bottom: 0

      .icon
        @include square(map-get($svgWidths, 'md20')) 
        margin-bottom: $baseUnit*0.6

  &-date 
    display: inline-block
    width: 40px
    color: $colourHaiti
    text-align: center
    vertical-align: top

    & > time 
      display: block
      line-height: 1
    
    &-day 
      font-family: $boldFontFamily
      font-size: map-get($font38, 'size')
    
    &-month
      font-size: map-get($font24, 'size')
      margin-bottom: $baseUnit*0.5
    
    &-year
      font-size: map-get($font14, 'size')