.circle-navigation 
  svg 
    margin-bottom: $baseUnit*2
  
  path,
  text 
    cursor: pointer
    font-weight: bold
  
  path 
    stroke: $colourWhite
    stroke-width: 3px

@import 'circle-navigation-lg-up'