@media #{$breakpoint-sm-up}
  .x-scroll
    &--full-width
      margin: 0 -#{$baseUnit * 3}
      padding-bottom: ($baseUnit*2)

      > div
        &:first-child
          margin-left: #{$baseUnit * 3}

        &:last-child
          &::after
            content: ""
            width: 30px
            position: absolute
            left: 100%
            height: 1px