<div class="container-handbooksearch">
  <form class="form-inline">
    <legend id="handbook-search-legend"><h2>Download module catalogues</h2></legend>
    <label class="sr-only" for="school1">Academic School</label>
    <select name="school1" id="school1" class="">
      <option value="Academic School">Academic School</option>
    </select>
    <label class="sr-only" for="handbook_level">Level</label>
    <select id="handbook_level" name="handbook_level"
      class="">
      <option value="Level">Level</option>
    </select>
    <label class="sr-only" for="handyear">Academic year</label>
    <select name="handyear" id="handyear" class="">
      <option value='Academic year' selected>Academic year</option>
      <option value='2012'>2012/2013</option>
      <option value='2013'>2013/2014</option>
      <option value='2014'>2014/2015</option>
      <option value='2015'>2015/2016</option>
      <option value='2016'>2016/2017</option>
      <option value='2017'>2017/2018</option>
      <option value='2018'>2018/2019</option>
      <option value='2019'>2019/2020</option>
      <option value='2020'>2020/2021</option>
    </select>
    <a href="" data-search="school" class="searchHandbook btn btn-lg btn-success">${require-svg('download')}Download</a>
  </form>
</div>